.icon-clock:before {
  content: "\e942";
}
.icon-facebook:before {
  content: "\e943";
}
.icon-twitter-black:before {
  content: "\e944";
}
.icon-linkedin:before {
  content: "\e945";
}
.icon-search:before {
  content: "\e900";
}
.icon-pencil-with-eraser:before {
  content: "\e901";
}
.icon-suitcase:before {
  content: "\e902";
}
.icon-play-video:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e904";
}
.icon-compose:before {
  content: "\e905";
}
.icon-lock:before {
  content: "\e906";
}
.icon-unlock:before {
  content: "\e907";
}
.icon-ban:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e909";
}
.icon-file-zip:before {
  content: "\e90a";
}
.icon-file-doc:before {
  content: "\e90b";
}
.icon-file-pdf:before {
  content: "\e90c";
}
.icon-file-jpg:before {
  content: "\e90d";
}
.icon-file-ppt:before {
  content: "\e90e";
}
.icon-file-exe:before {
  content: "\e90f";
}
.icon-file-png:before {
  content: "\e910";
}
.icon-file-text-up:before {
  content: "\e911";
}
.icon-file-upload:before {
  content: "\e912";
}
.icon-file-download:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-thumb-up:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e916";
}
.icon-star-outline:before {
  content: "\e917";
}
.icon-pencil:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
}
.icon-users:before {
  content: "\e91a";
}
.icon-newspaper:before {
  content: "\e91b";
}
.icon-world:before {
  content: "\e91c";
}
.icon-pin-location:before {
  content: "\e91d";
}
.icon-user-group:before {
  content: "\e91e";
}
.icon-user-add:before {
  content: "\e91f";
}
.icon-user-remove:before {
  content: "\e920";
}
.icon-user-delete:before {
  content: "\e921";
}
.icon-user-profile:before {
  content: "\e922";
}
.icon-file-text:before {
  content: "\e923";
}
.icon-printer:before {
  content: "\e924";
}
.icon-help:before {
  content: "\e925";
}
.icon-info:before {
  content: "\e926";
}
.icon-alert:before {
  content: "\e927";
}
.icon-plus:before {
  content: "\e928";
}
.icon-minus:before {
  content: "\e929";
}
.icon-check:before {
  content: "\e92a";
}
.icon-delete:before {
  content: "\e92b";
}
.icon-bell:before {
  content: "\e92c";
}
.icon-bell-outline:before {
  content: "\e92d";
}
.icon-bell-outline-disabled:before {
  content: "\e92e";
}
.icon-calendar:before {
  content: "\e92f";
}
.icon-add-calendar:before {
  content: "\e930";
}
.icon-remove-calendar:before {
  content: "\e931";
}
.icon-check-calendar:before {
  content: "\e932";
}
.icon-delete-calendar:before {
  content: "\e933";
}
.icon-briefcase:before {
  content: "\e934";
}
.icon-navigation-up:before,
.icon-navigation-up-after:after {
  content: "\e935";
}
.icon-navigation-right:before,
.icon-navigation-right-after:after {
  content: "\e936";
}
.icon-navigation-down:before,
.icon-navigation-down-after:after {
  content: "\e937";
}
.icon-navigation-left:before,
.icon-navigation-left-after:after {
  content: "\e938";
}
.icon-arrow-up:before {
  content: "\e939";
}
.icon-arrow-up-right:before {
  content: "\e93a";
}
.icon-arrow-right:before {
  content: "\e93b";
}
.icon-arrow-down-right:before {
  content: "\e93c";
}
.icon-arrow-down:before {
  content: "\e93d";
}
.icon-arrow-down-left:before {
  content: "\e93e";
}
.icon-arrow-left:before {
  content: "\e93f";
}
.icon-arrow-up-left:before {
  content: "\e940";
}
.icon-business-user:before {
  content: "\e941";
}

.icon-link:before {
  content: "\e946";
}
.icon-smart-phone:before {
  content: "\e947";
}
.icon-resume:before {
  content: "\e948";
}
.icon-logout:before,
.icon-logout-after:after {
  content: "\e949";
}
.icon-map-location:before {
  content: "\e94a";
}

.icon-folder-upload:before {
  content: "\e94b";
}

.icon-folder-download:before {
  content: "\e94c";
}
