<div class="mini-site-social-media">
  <ul>
    {% for lien in liens %}
      {% if "facebook" in lien.uri %}
        {% set class = "fa-facebook-square" %}
      {% elseif "twitter" in lien.uri %}
        {% set class = "fa-twitter" %}
      {% elseif "linkedin" in lien.uri %}
        {% set class = "fa-linkedin-square" %}
      {% elseif "youtube" in lien.uri %}
        {% set class = "fa-youtube" %}
      {% elseif "youtu.be" in lien.uri %}
        {% set class = "fa-youtube-play" %}
      {% elseif "instagram" in lien.uri %}
        {% set class = "fa-instagram" %}
      {% elseif "viadeo" in lien.uri %}
        {% set class = "fa-viadeo" %}
      {% elseif "hypotheses" in lien.uri %}
        {% set class = "up1-hypotheses" %}
      {% elseif "hal-paris1" in lien.uri %}
        {% set class = "up1-hal" %}
      {% elseif "archives-ouvertes" in lien.uri %}
        {% set class = "up1-hal" %}
      {% endif %}
      <li>
        <span>
          <a href="{{ lien.uri }}" class="fab {{ class }}" title="{{ lien.title }}" target="_blank"></a>
        </span>
      </li>
    {% endfor %}
  </ul>
</div>
