.paragraphs-ee-dialog-wrapper {
  max-height: 75vh !important;
}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons .category-title {
  text-align:center;
  font-weight: 800;
  font-size:1.5rem;
  background-color: #f1f1f1;
  margin:1rem 0.5rem 0;
}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons .summary {
  text-align:center;
  padding:0;
  margin:0.5rem;
  border-top:1px solid #F1F1F1;
  border-bottom:1px solid #F1F1F1;

}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons .paragraphs-button--add-more {
  width: calc(33% - 3rem) !important;
}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons-list .button--small {
  font-weight: 500;
  padding: 0.5rem !important;
}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons-list .button--small:hover, .adminimal .button--small:focus {
  color: #000 !important;
  background-color: #dfeee8 !important;
  background-image: none;
  border: 1px solid #555 !important;
}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons-list .button--small .paragraphs-label {
  text-align:center;
  font-weight: 800;
  font-size: 1rem;
}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons-list .button--small .paragraphs-description {
  text-align:center;
  padding:0.5rem
}
.paragraphs-ee-dialog-wrapper .paragraphs-ee-buttons-list .button--small .paragraphs-button--icon_overlay--wrapper {
  display: none;
}
.adminimal .button:hover, .adminimal .button:focus {
  background-color: #FFFFFF;
  border-color: #008ee6;
  color: #008ee6;
}
