.lmc-mail-notifications-blk {
  position: relative;
}

.lmc-mail-notifications-blk .notifs-toggle {
  cursor: pointer;
}

.lmc-mail-notifications-blk .notis-container {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  max-height: 600px;
  overflow-y: auto;
}

.lmc-mail-notifications-blk .notis-container.active {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  z-index: 985;
}

.lmc-mail-notifications-blk .notis-container .views-row {
  background-color: #ffffff;
  padding: 10px 20px;
}
