#liste-page-perso {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}
div.pager {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.pager-top {
  margin-bottom: 4rem;
  font-size: 1.25rem;
}
.letter {
  padding: 1rem;
}
.pager.pager-top a {
  background-color: transparent;
}
.pager.pager-top a:hover {
  text-decoration: underline;
  color: #00326e;
}
#liste-page-perso .grid-container {
  max-width: 95rem;
}
#liste-page-perso .annuaire-content {
  column-rule: 1px solid #f1f1f1;
}
#liste-page-perso .annuaire-content {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
#liste-pp-emptyp .annuaire-content {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#liste-pp-emptyp .annuaire-content .annuaire-item span {
  display: block;
}
.annuaire-item {
  padding: 10px 5px;
}
#liste-pp-emptyp .pager .letter {
  padding: 1rem .5rem;
}
@media screen and (max-width: 795px) {
.annuaire-content {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-rule: 1px solid #f1f1f1;
}
  .letter {
    padding: .75rem;
  }
}
@media screen and (max-width: 490px) {
.annuaire-content {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  column-rule: none;
}
  .letter {
    padding: .5rem;
  }
}
