#trombi h1 {
  font-size: 3.25rem;
  margin-bottom: 2rem;
}
html :where(img) {
  height: auto;
  max-width: 100%;
}
.annuaire-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  padding-bottom: 40px;
}
.trombi-item {
  margin-right: 0px;
  width: 100%;
  position: relative;
  height: auto;
  margin-bottom: 20px;
  background-color: #F1F1F1;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-left-radius: 50px;
  border-bottom: 1px solid rgba(0, 50, 110, 0.4);
}
.trombi-item a {
  text-decoration: none!important;
  padding: 25px;
  color:#c89018;
}
.trombi-item:hover {
  background-color: rgba(0, 50, 110, 0.6);
  color:#FFF !important;
}
.trombi-item img{
  width:100px;
  height:auto;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-left-radius: 50px;
  border:10px solid #FFFFFF;
  position:relative;
  float:right;
  top:-13px;
  right:-13px;
  shape-outside:circle(50%);
  background-color:#FFF;
}
@media screen and (min-width:1240px){
  .trombi-item img{
    width:120px;
    height:auto;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;
    border:12px solid #FFFFFF;
    top:-13px;
    right:-13px;
  }
}
.trombi-item .trombi-infos {
  padding:25px;
}
.trombi-item .trombi-btn {
  position: absolute;
  width: 100%;
  bottom: 10px;
  height: 50px;
  left: 25px;
}
.trombi-item .trombi-btn .faux-btn {
  background-color: #00326E;
  color: #FFFFFF;
  padding: 8px 30px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  font-size: 11px;
  width: max-content;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.3s ease;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width:601px){
  .trombi-item {
    width: calc(33.3% - 13.33px);
    margin-right: 20px;
    padding-bottom: 60px;

  }
}
@media screen and (max-width:600px){
  .trombi-item {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
}
.annuaire-content .trombi-item:nth-child(3n) {
  margin-right: 0px;
}
.annuaire-content .trombi-item h2 {
  font-size: 1rem;
}
p {
  overflow-wrap: break-word;
}
.trombi-item .trombi-infos .trombi-employeetype {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.2rem;
  font-stretch: extra-condensed;
  color:#00326E;
}
.trombi-item .trombi-infos .trombi-role {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.2rem;
  font-stretch: extra-condensed;
  font-weight: bold;
  color:#00326E;
  margin-bottom:0.5rem;
}
.trombi-item .trombi-infos .trombi-affectation {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1rem;
}

.trombi-item .trombi-infos .trombi-skills li {
  display: inline-block;
  text-transform: initial;
  color: #00326e;
  background-color: #fff;
  border-color: #00326e;
  transition: all 150ms ease 0s;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.22;
  padding: 0.3125rem .5rem;
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
}
.trombi-item .trombi-infos .trombi-apropos {
  padding-top: 0.5rem;
  color: #000;
  font-size: 0.9rem;
}
