<!-- Add you custom twig html here -->
<div class="footer">
    {% for lien in liens %}
        {% if lien.uri starts with 'http' %}
                <a href="{{ lien.uri }}">{{ lien.title }}</a> {% if not loop.last %}|{% endif %}
        {% else %}
                {{ link(lien.title, lien.uri) }} {% if not loop.last %}|{% endif %}
        {% endif %}
    {% endfor %}
</div>
