<!-- Add you custom twig html here -->
<nav role="navigation" aria-label="{{ "Liens utiles footer"|t }}" class="footer">  
  <ul>
    {% for lien in liens %}
        {% if lien.uri starts with 'http' %}
                <li><a href="{{ lien.uri }}">{{ lien.title }}</a></li> {# % if not loop.last %}|{ % endif % #}
        {% else %}
		<li>{{ link(lien.title, lien.uri) }} {# % if not loop.last %}|{ % endif % #}</li>
        {% endif %}
    {% endfor %}
  </ul>
</nav>
