<!-- Add you custom twig html here -->
<div class="footer"><ul>
    {% for lien in liens %}
        {% if lien.uri starts with 'http' %}
                <li><a href="{{ lien.uri }}">{{ lien.title }}</a></li> {% if not loop.last %}|{% endif %}
        {% else %}
                <li> {{ link(lien.title, lien.uri) }} </li> {% if not loop.last %}|{% endif %}
        {% endif %}
    {% endfor %}
<<<<<<< HEAD
</ul></div>
=======
</div>
>>>>>>> f55033b46f1acfecdb75bd4ac0c75965a0d73d42
