@media print {

  @page { margin: 0; }
  body { margin: 1.6cm; }

   #region-header,nav,footer,#flag-cv,#buttons-cv-wrapper{display:none !important;}


  .box-style.no-hover .acro-name {
    background-color: #212529;
    color: #fff;
  }

  .row {
    display: block;
  }

}
