#edit-offer-title {
  color: #00386e;
  font-size:2.4rem;
  font-family: "Bitter", serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.webform-submission-job-submit-application-form .form-item label {
  display: block !important;
}

.webform-submission-job-submit-application-form .form-item-job-firstname input,
.webform-submission-job-submit-application-form .form-item-job-name input {
  padding: 0 1.5rem 0 4.5rem;
}

#edit-file-upload input {
  border: none;
}

#edit-file-upload input[type=submit] {
  width: auto;
}

.webform-submission-job-submit-application-form .webform-button--submit {
  display: block !important;
  margin: 1rem auto !important;
  width: 50% !important;
}

.job-application {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.form-managed-file {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.form-managed-file .form-file {
  width: auto;
  padding: 0;
  border-radius: 0;
}

.js-form-type-webform-document-file {
  margin-bottom: 2rem;
}

#edit-file-upload {
  display: grid;
  grid-template-columns: 100%;
}

@media screen and (min-width:1023px) {
  .job-application {
    grid-template-columns: auto auto;
    column-gap: 3rem;
  }
  #edit-file-upload {
    grid-template-columns: auto auto;
    column-gap: 3rem;
  }
}
