/*
    Feuille de style SCSS
    SMACSS : Responsive > Small
    Par Ebizproduction
*/

/* Ebizproduction : Responsive > Mobile */
@include breakpoint($medium - 1 down) {
	$fgutter: 24px;
	.video-subtitle{
		word-break: break-all;
	}
	.form-item{
	  &:not(.last){
	    margin-bottom: rem-calc($fgutter);
	  }
		&:not([class*="form-type-radio"]):not([class*="form-type-checkbox"]){
			&.focused, &.placeholder{
				&> label{
					max-width: 79%;
				}
			}
		}
	}
}//close media - medium
