/*
    Feuille de style SCSS
    SMACSS : Responsive > XXlarge
    Par Ebizproduction
*/

/* Ebizproduction : Responsive > Trop large */

//@media (max-width: ($xxlarge - 1)) {
@include breakpoint($xxxlarge - 1 down) {
  h1{
    font-size: rem-calc(80px);
  }
  .txt{
    &.big{
      font-size: rem-calc(30px);
    }
  }
  .footer{
    .footer-wrapper{
      adding: rem-calc(48px 32px);
    }
  }
}
