/*
    Feuille de style SCSS
    SMACSS : Responsive > large
    Par Ebizproduction
*/


/* Ebizproduction : Responsive > Tablette */
@include breakpoint($xlarge - 1 down) {
	$rem-base: 10px;
	.site-content-wrapper{
			.btn, .button--primary,
			button:not(.reset-btn):not(.trigger):not(.link-style):not(.icon-container):not(.toolbar-item):not(.toolbar-icon),
			input[type="submit"].button {
					font-size: rem-calc(17px);
					&.big {
							font-size: rem-calc(17px);
					}
			}//close btn
	}//close .site-content-wrapper

	.centres-up1-form, .center-wrapper {
	  .map-centre {
	    .overlay-infos{
	      padding: rem-calc(32px);
	      .form-item{
	        flex: 0 0 87%;
	        max-width: 87%;
	      }
	    }
	  }
	}

	.paragraph--type--hit-list{
	  .paragraph__column{
	    .paragraph__column{
	      font-size: rem-calc(18px);
	      *{
	        font-size: rem-calc(28px);
	      }
	     }
	  }
	}//close .paragraph--type--hit-list

	.footer .footer-wrapper{
		padding: rem-calc(32px);
		.two-columns-wrapper .two-columns ul li{
			margin: 0 rem-calc(8px);
		}
		a{
			font-size: rem-calc(16px);
		}
	}

}//close media - xlarge
