/*
    Feuille de style SCSS
    SMACSS : Responsive > Small
    Par Ebizproduction
*/

/* Ebizproduction : Responsive > Mobile */
@include breakpoint($medium - 1 down) {
	$fgutter: 24px;
	.video-subtitle{
		word-break: break-all;
	}
	/*.form-item{
	  &:not(.last){
	    margin-bottom: rem-calc($fgutter);
	  }
		&:not([class*="form-type-radio"]):not([class*="form-type-checkbox"]){
			&.focused, &.placeholder{
				&> label{
					max-width: 79%;
				}
			}
		}
	}*/

	.views-exposed-form{
	  .form-item:not(.form-actions){
	    width: 100%;
	    &+ .form-item:not(.form-actions){
	      #{$margin-left}: 0; margin-top: rem-calc(16px);
	    }
	  }
	}

}//close media - medium
