/*
    Feuille de style SCSS
    SMACSS : Responsive > Medium
    Par Ebizproduction
*/

//large up
@include breakpoint($large){
	.margin-bottom-mobile{
		margin-bottom: 0;
	}
	#region-header{
		.header-right{
			.header-right-inner{
				#block-headerrightmenu{
					>ul {
						>li{
							ul{
								opacity: 0; top: rem-calc(64px);
								visibility:hidden;
							}
							&:hover {
								 ul {
									opacity: 1; visibility: visible;
									li{
										a{
											pointer-events: auto;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

}

//large down
/* Ebizproduction : Responsive > Phablette */
@include breakpoint($large - 1 down) {
	$fgutter : 24px;
	.header-conter{order: -1;}
	//superfish menu
	#region-header{
		.header-inner >.row{@include flexDisplayAlign('space-between');}
		padding: rem-calc($fgutter);
		.header-left{
			padding: 0;
			.header-left-inner{
				img{ width: rem-calc(48px);}
				.site-info{display: none;}
			}
		}// fin header left
		.header-right{
			position: unset;
			.header-right-inner{
				position: unset;
				>div{
					position: unset;
				}
				#block-headerrightmenu{
					width: 100%; z-index: 1; position: unset;
					>ul {
						position: unset;
						>li{
							ul{
								position: absolute; width: 100%; top: rem-calc(98px);
								left: 0; z-index: -1; opacity: 0; box-shadow: none;
								visibility: hidden; transition: 150ms ease all;
								width: 100%;
								li{
									display: block; width: 100%;
									a{padding: rem-calc(16px);}
								}
							}
						}
					}
					&.menu-expanded {
						>ul > li > ul{
							z-index: 9999; opacity: 1; visibility: visible;
						}
					}
				}
			}
		}
		.header-conter{
			flex: 0 0 rem-calc($fgutter); padding: 0;
			position: unset;
			.header-center-inner{
				width:auto; position: unset;
				>div{
					position: unset;
				}
				#block-mainnavigation{
					width: 100%; z-index: 1; position: unset;
					@include flexDisplay(); align-items: center;
					.icon-menu{
						display: block;	right: rem-calc(24px);
						padding: rem-calc(12px);
						span.toggle-container{
						width: rem-calc($fgutter); height: rem-calc($fgutter/1.71);
						display: block; position: relative;
						-ms-transform: rotate(0deg); transform: rotate(0deg);
						@include transitionEffect(500ms, ease-in-out); cursor: pointer;
						>span{
							display: block; position: absolute;
							height: rem-calc(2px); width: 100%;
							background: $dark-gray; border-radius: rem-calc(9px);
							opacity: 1; left: 0;
							-ms-transform: rotate(0deg); transform: rotate(0deg);
							@include transitionEffect(250ms, ease-in-out);
						}
						span:nth-child(1){
							top:0;
						}
						span:nth-child(2), span:nth-child(3){
							top:rem-calc(6px);
						}
						span:nth-child(4){
							top:rem-calc(12px);
							//width: rem-calc($fgutter/1.5);
							width: 66%;
						}
					}
					}
					> .menu{
						position: absolute; width: 100%; top: rem-calc(98px);
						left: 0; z-index: -1; opacity: 0;
						visibility: hidden; transition: 150ms ease all;
							width: 100%;
						  li {
							display: block; width: 100%;
							a, span:not([class*="icon-"]){
								display: block; padding: rem-calc(16px); text-align: left;
							}
							&:not(:last-of-type){margin-right: 0;}
							&.has-children{
								.li-menu-wrapper{
									> a, > span:not([class*="icon-"]){padding: rem-calc(16px 56px 16px 16px); }
								}
								.menu-wrapper{
									 max-height: 0; overflow: hidden; transition: 350ms ease-in-out all;
									ul{
										opacity: 1; top: 0;
										width: 100%;
										position: relative; margin: 0; overflow: hidden;
										a{padding: rem-calc(16px); font-size: rem-calc(11px);}
										box-shadow: none;
									}
								}
								[class*="icon-"]{
									position: absolute; right: 0; padding: rem-calc(16px);
									top: 50%; transform: translateY(-50%); height: 100%;
									@include flexDisplay(); @include flexDisplayAlign('center-middle');
									&:before{
										display: block; @include box-shadow();
										transform: rotate(-90deg);
									}
									&:focus{
										outline: none;
									}
								}
								&.sousmenu-expanded {
									[class*="icon-"]:before{
										transform: rotate(0deg);
									}
									.menu-wrapper{
										max-height: rem-calc(144px);
										ul {
 										visibility: visible;
 										li{
 											a{pointer-events: auto;}
 										}
 									}
									}
								}
							}
						}
					}
					&.menu-expanded{
						.icon-menu{
							span.toggle-container{
							span:nth-child(2){
								transform: rotate(45deg);
							}
							span:nth-child(3){
								transform: rotate(-45deg);
							}
							span:nth-child(1),span:nth-child(4){
								top: rem-calc(6px); width: 0%; opacity: 0;
							}
							span:nth-child(1){ left: 50%; }
							span:nth-child(4){ right: 50%; }
						}
						}
						> .menu{
							opacity: 1; visibility: visible;
							z-index: 9999;
						}
					}
				}
			}
		}//==== fin header center
	} // fin region header

	//fin menu

	#main{padding-top: rem-calc(16px);}
	.semi-field-sep, .semi-field-sep-val{margin-bottom: rem-calc($fgutter/1.5);}//16px
	.form-sep-top{margin-top: rem-calc($fgutter/1.5);}//16px
	.title-sep, .parag-sep, .infos-sep{
		margin-bottom: rem-calc($fgutter/1.5); //16px
		&.big{margin-bottom: rem-calc($fgutter/1.5);} //16px
	}
	.block-sep{
		margin-bottom: rem-calc($fgutter/0.75); //32px
		.before-content & {
			margin-bottom: rem-calc($fgutter); //24px
		}
	}
	.semi-infos-sep{margin-bottom: rem-calc($fgutter/3);}//8px
	.field-sep{
		margin-bottom: rem-calc($fgutter); //24px
	}
	.section-title-sep, .section-sep{
		margin-bottom: rem-calc($fgutter); //24px
		&.big{
			margin-bottom: rem-calc($fgutter/0.75); //32px
		}
	}

	.block-padding-top-bottom{
		padding: rem-calc($fgutter/0.75 0);//32px 0
		&.profile-top{
			padding: rem-calc($fgutter 0);//24px 0
		}
	}
	.section-padding-bottom{
		&.double{
			padding-bottom: rem-calc($fgutter/0.75); //32px
		}
	}

	.txt{
		font-size: rem-calc(12px); line-height: 1.66;
	}



	/* TYPOGRAPHY -- BEGIN */
	h1, .h1-style{
		font-size: rem-calc(24px); line-height: 1.33;
	}

	h2, .h2-style{
		font-size: rem-calc(18px); line-height: 1.55;
	}
	h3, .h3-style{
		font-size: rem-calc(14px); line-height: 1.71;
	}
	h4, .h4-style{
		font-size: rem-calc(14px);  line-height: 1.5;
	}
	h5, .h5-style{
		font-size: rem-calc(13px);
	}
	h6, .h6-style{
		font-size: rem-calc(13px);
	}
	/* TYPOGRAPHY -- END */


	label, .label-style{
		line-height:1.67; font-size: rem-calc(12px);
		&.small{
			line-height:1.6; font-size: rem-calc(10px);
			letter-spacing: 0;
		}
	}// fin label


	#region-header {position: relative;}

	.categ-style{
		font-size: rem-calc(12px); line-height: 1.67;
	}

	p{font-size: rem-calc(12px); line-height: 1.67;}

	.icon-container{
		//24px
		width: rem-calc($fgutter); height: rem-calc($fgutter);
		&:not(.circle-shape) [class*="icon"]{
			&:before{
				font-size: rem-calc($fgutter);
			}
		}
	}
	.circle{
	  //   border-radius: 50rem; border: 0;
	   //  48px
	   width: rem-calc(32px); height: rem-calc(32px);
	   font-size: rem-calc(17px); line-height: 1;

	  //   //24px
	  //   &.xsmall{
	  //       width: rem-calc($fgutter*0.75); height: rem-calc($fgutter*0.75);
	  //       font-size: rem-calc(12px); line-height: 1.5
	  //   }
		//
	    //24px
	    &.small{
	        width: rem-calc(24px); height: rem-calc(24px);
	        //font-size: rem-calc(14px);
	    }
		//
		// //64px
	  //   &.smedium{
	  //       width: rem-calc($fgutter*2); height: rem-calc($fgutter*2);
	  //   }
		//
	  //   //80px
		// &.medium{
		// 	width: rem-calc($fgutter*2.5); height: rem-calc($fgutter*2.5);
	  //   }
		//
		&.outline{
			border: 0;
		}
		//24px
    &.double{
			height: rem-calc(24px); width: auto;
    }
    //68px
    &.big, &.huge{
        width: rem-calc(68px); height: rem-calc(68px);
				font-size: rem-calc(18px); line-height: 1.22;
    }
	}//close circle

	//=== btn-add
	.site-content-wrapper .btn{
		font-size: rem-calc(14px); line-height: 1.71;
		&.big{font-size: rem-calc(14px); line-height: 1.71;}
	}
	//==== fin btn


	.date-style{
		.display-flex & {
			width: 100%;
			@include responsiveVal(margin-top, $gutter/2);
			font-size: rem-calc(12px); line-height: 1.66;
		}
		&.big{
			font-size: rem-calc(16px); line-height: 1.5;
		}
	}

	textarea,
	select,
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="button"],
	input[type="password"],
	input[type="url"],
	input[type="file"],
	input[type="search"], .form-date,
	.file-widget {
		line-height: 1.71; font-size: rem-calc(14px);
	  ::-webkit-input-placeholder {
	    line-height: 1.71; font-size: rem-calc(14px);
	  }

	  :-moz-placeholder { /* Firefox 18- */
	    line-height: 1.71; font-size: rem-calc(14px);
	  }

	  ::-moz-placeholder {  /* Firefox 19+ */
	    line-height: 1.71; font-size: rem-calc(14px);
	  }

	  :-ms-input-placeholder {
	    line-height: 1.71; font-size: rem-calc(14px);
	  }
	}


	.form-type-checkbox,
	[class*="form-type-checkbox"]{
	  //DEFAULT
	  label, .label-style{
	    width: 100%; height: 100%; display: block;
	    span{
	      &:after{
	        font-size: rem-calc(12px);
	        top:rem-calc(6px); left: rem-calc(6px);;
	      }
	    }//span
	  }//close label-style
	}//close .form-type-checkbox

	.form-type-radio, .form-type-checkbox,
	[class*="form-type-checkbox"], [class*="form-type-radio"]{
	  label, .label-style{
				span{
					font-size: rem-calc(12px); line-height: 1.67;
					position: relative; #{$padding-left} : rem-calc(32px);
					&:before {
						width: rem-calc(24px); height: rem-calc(24px);
					}
					&:after{
						width: rem-calc(12px); height: rem-calc(12px);
						top:rem-calc(6px); left:rem-calc(6px);
					}
				}
	  }//close label / label-style

	  &.small{
	    label, .label-style{
	      font-size: rem-calc(16px); line-height: 1.5;
	      span{
	        #{$padding-left} : rem-calc(40px);
	        &:before {
	          width: rem-calc(24px); height: rem-calc(24px);
	        }

	        &:after{
	          width: rem-calc(12px); height: rem-calc(12px);
	          top:6px; left: 6px;
	        }
	      }//close span
	    }
	  }
	}//close .form-type-radio, .form-type-checkbox

	.site-content-wrapper{
	    .btn, .button--primary, button:not(.reset-btn):not(.trigger):not(.link-style):not(.icon-container), input[type="submit"].button {
	        font-size: rem-calc(14px); line-height: 1.71;
	        &.big {
	            font-size: rem-calc(14px); line-height: 1.71;
	        }
	    }//close btn
	}//close .site-content-wrapper

	.breadcrumbs{margin-bottom: rem-calc(16px);}

	.m-txt-message, .message{
		padding: rem-calc($fgutter/1.5);
		font-size: rem-calc($fgutter/2); line-height: 1.67;
		&:before{
			display: none;
		}
	}

	#region-footer{
		padding: rem-calc($fgutter 0);
		font-size: rem-calc(12px); line-height: 1.67;
	}
}//close media - large
