/*
    Feuille de style SCSS
    SMACSS : Responsive > Small
    Par Ebizproduction
*/

/* Ebizproduction : Responsive > Mobile */

@include breakpoint($medium - 1 down) {
	$fgutter: 24px;
	.video-subtitle{
		word-break: break-all;
	}
	/*.form-item{
	  &:not(.last){
	    margin-bottom: rem-calc($fgutter);
	  }
		&:not([class*="form-type-radio"]):not([class*="form-type-checkbox"]){
			&.focused, &.placeholder{
				&> label{
					max-width: 79%;
				}
			}
		}
	}*/

	.views-exposed-form{
	  .form-item:not(.form-actions){
	    width: 100%;
	    &+ .form-item:not(.form-actions){
	      #{$margin-left}: 0; margin-top: rem-calc(16px);
	    }
	  }
	}

  .mobile-sep .grid-x .cell:not(:last-of-type){margin-bottom: rem-calc(16px);}

	.paragraph--type--tiles.paragraph{
		&.tiles-full{
			.paragraph__column{
				.tiles-layout{
					.cell{
						max-width: 100%;
						width: 100%;
						&:nth-child(odd), &:nth-child(even){
							#{$margin-right}: 0;
							#{$margin-left}: 0;
						}
					}
					&.two-elements{
						.cell{
							max-width: 100%;
							width: 100%;
							&:nth-child(odd), &:nth-child(even){
								#{$margin-right}: 0;
								#{$margin-left}: 0;
							}
						}
					}
				}
			}
		}
	}

}//close media - medium

@include breakpoint($small-medium down){
	.padding-mobile{
		padding: rem-calc(0 16px);
	}
	.grid-container{
		#{$padding-left}: rem-calc(16px); #{$padding-right}: rem-calc(16px);
	}

	#tabs-style, .tabs, .accordion {
		> li{
		  	> a{
			  padding: rem-calc(24px 16px);
				&:before{ #{$right} : rem-calc(16px);}
			}
		}
	}//close nav-tabs

	.overlay-infos{
	  &.equal-height{
		  padding: rem-calc(48px 16px);
		}
	  &.with-padding{
	    padding: rem-calc(48px 16px);
	  }
	}
}
