/*
    Feuille de style SCSS
    SMACSS : Responsive > Medium
    Par Ebizproduction
*/

//large up
@include breakpoint($large){

}

//large down
/* Ebizproduction : Responsive > Phablette */
@include breakpoint($large - 1 down) {
	$fgutter : 24px;

	/* TYPOGRAPHY -- BEGIN */
	h1, .h1-style{
		font-size: rem-calc(24px); line-height: 1.33;
	}

	h2, .h2-style{
		font-size: rem-calc(18px); line-height: 1.55;
	}
	h3, .h3-style{
		font-size: rem-calc(14px); line-height: 1.71;
	}
	h4, .h4-style{
		font-size: rem-calc(14px);  line-height: 1.5;
	}
	h5, .h5-style{
		font-size: rem-calc(13px);
	}
	h6, .h6-style{
		font-size: rem-calc(13px);
	}
	/* TYPOGRAPHY -- END */


	label, .label-style{
		line-height:1.67; font-size: rem-calc(12px);
		&.small{
			line-height:1.6; font-size: rem-calc(10px);
			letter-spacing: 0;
		}
	}// fin label

	textarea,
	select,
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="button"],
	input[type="password"],
	input[type="url"],
	input[type="file"],
	input[type="search"], .form-date,
	.file-widget {
		line-height: 1.71; font-size: rem-calc(14px);
	  ::-webkit-input-placeholder {
	    line-height: 1.71; font-size: rem-calc(14px);
	  }

	  :-moz-placeholder { /* Firefox 18- */
	    line-height: 1.71; font-size: rem-calc(14px);
	  }

	  ::-moz-placeholder {  /* Firefox 19+ */
	    line-height: 1.71; font-size: rem-calc(14px);
	  }

	  :-ms-input-placeholder {
	    line-height: 1.71; font-size: rem-calc(14px);
	  }
	}


	.form-type-checkbox,
	[class*="form-type-checkbox"]{
	  //DEFAULT
	  label, .label-style{
	    width: 100%; height: 100%; display: block;
	    span{
	      &:after{
	        font-size: rem-calc(12px);
	        top:rem-calc(6px); left: rem-calc(6px);;
	      }
	    }//span
	  }//close label-style
	}//close .form-type-checkbox

	.form-type-radio, .form-type-checkbox,
	[class*="form-type-checkbox"], [class*="form-type-radio"]{
	  label, .label-style{
				span{
					font-size: rem-calc(12px); line-height: 1.67;
					position: relative; #{$padding-left} : rem-calc(32px);
					&:before {
						width: rem-calc(24px); height: rem-calc(24px);
					}
					&:after{
						width: rem-calc(12px); height: rem-calc(12px);
						top:rem-calc(6px); left:rem-calc(6px);
					}
				}
	  }//close label / label-style
	}//close .form-type-radio, .form-type-checkbox

	.site-content-wrapper{
	    .btn, .button--primary,
	    button:not(.reset-btn):not(.trigger):not(.link-style):not(.icon-container):not(.toolbar-item):not(.toolbar-icon),
	    input[type="submit"].button {
	        font-size: rem-calc(14px); line-height: 1.71;
	        &.big {
	            font-size: rem-calc(14px); line-height: 1.71;
	        }
	    }//close btn
	}//close .site-content-wrapper

	.m-txt-message, .message{
		padding: rem-calc($fgutter/1.5);
		font-size: rem-calc($fgutter/2); line-height: 1.67;
		&:before{
			display: none;
		}
	}

	//footer
	.footer{
	  .footer-wrapper{
			.grid-x{justify-content: center;}
	    padding: rem-calc(16px 32px);
	    .cell{
	      padding-top: 0; padding-bottom: 0;
	      &:not(:last-child){
	        &:after{
	          display: none;
	        }
	      }
	    }

	    //social media footer
	    .block-system-menu-blockreseaux-sociaux{
	      max-width: none;
				@include flexDisplay(); align-items: center;
	      .block-title{
	        margin-bottom: 0;
					max-width: rem-calc(230px);
	      }
	    }
	  }

	}//close .foooter

}//close media - large
