/*
    Feuille de style SCSS
    SMACSS : Responsive > Small
    Par Ebizproduction
*/

/* Ebizproduction : Responsive > Mobile */

@include breakpoint($medium - 1 down) {
	$fgutter: 24px;

	h1, .h1-style{
		font-size: rem-calc(24px); line-height: 1.33;
	}


		.no-padding-mobile.column-wrapper{
			.grid-x, .cell{
				margin: 0; width: 100%;
			}
			.custom-padding .infos-top .cell{
				&:nth-child(odd) {
				  #{$padding-right} : 0;
				}

				&:nth-child(even) {
				  #{$padding-left} : 0;
				}
			}
		}

		#navbar-header{
			//=============== menu mini site ==========//
			.site--type--mini-site &{
				.block > ul{
					> li{
						@include xy-cell(12);
						> span, > a{font-size: rem-calc(22px);}
						&:not(:last-of-type){
							margin-bottom: rem-calc(16px);
						}
						ul{
							margin-top: rem-calc(16px);
							padding-left: rem-calc(48px);
						  span, a{font-size: rem-calc(22px);}
						}
						// &.is-accordion-submenu-parent{
						// 	> a{
						// 		position: relative;
						// 		&:after{
						// 			content: '\f078'; width: rem-calc(16px); height: rem-calc(16px);
						// 			margin-top: 0; top: 50%; transform: translateY(-50%);
						// 	    position: absolute; border: 0; right: 0;
						// 	    font: normal normal normal 14px/1 FontAwesome;
						// 		}
						// 	}
						// 	&[aria-expanded="true"]{
						// 		> a:after{
						// 			transform: rotate(180deg) translateY(50%);
						// 		}
						// 	}
						// }
					}
					.submenu-toggle{
						display: block; position: absolute;
						border: 0; margin: 0; background: none;
						width: rem-calc(16px); height: rem-calc(16px);
						top: rem-calc(6px);
						&:focus{outline:none;}
						&:after{
							content: '\f078'; width: rem-calc(16px); height: rem-calc(16px);
							margin-top: 0;
					    position: absolute; border: 0; right: 0;
					    font: normal normal normal 14px/1 FontAwesome;
						}
					}
				}
			}
			//============== fin menu mini site =============//
		}

	.video-subtitle{
		word-break: break-all;
	}
	/*.form-item{
	  &:not(.last){
	    margin-bottom: rem-calc($fgutter);
	  }
		&:not([class*="form-type-radio"]):not([class*="form-type-checkbox"]){
			&.focused, &.placeholder{
				&> label{
					max-width: 79%;
				}
			}
		}
	}*/

	.views-exposed-form{
	  .form-item:not(.form-actions){
	    width: 100%;
	    &+ .form-item:not(.form-actions){
	      #{$margin-left}: 0; margin-top: rem-calc(16px);
	    }
	  }
	}

  .mobile-sep .grid-x .cell:not(:last-of-type){margin-bottom: rem-calc(16px);}

	.paragraph--type--tiles.paragraph{
		&.tiles-full{
			.paragraph__column{
				.tiles-layout{
					.cell{
						max-width: 100%;
						width: 100%;
						&:nth-child(odd), &:nth-child(even){
							#{$margin-right}: 0;
							#{$margin-left}: 0;
						}
					}
					&.two-elements{
						.cell{
							max-width: 100%;
							width: 100%;
							&:nth-child(odd), &:nth-child(even){
								#{$margin-right}: 0;
								#{$margin-left}: 0;
							}
						}
					}
				}
			}
		}
	}
	.paragraph--type--tiles.paragraph{
		&.tiles-full{
			.paragraph__column{
				.tiles-layout{
					margin: 0;
					.cell{
						&:nth-child(n+3){
							margin-bottom: rem-calc(16px);
						}
						&:last-of-type{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}//close paragraph--type--tiles

	.swiper-container{
	  .play-pause-button{
	    left: 62%;
	  }
	}
}//close media - medium

@include breakpoint($small-medium down){
	.padding-mobile{
		#{$padding-left}: rem-calc(16px); #{$padding-right}: rem-calc(16px);
	}
	.grid-container{
		#{$padding-left}: rem-calc(16px); #{$padding-right}: rem-calc(16px);
	}

	#tabs-style, .tabs, .accordion {
		> li{
		  	> a{
			  padding: rem-calc(24px 16px);
				&:before{ #{$right} : rem-calc(16px);}
			}
		}
	}//close nav-tabs

	.overlay-infos{
	  &.equal-height{
		  padding: rem-calc(48px 16px);
		}
	  &.with-padding{
	    padding: rem-calc(48px 16px);
	  }
	}
	#navbar-header{
		.navigation-left-region{
			 ul.menu.large-vertical {
				 li {
					&.is-accordion-submenu-parent{
						ul{padding: rem-calc(12px 0);}
					}
				}
			 }
		}
	}
	.infos-row-wrapper{
		display: block;
	}
	.date-style{
	  .field--item{
			@include flexDisplay();
			.date-hours-wrapper{
				&:before{
					content: "-";
					#{$padding-right}: rem-calc(8px);
				}
			}
		}
	}
	.box-style{
		.box-content{
		  padding: rem-calc(24px 16px);
		}
	}


	.padding-all{
		&.uneven{
			padding: rem-calc(24px 16px);
		}
	}

	.padding-top-bottom{
		padding-top: rem-calc(24px);
		padding-bottom: rem-calc(24px);
	  &.big, &.medium{
			padding-top: rem-calc(24px);
			padding-bottom: rem-calc(24px);
	  }
	}

	.view-header-color{
		padding-top: rem-calc(24px);
		padding-bottom: rem-calc(24px);
	}
}
