/*
    Feuille de style SCSS
    SMACSS : Responsive > XXlarge
    Par Ebizproduction
*/

/* Ebizproduction : Responsive > Trop large */

//@media (max-width: ($xxlarge - 1)) {
@include breakpoint($xxxlarge - 1 down) {
  h1{
    font-size: rem-calc(80px);
  }
  .txt{
    &.big{
      font-size: rem-calc(30px);
    }
  }
  .footer{
    .footer-wrapper{
      //padding: rem-calc(48px 32px);
    }
  }

  .centres-up1-form, .center-wrapper {
    .map-centre {
      .center-form{
        width: 100%;
      }
      .overlay-infos{
        padding: rem-calc(70px 122px);
      }
      .details-centre {
        .centre-up1 {
          width: 100%;
        }
        .image-centre {
          width: 100%;
        }
      }
    }
  }
}
