/*
    Feuille de style SCSS
    SMACSS : Responsive > Xlarge
    Par Ebizproduction
*/

/* Ebizproduction : Responsive > large */
@include breakpoint($xxlarge - 1 down) {
  //change fgutter value
  $fgutter : 32px;
  h1{
    font-size: rem-calc(64px);
  }
} //close 1440
