<!-- Page drupal : Site en mode maintenance -->

{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 *
 *
 */
#}
<html lang="fr" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site en maintenance | Sorbonne TV</title>
        <style type="text/css">
            body { margin: 1px; padding: 0; background-color: #ddd; font-family: Verdana, Arial; text-align: center}
            div#maintenance { max-width: 600px; padding: 15px; margin: 10% auto; background-color: white; border: gray solid 1px }
            div#maintenance #logo {max-width: 60%; margin: 0 auto; }
            div#maintenance p {  text-align: left }
        </style>
    </head>
    
    <body class="maintenance-page">

      <div id="maintenance" class="content_container">
        <img id="logo" src="/themes/custom/sorbonne_tv_lmc/assets/img/logo-header.png" alt="Sorbonne TV">
        <p>Le site est en cours de maintenance. Nous serons de retour très bientôt. Merci de votre patience.</p>
      </div>
    </body>
</html>