/* MODIFS SIMON */

#lien-top.navbar-right .navbar-collapse.collapse
{
padding-left:0;
padding-right:0;
}
.navbar-header #lien-top .social-media
{
padding:7px !important;
}.row.rowsansmarge
{
margin-left:0;
margin-right:0;
}
.dropdown-content
{
margin-top:-1px !important;
-moz-columns: 4 204px;
}

.view-evenements.view-id-evenements .grid.views-view-grid
{
padding-bottom:30px;
}

.views-exposed-form .btn
{
margin-bottom:0 !important;
}
.paragraph--type--bp-tabs .nav-tabs li a
{
font-size: 18px !important;
    line-height: 20px !important;
}



.event .tag, .news .tag {
    width: 100% !important;
}

.cadre-bleue .btn
{
margin-bottom:0 !important;
}
.btn
{
margin-bottom:30px;
}
@media only screen and (max-width: 1024px)
{

h1.js-quickedit-page-title.page-header
{
margin-left: 20px !important;
    margin-right: 20px !important;
}


.page-node-type-page .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col
{
padding-left:20px;
display:block;
width:100%;
}
.path-frontpage.page-node-type-page .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col
{
padding-left:20px;

width:50%;
padding-left:0;
}
.servicesinter .cadre
{
height:auto !important;
padding-bottom: 0;
}
.vignetteshome
{
margin-top: -40px !important;
}

.cadre
{
height:390px;
}
.paragraph.paragraph--width--medium>.paragraph__column
{
width:80% !important;
margin-left:10% !important;
}
.container
{
max-width:100%;
}
.paragraph.paragraph--width--tiny>.paragraph__column
{
width:100%;
float:left;    margin-left: 0;
}
.paragraph.paragraph--width--tiny>.paragraph__column .field 
{

	margin-left:auto !important;
margin-right:auto !important;
width: 970px !important;
}
.blocsbleus .big-btn {
    width: 200px !important;
    font-size: 10px !important;
}

.page-node-type-page-de-1er-niveau .view-evenements
{
margin-left:auto !important;
width:970px !important;
}


}

@media only screen and (max-width: 850px)
{
body .carousel-caption {
    transform: none !important;
    height: auto !important;
    margin-top: 0 !important;
}
.degrade {

    height: 70%;
    bottom: 0;
    top: auto;
}
}
.pagination > li > a, .pagination > li > span
{
color:#00326E;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
background-color:#00326E;
border-color:#00326E;
}
.views-view-grid .event .tag,.views-view-grid  .news .tag
{
width:auto !important;

}

.search-btn-white span
{
    margin-left: 12px;
}
.nav > li > a
{
height:100%;
}
iframe html
{
background:#fff;
}
iframe.iframe.myclass
{
border:1px solid #626262;
background:#fff;
}
h1.js-quickedit-page-title.page-header
{
margin-left:55px;
margin-right:55px;
margin-bottom:65px;
}
body .dropdown-content
{
width:100% !important;
}
.view .view-filters .btn
{
font-family: Brandon Grotesque;
}
article.news .content section
{
background:transparent;
}
.input_label-search
{
height:30px;
width:30px;
}
.input_label-search-white
{
height:30px;
width:30px;
}

.tab-content .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img
{
position:relative;
width:100%;
}
@media (max-width: 1153px) and (min-width: 992px)
{
#menuhorizontal {
    width: calc(100% - 200px);
}
}

.fondbleuslider
{
z-index:1;
}

html
{
background:#fbfbfb;
}
.icon-inscription.pictos,.icon-frais.pictos
{
margin-right:0;
}
section
{
/*background-color:#fff;*/
}
section#block-selectlangue {
  padding:0;
}
#footer-bar,.blocsbleus .row
{
margin-right:0;
margin-left:0;

}
.container-fluid
{
padding-left:0;
padding-right:0;
background-color:#fff;

}
#menuhorizontal
{
width:calc(100% - 355px);
}
.event .field--type-link
{
margin-top:20px;
padding-top: 5px;
padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
font-size: 1.7rem;
}
.event-details:nth-child(3) h3
{
display:none;
}

.blocscouleuruniv
{
margin-bottom:-30px;
padding-bottom: 0;
}
.pictos
{
margin-right:-15px;
}

.dropdown-content
{
position:absolute;
left:-1px !important;
}
.nav > li
{

position:static;
}
.paragraph--type--bp-tabs .nav-tabs li:first-child
{
border-left:0;
}
.paragraph--type--bp-tabs .nav-tabs li
{
width:25%;
}
.main-container > .row
{
margin-left:0;
margin-right:0;
}
body{
    max-width: 1920px;
    position: relative;
    left: 50%;
	background-color:#fff;
    transform: translateX(-50%);
}

li.je-suis
{
display:none;
}
.formations .col-md-3.col-sm-6.col-xs-12
{

    padding-left: 15px;
    padding-right: 15px;

}

article.page-de-1er-niveau.full.clearfix .surlign
{
width:60%;
}
article.page-de-1er-niveau.full.clearfix .surlign
{
background:transparent;
}
.page-node-type-page-de-1er-niveau .main-container .content .fondbleuslider
{
position:absolute;
width:55%;
height:100%;
left:0;
top:0;
background: linear-gradient(to right, rgba(200,145,8,1) ,rgba(200,145,8,1) 20%, rgba(255,255,255,0));
-webkit-background: linear-gradient(to right, rgba(200,145,8,1) ,rgba(200,145,8,1) 20%, rgba(255,255,255,0));
-moz-background: linear-gradient(to right, rgba(200,145,8,1) ,rgba(200,145,8,1) 20%, rgba(255,255,255,0));
-o-background: linear-gradient(to right, rgba(200,145,8,1) ,rgba(200,145,8,1) 20%, rgba(255,255,255,0));
}


.page-node-type-page-de-1er-niveau .main-container .content .field--type-text-with-summary {
    color: #fff;
    font-size: 1.3em;
    text-shadow: none;
}
.region-header .breadcrumb
{
position:absolute;
z-index:5;
background:transparent;
}

.actualite-colonne.evenement-colonne
{
margin-top:20px !important;
}

.cadre-bleue
{
border-bottom:1px solid #fff;
}
.btn
{
line-height:1.2;
}
.vignetteshome
{
    position: relative;
    top: 30px;
    margin-top: 40px;
}
.carousel-caption .sous-titre
{
font-size:20px;
}
.carousel-control img
{
width:100%;
height:100%;
}
.carousel-caption a.btn-voir
{
font-size:14px;
}
.path-frontpage.page-node-type-page .cadre-photo-contenu p
{
position:absolute;
bottom:0px;
}
.page-node-type-page-de-1er-niveau  .cadre-photo-contenu a.btn img
{
width:40px;
}
.path-frontpage.page-node-type-page .cadre-photo-contenu a.btn img
{
width:40px;
}
.path-frontpage.page-node-type-page .cadre-photo-contenu a.btn
{
  
  
    text-shadow: none;

  background:transparent;
    left: auto;
	border:0;
	color:#fff;
    font-size: 25px;
	position:absolute;
	right:5%;
	bottom:32px;

}

.col-md-3.col-sm-6.col-xs-12
{
padding-left:0;
padding-right:0;
}
.path-frontpage.page-node-type-page .cadre-photo-contenu h2
{
position:absolute;
bottom:20px;
padding-right:70px;
}

.col-md-3.col-sm-6.col-xs-12:first-child .cadre-photo-contenu
{
background: linear-gradient(to top, rgba(0,169,157,1), rgba(0,169,157,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(0,169,157,1), rgba(0,169,157,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-webkit-background: linear-gradient(to top, rgba(0,169,157,1), rgba(0,169,157,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(0,169,157,1), rgba(0,169,157,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));

}

.col-md-3.col-sm-6.col-xs-12:nth-child(2) .cadre-photo-contenu
{

background: linear-gradient(to top, rgba(158,0,93,1), rgba(158,0,93,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(158,0,93,1), rgba(158,0,93,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-webkit-background: linear-gradient(to top, rgba(158,0,93,1), rgba(158,0,93,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(158,0,93,1), rgba(158,0,93,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
}

.col-md-3.col-sm-6.col-xs-12:nth-child(3) .cadre-photo-contenu
{
background: linear-gradient(to top, rgba(200,145,8,1), rgba(200,145,8,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(200,145,8,1), rgba(200,145,8,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-webkit-background: linear-gradient(to top, rgba(200,145,8,1), rgba(200,145,8,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(200,145,8,1), rgba(200,145,8,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));

}

.col-md-3.col-sm-6.col-xs-12:nth-child(4) .cadre-photo-contenu
{



background: linear-gradient(to top, rgba(119,151,201,1), rgba(119,151,201,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(119,151,201,1), rgba(119,151,201,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-webkit-background:linear-gradient(to top, rgba(119,151,201,1), rgba(119,151,201,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(119,151,201,1), rgba(119,151,201,1) 10% ,rgba(255,255,255,0) 60%, rgba(255,255,255,0));

}

.carousel-caption h3:before{
  display:block;
  background-color:#fff;
  height:35px;
  padding-top: 11px;
  width:120px;
  text-align:center;
  font-size:14px;
  text-transform:uppercase;
  margin-bottom:20px;
  font-weight:bold;
}
.carousel-caption a.btn-voir
{
float:left;
}
.page-node-type-page-de-1er-niveau .cadre-photo-contenu a.btn:hover
{
 background-color: transparent;
}
.page-node-type-page-de-1er-niveau .cadre-photo-contenu a.btn
{
    background-color: transparent;
	float:none;
	 font-size: 25px;
	position:absolute;
	right:30px;
	bottom:30px;
	border:0;
	text-transform:uppercase;
}





.path-frontpage.page-node-type-page .cadre-photo-contenu p
{
display:inline-block;

color:#FFF;
}
.path-frontpage.page-node-type-page .cadre-photo-contenu h2
{



    
	display:inline;
 

}

.page-node-type-page-de-1er-niveau .cadre-photo-contenu h2
{
background:transparent;
    padding-left: 10px;
	display:inline;
    padding-right: 70px;
	position:absolute;
bottom:20px;
}
.page-node-type-page-de-1er-niveau .main-container .page-header {
    z-index: 100;
    display: block;
    position: absolute;
    top: calc(36px + 5vw);
    text-transform: none;
    color: #fff ;
    border-bottom: 0 none;
    margin-left: 9%;
}
.page-node-type-page-de-1er-niveau .main-container .page-header
{
background:transparent;

}
.page-node-type-page-de-1er-niveau h1.page-header
{
padding-bottom:0;
}
article.page-de-1er-niveau.full.clearfix .surlign
{
	

	display:block;
	text-shadow: none;
}
.structured-content.container-fluid
{
position:relative;
}

#tab-32 .paragraph__column .paragraph--type--bp-image .paragraph__column .field
{

width:100%;
}

.carousel-inner > .item > img
{
max-width:100vw;
}

.container.view-news.view-id-news.view-display-id-block_2{

margin-top:-60px;
}
.decouvrirservices {
margin-top:-40px;
}
.carousel-caption .surlign {
 background:transparent;
 padding-left:0;
padding-right:0;
}

.transp-btn:hover {
   color:#00326E;
   background-color:#ffffff;
}
.btn{
    display: block;
    height: 44px;
    background-color:#00326E;
    color:#ffffff;
    padding-top: 13px;
    text-align: center;
    margin-top: 30px;
    border-radius: 0;
}
.btn:hover,.btn:active{
   color:#00326E !important;
   background-color:#ffffff;
   border:1px solid #00326E;
}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
border:0;
margin-right:0;
}

.nav-tabs > li > a
{
margin-right:0;
}
.nav-tabs > li > a
{
border:0;
}
.carousel-caption h3 a:hover
{
text-decoration:none;
}
.carousel-caption h3{
       font-size: 24px;
    font-weight: bold;
	text-shadow:none;
	background:transparent;
padding-left:0;
padding-right:0;
	color:#fff;

}
.page-node-type-page-de-1er-niveau .main-container .content .field--name-field-image+div>.paragraph:first-child>.paragraph__column
{
    padding-top: 50px;
    padding-bottom: 40px;
}

.chiffres-wrapper {
padding-top:40px;
padding-bottom:40px;
}
.event.full .field--name-body, .event.full .field--name-field-accroche
{
    font-size: 1.35em;
    line-height: 1.55;
	}

@media only screen and (max-width:975px)
{
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed
{
margin-left:0;
}
}
@media (max-width: 1280px) and (min-width: 1024px)
{

body .dropdown-content
{
width:100%;
}
#menuhorizontal
{
width:calc(100% - 200px);
}
}
@media only screen and (max-width:993px)
{
.nav > li.collapse.in:nth-child(6),.nav > li.collapse.in:nth-child(7)
{
display:inline-block !important;
}
#menuhorizontal
{
width:100%;
}
.event.full
{
padding-left:15px;
padding-right:15px;
}
section#news
{
padding-left:15px;
padding-right:15px;
}
.secondaire .nav > li
{
position:relative;
}

}
@media only screen and (max-width:600px)
{
.path-frontpage  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col
{

display:block;
width:100% !important;
}
.page-node-type-page .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col
{
padding-left:20px !important;
padding-right:20px !important;

}
.path-frontpage.page-node-type-page .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col
{
padding-left:0 !important;
padding-right:0px !important;

}

.path-frontpage .formation-recherche
{
margin-top:-45px !important;
}
.page-node-type-page-de-1er-niveau .formation-recherche
{
margin-top:-70px !important;
}
.decouvrirservices
{
    margin-top: 10px !important;
}
body .vignetteshome
{
margin-top:10px !important;
}
.servicesinter .cadre
{
padding-bottom:0;
}

.formation-recherche #input-search
{
position:relative;
top:10px;
}

.container.titrelarge
{
padding-left:0 !important;
padding-right:0 !important;
}
#event-sidebar
{
padding-left:0 !important;
padding-right:0 !important;
}
body .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col h2.titre
{
margin-top:20px !important;
}

.page-node-type-news .main-container .region-content .news
{
margin: 10px auto 20px !important;
}

.blocs-formation-3 .col-xs-12
{
padding-left:15px !important;
padding-right:15px !important;
}
.blocsvieetu .col-sm-4
{
padding-left:15px !important;
width:100% !important;
margin-left:0 !important;
padding-right:15px !important;
}
.paragraph.paragraph--width--wide>.paragraph__column, .paragraph.paragraph--width--tiny>.paragraph__column, .paragraph.paragraph--width--medium>.paragraph__column {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
}
.cadre.cadreinter
{
padding-left:15px;
padding-right:15px;

}
.blocsvieetu .col-sm-4.col-xs-12 .btn
{
position:relative;
left:50%;
transform:translateX(-50%);
}
.center-block
{
margin-left:auto !important;
margin-right:auto;
}
/* .chiffres-wrapper .chiffre, .chiffres-wrapper .info
{
width:100%;
display:block;
} */
body .paragraph.paragraph--width--medium>.paragraph__column,.paragraph.paragraph--width--wide>.paragraph__column,body .paragraph.paragraph--width--tiny>.paragraph__column
{
width:calc(100% - 30px) !important;
margin-left:15px !important;
padding-left: 0 !important;
    padding-right: 0 !important;
}

.cadre-contenu .btn.blue-btn
{


position:relative;
left:50% !important;
transform:translateX(-50%) !important;

}
 .page-node-type-page-de-1er-niveau .view-evenements
{
width:calc(100% + 30px);
margin-left:-15px;
max-width:100vw;
}

}
@media only screen and (max-width:768px)
{

.page-node-type-page-de-1er-niveau .view-evenements
{
margin-left:0 !important;
width:100% !important;
}
.container.titrelarge
{
padding-left:0;
padding-right:0;

}
.vignetteshome
{
margin-top:40px !important;
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col h2.titre
{
margin-top:0 !important;
}
.cadre-contenu .btn.blue-btn
{


position:relative;
left:0;
transform:none;

}

.cadre-bleue .center-block
{
margin-left:auto;
margin-right:auto;
}
.center-block
{
margin-left:auto;
margin-right:auto;
}
.paragraph.paragraph--width--wide>.paragraph__column,.paragraph.paragraph--width--tiny>.paragraph__column,.paragraph.paragraph--width--medium>.paragraph__column
{
margin-left:auto !important;
margin-right:auto !important;
width: 100% !important;
}
.paragraph.paragraph--width--tiny>.paragraph__column .field 
{

	margin-left:auto !important;
margin-right:auto !important;
width: 100% !important;
}

body .blocsbleus .big-btn {
    width: 270px !important;
    font-size: 13px !important;
}


#event-sidebar
{
width:100% !important;
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col
{
padding-right:5%;
}
.actualite-colonne img
{
max-width:100%;
}
h1
{
font-size:32px !important;
}
#lien-top .navbar-collapse
{
border:0 !important;
}
.view-filters
{
padding:15px;
}
#views-exposed-form-news-page-1 .form-inline
{
padding:15px;
}
.page-actualite-colonne .news
{
margin:0;
}
.js-view-dom-id-3c65ddac7d8b7cd562f2ba5a180cb27f9c639bbf17d17a67d34fcb52f6bed552
{
margin-left:-15px;
}
.search-btn-white span
{
margin-top:-33px;
 margin-left: 12px;
}
.blocvieetu,.container.blocvieetudiante
{
width:calc(100% + 30px);
margin-left:-15px;
}

.titrevieetu
{
padding-left:0;
padding-right:0;
}
.page-node-type-page-de-1er-niveau .cadre-photo-contenu h2
{
padding-left:0;
}
iframe
{
width:95%;
height:auto;
}
.titrechiffresinter
{
width:calc(100% + 30px);
margin-left:-15px;
}

.container.contenu-services-recherche,.container.titreprofil
{
padding-right:0;
padding-left:0;
}

.blocs-formation-3 .col-xs-12
{
padding-left:0;
padding-right:0;
}
.titre-chiffres-formations .chiffres-wrapper
{
margin-left:0;
}
.titre-chiffres-formations
{
padding-left:0;
padding-right:0;
}
.formations .col-md-3.col-sm-6.col-xs-12,.formations .col-md-4.col-sm-6.col-xs-12
{
padding-left:0;
padding-right:0;
}
.page-node-type-page-de-1er-niveau .view-news
{

width:calc(100% + 30px);

max-width:100vw;
}


 .page-node-type-page-de-1er-niveau .formation-recherche+.row
{
width:calc(100% + 30px);
margin-left:-15px;
}
#lien_formation
{
margin-left:-15px;
float:none;
}
.evenement-colonne .views-field-field-date-fin-evenement, .evenement-colonne .views-field-field-date-debut-evenement
{
    padding: 15px 15px 30px;
}
.paragraph--type--bp-columns__2col .paragraph--type--bp-simple
{
padding-left:0;
padding-right:0;
}
body .cadre-photo-contenu
{
padding-left:15px;
padding-right:15px;
}
.cadre-contenu, .cadre-contenu-blanc, .cadre
{
padding-left:0;
padding-right:0;
}
.chiffres-wrapper {
  padding-left:0;
}

.view-news
{
max-width:100%;
padding-left:0;
padding-right:0;
}

.blocscouleuruniv {

    margin-left: -15px;
    width: calc(100% + 30px);
}



.cadre-photo
{
padding-left:15px;
}
.cadre-bleue
{
border-left:0;
}
.paragraph>.paragraph__column
{
max-width:100vw;
}
.cadre
{
height:auto;
}


.view-evenements
{
padding-left:0px;
padding-right:0px;


}
.chiffres-wrapper
{
padding-top:0;

}


.cadre-contenu, .cadre-contenu-blanc
{
max-width:100vw;

}

html body .carousel-caption
{
padding-left:30px !important;
}

.nav > li.collapse.in
{
top:0 !important;
}

.view-news {
    max-width: 100%;
}
.panel-collapse .btn.blue-btn
{

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn.moins30
{

    margin-bottom: 30px;
}

.formation-recherche
{
margin:0;
width:100%;
}
#input-search
{
padding-right:30px;
}


.carousel-inner .item:nth-child(2)  .fondbleuslider {
    z-index: 9;
}
.page-node-type-page-de-1er-niveau .main-container .page-header
{
top: calc(180px + 5vw);
}

article.page-de-1er-niveau.full.clearfix .surlign
{
position:absolute;
bottom:20px;
width:90%;
}
.page-node-type-page-de-1er-niveau .main-container article.page-de-1er-niveau .content .field--name-field-image::after
{
height: 70%;
    bottom: 0;
    top: auto;
    width: 100%;
    max-width: 100%;
background: linear-gradient(to top, rgba(200,145,8,1),rgba(200,145,8,1) 35% , rgba(255,255,255,0));
}
body .carousel-caption a.btn-voir
{
margin-top:5px;
}
    
.page-node-type-page-de-1er-niveau .main-container article.page-de-1er-niveau .content .field--name-field-image {
    overflow: hidden;
    display: block;
    width: 100%;
    } 
.page-node-type-page-de-1er-niveau .main-container article.page-de-1er-niveau .content .field--name-field-image img
{
height:350px;
width:auto;
max-width: none;
}
.path-frontpage.page-node-type-page .cadre-photo-contenu h2
{
font-size:25px;
}
body .carousel-control.right
{
bottom:15px;
right:15px;
margin-right:0;
top:auto;
height:30px;
width:30px;
left:auto;
}
body .carousel-control.left
{
top:auto;
bottom:15px;
width:30px;
height:30px;
right:60px;
left:auto;
}
.carousel-inner .item:first-child .fondbleuslider
{
background: linear-gradient(to top, rgba(0,169,157,1),rgba(0,169,157,1) 35% , rgba(255,255,255,0));
-webkit-background: linear-gradient(to top, rgba(0,169,157,1),rgba(0,169,157,1) 35% , rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(0,169,157,1),rgba(0,169,157,1) 35% , rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(0,169,157,1),rgba(0,169,157,1) 35% , rgba(255,255,255,0));
}

.carousel-inner .item:nth-child(2) .fondbleuslider
{
background: linear-gradient(to top, rgba(229,83,2,1),rgba(229,83,2,1) 35% , rgba(255,255,255,0));
-webkit-background: linear-gradient(to top, rgba(229,83,2,1),rgba(229,83,2,1) 35% , rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(229,83,2,1),rgba(229,83,2,1) 35% , rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(229,83,2,1),rgba(229,83,2,1) 35% , rgba(255,255,255,0));
}

.carousel-inner .item:nth-child(3) .fondbleuslider
{
background: linear-gradient(to top, rgba(200,145,8,1),rgba(200,145,8,1) 35% , rgba(255,255,255,0));
-webkit-background: linear-gradient(to top, rgba(200,145,8,1),rgba(200,145,8,1) 35% , rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(200,145,8,1),rgba(200,145,8,1) 35% , rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(200,145,8,1),rgba(200,145,8,1) 35% , rgba(255,255,255,0));
}

.carousel-inner .item:nth-child(4) .fondbleuslider
{

background: linear-gradient(to top, rgba(158,0,93,1),rgba(158,0,93,1) 35% , rgba(255,255,255,0));
-webkit-background: linear-gradient(to top, rgba(158,0,93,1),rgba(158,0,93,1) 35% , rgba(255,255,255,0));
-moz-background: linear-gradient(to top, rgba(158,0,93,1),rgba(158,0,93,1) 35% , rgba(255,255,255,0));
-o-background: linear-gradient(to top, rgba(158,0,93,1),rgba(158,0,93,1) 35% , rgba(255,255,255,0));


}

body .fondbleuslider
{
height:70%;
bottom:0;
top:auto;
width:100%;
}
body .carousel-caption
{
padding-left:5%;
transform:none;
bottom:0px;
top:auto;
}
.carousel-indicators
{
display:none;
}

	.carousel-caption a.btn-voir
	{
	float:left;
	}
	html body .carousel-caption
	{
	width:calc(100% - 60px) !important;
	text-align:left;
	}
.carousel-inner > .item > img
{
max-width: 1000%;
    height: 350px;
    width: auto;
}
#tab-32 .paragraph__column .paragraph--type--bp-image .paragraph__column .field {
    width: 100%;
}


.path-frontpage.page-node-type-page .cadre-photo-contenu a.btn
{
right:10px;
}
.page-node-type-page-de-1er-niveau  .cadre-photo-contenu a.btn
{
right:10px;
}
.container.view-news.view-id-news.view-display-id-block_2
{
margin-top:-30px;
}
.paragraph.paragraph--color>.paragraph__column
{
padding-top:5px;
padding-bottom:5px;

}
.decouvrirservices
{
margin-top:50px;
}
}


.carousel-inner .item
{
z-index:6;

}
.carousel-inner .item:first-child.active.right
{
z-index:6;
}
.carousel-inner .item.active,.carousel-inner .item.prev
{
z-index:5;

}
.carousel-caption a.btn-voir
{
margin-top:20px;

}
.carousel-caption {



    text-align: left;
width:18%;
padding-left:80px;
	position:absolute;
	transform:translateY(-50%);
	top:50%;
	bottom:auto;
right:auto;
left:0;

   
	
	}


.carousel-caption .sous-titre
{
text-shadow:none;
}
.carousel-caption a.btn-voir
{
text-shadow:none;
}
@media (max-width: 975px)
{

.carousel-inner {
position:relative;
    overflow: hidden;
	min-height:20px;
	}
	.carousel-indicators
	{
	bottom:10px;
	}
	.carousel-inner .item
{
max-width:100vw;

min-height:20px;
left:0;
}

.carousel-caption .sous-titre
{
font-size:1.2rem;
}
.carousel-caption p
{
line-height:16px;
font-size:15px;
}
.carousel-caption h3
{
font-size:16px;
}
.carousel-caption
{
font-size:1.2rem;
}
}

.carousel-caption a.btn-voir {
   
    font-weight: bold;
}
@media only screen and (max-width: 768px) and (orientation:portrait)
{


}
@media (max-width: 1024px)
{

.carousel-control.left,.carousel-control.right
{
	width:25px;
	height:25px;
}
.container.view-news.view-id-news.view-display-id-block_2{

margin-top:0;
}
.carousel-caption .sous-titre
{
line-height:1em;
}

.carousel-caption a.btn-voir
{

font-size:1rem;
    height: 25px;
    width: 100px;
    padding-top: 5px;
}
}
@media (min-width: 1920px)
{

.page-node-type-page-de-1er-niveau .main-container section .img-header-page
{
height:450px;
}

}
@media (max-width: 1090px)
{

body .carousel-caption a.btn-voir
{
margin-top:5px;
}
.carousel-caption h3
{
font-size:16px;
}
body .carousel-caption
{
padding-left:40px;
}

}
@media (max-width: 830px)
{
.fondbleuslidera
{
width:60%;
}
.carousel-caption .sous-titre
{
  display: none;
}
body .carousel-caption
{
padding-left:40px;
width:50%;
}
.fondbleuslider
{
width:70%;
}
.carousel-control.left
{
left:50px;
}
.carousel-control.right
{
left:100px;
}
.carousel-caption a.btn-voir
{
	margin-top:5px;
	font-size:1rem;
    height: 25px;
    width: 100px;
    padding-top: 5px;
}
.carousel-control.left,.carousel-control.right
{
	width:25px;
	height:25px;
}
}
.page-node-type-page-de-1er-niveau .main-container .page-header
{
position:absolute;
width:auto;
margin-left:0;
display: inline-block;
}


.region-header .breadcrumb
{
margin-bottom:0;
}
@media (min-width: 1480px) and (max-width: 1830px) {
.carousel-caption {
    width: 23%;
    }
.carousel-caption .sous-titre {
    font-size: 1.2em;
}
}
@media only screen and (max-width: 1480px) {

.carousel-caption .sous-titre
{
font-size:16px;
line-height:17px;
}
.carousel-caption
{
width:30%;
}
.carousel-control.left,.carousel-control.right
{
top:auto;
bottom:15px;

}
}
.cadre-photo-contenu
{
padding:10%;
}
/* FIN MODIFS SIMON */
