@font-face {
  font-family: 'picto-paris1';
  src:  url('fonts/picto-paris1.eot?c5tgaf');
  src:  url('fonts/picto-paris1.eot?c5tgaf#iefix') format('embedded-opentype'),
    url('fonts/picto-paris1.ttf?c5tgaf') format('truetype'),
    url('fonts/picto-paris1.woff?c5tgaf') format('woff'),
    url('fonts/picto-paris1.svg?c5tgaf#picto-paris1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'picto-paris1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-travailler:before {
  content: "\e900";
  color: #fff;
}
.icon-service:before {
  content: "\e901";
  color: #fff;
}
.icon-sante:before {
  content: "\e902";
  color: #fff;
}
.icon-restaurant_universitaire:before {
  content: "\e903";
  color: #fff;
}
.icon-reseau_pro:before {
  content: "\e904";
  color: #fff;
}
.icon-publications:before {
  content: "\e905";
  color: #fff;
}
.icon-logement:before {
  content: "\e906";
  color: #fff;
}
.icon-inscription:before {
  content: "\e907";
  color: #fff;
}
.icon-handicap:before {
  content: "\e908";
  color: #fff;
}
.icon-hal:before {
  content: "\e909";
  color: #fff;
}
.icon-guide_etudiant:before {
  content: "\e90a";
  color: #fff;
}
.icon-frais:before {
  content: "\e90b";
  color: #fff;
}
.icon-carte_etudiant:before {
  content: "\e90c";
  color: #fff;
}
.icon-bibliotheque:before {
  content: "\e90d";
  color: #fff;
}
.icon-annuaire_contact:before {
  content: "\e90e";
  color: #fff;
}
.icon-classement:before {
  content: "\e812";
  color: #fff;
}
.icon-fondation:before {
  content: "\e810";
  color: #fff;
}
.icon-dhc:before {
  content: "\e81a";
  color: #fff;
}
