body {
  font-family: Brandon Grotesque;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Brandon Grotesque, sans-serif;
}
.h2, h2 {
  font-size: 30px;
}
.navbar-header-main .navbar-brand:hover {
  opacity: 1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: #00326e;
}
header.navbar .container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
}
.logo{
  display: block;
  background-color: #00326E;
  height: auto;
  width: 355px;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}
.logo img{
  width: 70%;
  max-width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
.loupe:hover, .searchopen:hover {
  cursor: pointer;
}
.loupe-wrapper {
  transform: rotate(45deg);
  width: 45px;
}
.navbar {
  margin-bottom: 0;
}
.navbar #circle, #ent-search .loupe-circle {
  border: 2px solid #00326e;
  box-shadow: none;
}
#circle, .loupe-circle {
  border-radius: 50%;
  height: 17px;
  left: 15px;
  position: relative;
  top: 8px;
  transition: all 0.3s linear 0s;
  width: 17px;
}
.navbar #bar, #ent-search .loupe-bar  {
  background: #00326e none repeat scroll 0 0;
  box-shadow: none;
}
#bar, .loupe-bar {
  border-radius: 20px;
  height: 13px;
  left: 23px;
  margin-top: 6px;
  position: relative;
  transition: all 0.3s linear 0s;
  width: 2px;
}
#loupe-toggle, #search-toggle {
  display: none;
}
#je-suis {
  color: #626262;
  font-weight: bold;
  height: 150px;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;
}
.je-suis h3.titre-thumb {
  color: #ffffff;
  font-size: 16px !important;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  bottom: 35%;
  transform: translate(-50%, 50%);
}
.je-suis .dropdown-content {
  columns: auto auto;
}
.btn-nav {
  border: 1px solid #00326E;
  padding-top: 8px !important;
  height: 35px !important;
  margin-top: 20px;
}
.profil {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
  margin-top: 15px;
}
#menuhorizontal .menu li a .caret {
  border: 0 none;
}

.region.region-navigation-top-right nav {
  display: inline-flex;
  vertical-align: top;
}
.region-footer-right .navbar-collapse.collapse {
  display: inline-flex!important;
}
@media (min-width: 992px) {
  .hide {
    display: none !important;
  }
  .hide-mobile {
    display: inline-block !important;
  }
  footer .region-footer-right nav h2 {
    font-size: 16px;
  }
  .logo {
    background-color: #00326e;
    display: block;
    float: left;
    height: 120px;
    margin-left: 0;
    padding-left: 65px;
    padding-top: 25px;
    width: 355px;
  }
  .navbar {
    border: medium none;
    height: 120px;
  }
  .navbar-top .container .navbar-header-main {
    width: 100%;
  }
  .navbar-top .container .navbar-header .secondaire {
    background-color: #f8f8f8;
    height: 45px;
  }
  .region-navigation-top-left {
    background-color: #f8f8f8;
    height: 45px !important;
    display: inline-flex !important;
    position: absolute;
  }
  .navbar .container .navbar-header .navbar-right, div#lien-top {
    height: 45px !important;
    position: absolute;
    right: 0;
    background-color: #f8f8f8;
    margin-right: 0;
  }
  #lien-top .nav {
    float: left;
    display: inline-flex;
  }
  .navbar .container .navbar-header .navbar-right {
    display: inline-flex !important;
  }
  .navbar-header-main .navbar-header-border-bottom {
    display: block;
  }
  .navbar-header #lien-top .social-media {
    padding: 7px;
  }
  .navbar-header #lien-top .social-media a {
    display: block;
    background-color: #00326e;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }
  .navbar-header #lien-top .social-media a:hover {
    color: #c89108;
    background: transparent;
  }
  .navbar-header .secondaire #ent a:hover {
    filter: brightness(0.75);
    -webkit-filter: brightness(0.75);
    background-color: transparent;
  }
  #menuhorizontal {
    background-color: #ffffff;
    display: block;
    height: auto;
    left: 355px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 46px;
    width: calc(100% - 355px);
  }
  #menuhorizontal .navbar-nav {
    margin-left: 15px;
  }
  #menuhorizontal .navbar-nav > li {
    padding-right: 5px;
    height: 75px;
  }
  #menuhorizontal .navbar-nav > li > a {
    font-size: 18px;
    font-weight: bold;
    padding: 27px 0;
    text-align: center;
    width: 130px;
    color: #00326e;
  }
  #menuhorizontal ul li ul li:first-child {
    border-bottom: 0 none;
    break-after: column;
  }
  #menuhorizontal ul li ul li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }

  #menuhorizontal .navbar-nav .je-suis a {
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav > li > a {
    color: #000000;
  }
  #menuhorizontal .navbar-nav > .active > a, #menuhorizontal .navbar-nav > .active > a:focus, #menuhorizontal .navbar-nav > li > a:hover {
    background-color: #00326e;
    color: #ffffff;
  }
  #menuhorizontal .titre-thumb {
    color: #ffffff;
  }
}
.lien-thumb {
  display: block;
  width: 204px;
  position: relative;
  float: left;
  height: auto;
  background-size: cover;
  min-height: 204px;
}
.universite-thumb {
  background: url("/sites/default/files/img/menu-univ.png") no-repeat 0 0;
}
.formation-thumb {
  background: url("/sites/default/files/img/menu-formation.png") no-repeat 0 0;
}
.recherche-thumb {
  background: url("/sites/default/files/img/menu-recherche.png") no-repeat 0 0;
}
.international-thumb {
  background: url("/sites/default/files/img/menu-international.png") no-repeat 0 0;
}
.vie-etudiante-thumb {
  background: url("/sites/default/files/img/menu-vieetudiante.png") no-repeat 0 0;
}
.inscription-thumb {
  background: url("/sites/default/files/img/menu-inscription.png") no-repeat 0 0;
}
.lien-thumb img {
  display:none;
}
.lien-thumb:hover {
  background: #00326e;
}
.hovered-link {
  background-color: #00326e;
  color: #ffffff;
}

.profil .bloc-profil {
  display: block;
  position: relative;
  float: left;
  width: 125px;
  height: 125px;
  min-height: 125px;
  line-height: 125px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #00326e;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-header .navbar-right > li > a:hover, .navbar-header .navbar-left > li > a:hover,
#liens-utiles  > li > a:hover {
  background-color: #00326e;
  color: #fff;
}
.navbar-header .navbar-right > li > a, .navbar-header .navbar-left > li > a, #liens-utiles > li > a {
  color: #626262;
  font-size: 16px;
}
.navbar-header #ent {
  background-color: #00326e;
}
.navbar-header #ent a {
  color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  box-shadow: none !important;
  display: none;
  height: auto !important;
  left: 354px !important;
  margin: 0 !important;
  padding-bottom: 75px !important;
  padding-left: 30px !important;
  padding-top: 50px !important;
  position: fixed;
  z-index: 1050;
  width: calc(100% - 354px) !important;
  columns: 4 204px;
  right: 0;
  top: calc(var(--small-value) / 2);
  min-height: 334px;
}
.dropdown-content li {
  border-bottom: 1px solid #dddddd;
  list-style: outside none none;
  max-width: 80%;
  padding-bottom: 10px;
}
.dropdown-content li + li {
  padding-top: 10px;
}
/* Links inside the dropdown */
.dropdown-content li a {
  color: #626262;
  font-size: 18px;
  font-weight: 100;
  line-height: 1em;
  display: block;
}
/* Dropdown Content duppliqué en dropdown menu */

#menuhorizontal .dropdown-menu {
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  box-shadow: none !important;
  display: none;
  height: auto !important;
  left: 354px !important;
  margin: 0 !important;
  padding-bottom: 75px !important;
  padding-left: 30px !important;
  padding-top: 50px !important;
  position: fixed;
  z-index: 1050;
  width: calc(100% - 354px) !important;
  columns: 4 204px;
  right: 0;
  top: calc(var(--small-value) / 2);
  min-height: 334px;
}
#menuhorizontal .dropdown-menu li {
  border-bottom: 1px solid #dddddd;
  list-style: outside none none;
  max-width: 80%;
  padding-bottom: 10px;
}
#menuhorizontal .dropdown-menu li + li {
  padding-top: 10px;
}
/* Links inside the dropdown */
#menuhorizontal .dropdown-menu li a {
  color: #626262;
  font-size: 18px;
  font-weight: 100;
  line-height: 1em;
  display: block;
}

/* Change color of dropdown links on hover */
#menuhorizontal .dropdown-menu > li > a:hover, #menuhorizontal .dropdown-menu > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #00326e;
  font-weight: bold;
  text-decoration: none;
}
/* Show the dropdown menu on hover */
#menuhorizontal .dropdown:hover .dropdown-content, #menuhorizontal .dropdown:hover .dropdown-menu {
  display: block;
}
@media screen and (max-width: 992px) {
  #menuhorizontal .dropdown:hover .dropdown-content, #menuhorizontal .dropdown:hover .dropdown-menu {
    display: none;
  }
}
#menuhorizontal .dropdown-menu li:first-child {
  border: 0 none;
}
#menuhorizontal .dropdown-menu li .titre-thumb {
  color: #ffffff;
  border: 0 none;
  display: table !important;
  padding: 165px 0 10px 20px !important;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00326e;
  color: #fff;
}
#langues img {
  float: left;
  height: 20px;
  margin-left: 20px;
  margin-top: 13px;
  width: 20px;
}
#langues .dropdown-toggle::before {
  content: "";
  font-family: "FontAwesome", sans-serif;
}
#langues .dropdown-toggle {
  float: left;
  margin-left: -10px;
  font-size: 14px;
  margin-top: 4px;
}
#langues .dropdown-toggle:hover, #langues .dropdown-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #626262;
  cursor: pointer;
}
#langues .dropdown-menu {
  background-color: #f8f8f8;
  border: medium none;
  box-shadow: none;
  margin-left: 45px;
  min-width: 36px;
  width: 90px;
}
#langues .dropdown-menu li a {
  padding-left: 10px;
}
#langues .dropdown-menu li a.is-active {
  color: #00326e;
  font-weight: bold;
}
.je-suis .dropdown-content {
  padding-left: 0 !important;
  margin-top: 17px !important;
}
.je-suis .dropdown-content .col-lg-12 .profil {
  width: 16.6667%;
}
.page-node-type-page-de-1er-niveau .recherche {
  top: 0;
}
.path-frontpage .recherche {
  top: 124px;
}
@media (min-width: 1140px) {
  #menuhorizontal .titre-thumb {
    font-size: 30px !important;
  }
}
@media (min-width: 1082px) and (max-width: 1350px) {
  #menuhorizontal .dropdown-menu {
    left: 227px !important;
    width: calc(100% - 227px) !important;
  }
  #menuhorizontal .navbar-nav > li {
    padding-right: 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1082px) {
  #menuhorizontal .dropdown-menu {
    left: 227px !important;
    width: calc(100% - 227px) !important;
  }
  #menuhorizontal .navbar-nav > li {
    padding-right: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {

  #menuhorizontal .dropdown-menu {
    left: 227px !important;
    width: calc(100% - 227px) !important;
  }
  #menuhorizontal .navbar-nav > li {
    padding-right: 0;
  }
}
@media (min-width: 1315px) and (max-width: 1350px) {
  #menuhorizontal .navbar-nav > li > a {
    font-size: 17px;
    width: 120px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .logo {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 32px;
    width: 228px;
  }
  #menuhorizontal {
    left: 228px;
  }
  #menu-horizontal .dropdown-menu {
    left: 227px !important;
    width: calc(100% - 227px) !important;
  }
  .chiffre {
    font-size: 60px;
  }
  .info {
    font-size: 20px;
  }
  .header-caption p {
    font-size: 14px;
  }
  .actualite-contenu {
    font-size: 14px;
  }
  #mini-site .cadre-titre {
    font-size: 17px;
  }
}
@media (min-width: 992px) and (max-width: 1315px) {
  #menuhorizontal .navbar-nav > li > a {
    font-size: 16px;
    width: 110px;
  }
}
@media (min-width: 992px) and (max-width: 1153px) {
  .logo {
    padding-left: 8px;
    padding-right: 8px;
    width: 200px;
  }
  #menuhorizontal {
    left: 200px;
  }
  #menuhorizontal .dropdown-menu {
    left: 199px !important;
    width: calc(100% - 198px) !important;
    columns: 3 200px;
    min-height: 274px;
    padding-bottom: 25px !important;
  }
  #menuhorizontal .navbar-nav {
    margin-left: 0;
  }

  #menuhorizontal .dropdown-menu li a {
    font-size: 14px;
  }
  #menuhorizontal .titre-thumb {
    font-size: 30px !important;
  }
}

@media (max-width: 992px) {
  .hide {
    display: block !important;
  }
  .hide-mobile {
    display: none !important;
  }
  .logo img {
    top: 7px;
    transform: none;
    left: 10px;
  }
  .navbar {
    position: relative;
    float: left;
    min-height: 60px;
    border: 0 none;
    width: 100%;
    display: block;
  }
  .navbar-header {
    background-color: #00326e;
    width: 100%;
  }
  .navbar-default .navbar-header .navbar-toggle {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    border: 0 none;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-header .navbar-toggle .icon-bar {
    height: 3px;
    width: 32px;
  }
  /* Recherche */
  .path-frontpage .recherche { top: 60px; }
  .page-node-type-page-de-1er-niveau .recherche { top: 0; }

  /*// HAMBURGER ANIMATION////*/
  #nav-icon{
    width: 30px;
    height: 15px;
    position: relative;
    margin: 17px 17px 10px 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon span.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  #nav-icon span{
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #ffffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

  }
  #nav-icon span:nth-child(even) {
    left: 50%;

  }

  #nav-icon span:nth-child(odd) {
    left:0;

  }

  #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
    top: 0;
  }

  #nav-icon span:nth-child(4), #nav-icon span:nth-child(5) {
    top: 10px;
  }

  #nav-icon span:nth-child(6), #nav-icon span:nth-child(7) {
    top: 20px;
  }

  #nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(7) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon.open span:nth-child(3),#nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon.open span:nth-child(2) {
    left: 5px;
    top: 7px;
  }

  #nav-icon.open span:nth-child(3) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #nav-icon.open span:nth-child(4) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(5) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(6) {
    left: 5px;
    top: 12px;
  }

  #nav-icon.open span:nth-child(7) {
    left: calc(50% - 5px);
    top: 12px;
  }
  .navbar-header .secondaire {
    background-color: #f5f5f5;
    float: left;
    width: 100%;
  }
  .navbar-header .secondaire li a {
    color: #777;
    font-size: 14px;
    padding: 10px 2px;
  }
  .navbar-header .secondaire li a:hover, .navbar-header .secondaire li a:focus {
    background-color: transparent;
    color: #626262;
    cursor: pointer;
  }
  .navbar-header .secondaire #bt-langues {
    width: 100%;
    float:left;
    padding: 0;
  }
  @media (max-width: 992px) {
    .region-navigation-top-left {
      width: 100%;
      display: block;
      position: relative;
    }
    .navbar-header .secondaire li a.lang-dropdown-toggle {
      padding: 7px 2px;
    }
    .navbar-header .secondaire #lien-top {
      clear: both;
      text-align: left;
      margin-left: 30px;
      float: initial;
    }
    .region-footer-right .desktop {
      display: initial;
    }
    footer .region-footer-right nav {
      text-align: center;
    }
    footer .region-footer-right nav h2 {
      display: none;
    }
  }

  .navbar-header .secondaire #lien-top li a {
    padding: 14px 5px 10px;
  }
  .navbar-header .secondaire #ent {
    position: absolute;
    right: 90px;
    top: -50px;
    min-width: 70px;
  }
  .navbar-header .secondaire #ent a:hover {
    filter: brightness(0.75);
    -webkit-filter: brightness(0.75);
    background-color: transparent;
  }
  .navbar-header .secondaire #loupe, .navbar-header .secondaire .loupe  {
    position: absolute;
    right: 55px;
    top: -50px;
  }
  #menuhorizontal {
    height: auto;
  }
  #menuhorizontal .nav li a.dropdown-toggle::after {
    color: #00326e;
    content: "";
    float: right;
    font-family: "FontAwesome", sans-serif;
    font-size: 25px;
  }

  #menuhorizontal .nav li a {
    color: #626262;
    font-size: 16px;
    font-weight: bolder;
    padding: 20px 40px;
  }
  #menuhorizontal .dropdown-menu {
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    width: 100%;
    display: none;
  }
  #menuhorizontal .dropdown-menu li {
    border: medium none;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
  }
  #menuhorizontal .nav li {
    border-bottom: 1px solid #dddddd;
    width: 100%;
  }
  #menuhorizontal .dropdown-menu li a {
    background-color: rgba(0, 0, 0, 0);
    font-weight: normal;
    padding: 0 40px 0 20px;
  }
  #menuhorizontal .dropdown-menu li a::after {
    font-family: "FontAwesome", sans-serif;
    content: "\f107";
    float: right;
    color: #00326E;
    font-size: 25px;
  }
  #menuhorizontal .nav li a {
    font-size: 16px;
    font-weight: bolder;
    color: #626262;
    padding: 20px 40px 20px 40px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar .navbar-right {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .nav > li.collapse {
    display: none;
  }
  .nav > li.collapse.in {
    display: inline-block;
  }
  #ent a {
    color: #ffffff;
    font-size: 16px;
    padding-right: 3px;
  }
  #ent a:hover {
    color: #cccccc;
    background-color: transparent;
    font-weight: 100;
  }
  .navbar #circle, .loupe-toggle .loupe-circle {
    border: 2px solid #ffffff;
  }
  .navbar #bar {
    background: #ffffff none repeat scroll 0 0;
  }
  #search-toggle:checked ~ #searchopen #wrapper #circle, #search-toggle:checked ~ #searchopen #wrapper .loupe-circle {
    width: 4px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    left: 23px;
    top: 13px;
    transform: rotate(0deg);
  }
  .navbar-collapse {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .logo {
    height: 60px;
    width: 200px;
    float: left;
  }
  #langues img {
    float: left;
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    width: 20px;
  }
  #langues .dropdown-toggle::before {
    content: "";
    font-family: "FontAwesome", sans-serif;
  }
  #langues .dropdown-toggle {
    float: left;
    margin-left: 0;
    font-size: 14px;
    margin-top: 4px;
  }
  #langues .dropdown-toggle:hover, #langues .dropdown-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #626262;
    cursor: pointer;
  }
  #langues.open .dropdown-menu {
    display: inline-flex;
  }
  #langues .dropdown-menu {
    background-color: #f8f8f8;
    border: medium none;
    box-shadow: none;
    margin-left: 80px;
    min-width: 36px;
    width: 100%;
    margin-top: 0;
    padding: 4px 0;
  }
  #langues .dropdown-menu li a.is-active {
    color: #00326e;
    font-weight: bold;
  }
  #langues .dropdown-menu li a {
    padding: 7px 10px;
  }
  #menuhorizontal .je-suis {
    margin-bottom: 15px;
  }
  #menuhorizontal .je-suis .dropdown-content .col-lg-12 .profil {
    width: 50%;
    padding-left: 7px;
    padding-right: 7px;
  }
  #menuhorizontal .je-suis .btn-nav {
    border: 1px solid #00326E;
    padding-top: 20px !important;
    height: auto !important;
    margin-top: 0;
  }
  #je-suis {
    height: auto;
    margin: 0;
  }
  #menuhorizontal .je-suis .dropdown-menu .profil .bloc-profil {
    font-size: 16px;
    font-weight: bolder;
    color: #626262;
    padding: 0;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
  }
  .je-suis h3.titre-thumb {
    color: #ffffff;
    font-size: 16px !important;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
  }
  .navbar-header #lien-top .social-media {
    display: none;
  }
  #menuhorizontal .caret {
    display: none;
  }
}
@media (max-width: 768px) {
  .region-footer-right .social-media a {
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 330px) {
  .navbar-header .secondaire #lien-top {
    padding-right: 5px;
    width: calc(100% - 60px);
  }
  .region-navigation-top-left {
    width: 60px;
  }
  #langues img {
    margin-left: 10px;
  }
}
#ent-search-mobile {
  position: absolute;
  top: 9px;
  right: 60px;
}
ul#ent-search-mobile li {
  display: inline-flex;
  vertical-align: top;
}
