@media (min-width: 1680px){
  .titre-thumb{

    left: 27%;
    width: 20%;;
  }

}
@media (min-width: 1024px) and (max-width: 1280px){
  .logo{
    width:228px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 32px;
  }
  #navbar2 li{
    padding-right: 0!important;
  }

  .titre-thumb{
    font-size: 20px;
  }

  .chiffre {
    font-size: 60px;
  }

  .info{
    font-size: 20px;
  }
  .header-caption p {
    font-size: 14px;
  }

  .actualite-contenu{
    font-size: 14px;
  }

  #mini-site .cadre-titre{
    font-size: 17px;
  }

}
@media (max-width: 1200px){
  .event.full .metadata, .event.full #event-content {
    width: auto;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1153px){
  .logo{
    width:200px;
    padding-right: 8px;
    padding-left: 8px;
  }
  #navbar2 li{
    padding-right: 0!important;
  }

}
@media (max-width: 1024px)
{
  .carousel-control.left,.carousel-control.right
  {
    width:25px;
    height:25px;
  }
  .container.view-news.view-id-news.view-display-id-block_2{

    margin-top:0;
  }
  .carousel-caption .sous-titre
  {
    line-height:1em;
  }

  .carousel-caption a.btn-voir
  {

    font-size:1rem;
    height: 25px;
    width: 100px;
    padding-top: 5px;
  }
}
@media (min-width: 992px){
  .navbar-mobile, .tabs-mobile, #footer-bar-mobile{
    display: none;
  }

}
@media (max-width: 991px){
  .navbar{
    width: 100%;
  }
  .navbar-desktop, #footer-bar{
    text-align: center;
  }
  #navbar1-mobile, #navbar2-mobile{
    display: none;
  }

  .open-menu-mobile, #footer-bar-mobile{
    display: block!important;
  }
  .navbar-mobile .navbar-header img{
    width: 110px;
    float: left;
  }
  .navbar-mobile .navbar-header{
    height: 60px;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #00326E;
    z-index: 999;
    position: absolute;

  }
  .navbar-mobile .navbar-right{
    display: inline-flex;
    float: right;
    margin: 0;
  }
  .navbar-mobile  #circle, .loupe-wrapper .loupe-circle {
    border: 2px solid #ffffff;
    box-shadow: none;
  }

  .navbar-mobile  #bar, .loupe-wrapper .loupe-bar {
    background: #ffffff;
    box-shadow: none;
  }
  #ent a, .ent a {
    color:#ffffff;
    font-size: 16px;
    padding-right: 3px;
  }

  .footer-wrapper{
    display: none;
  }

  .titre{
    font-size: 20px;
  }

  .navbar-default #navbar1{
    height:50px!important;
  }

  .navbar-default .navbar-left{
    float:left;
  }
  .navbar-default .navbar-right-2{
    float:right;
    padding-right: 10px;
  }

  #navbar1-mobile{
    background-color: #F5F5F5;
    position: relative;
    z-index: 999;
    height: 50px;
    margin-top: 60px;
  }
  #navbar1-mobile .navbar-right-2>li>a{
    padding-left:5px;
    padding-right: 5px;
  }

  #navbar1-mobile .nav{
    display: inline-flex;
  }

  #navbar2-mobile{
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: #ffffff;

  }


  #navbar2-mobile .nav li{
    border-bottom:1px solid #dddddd;
    width: 100%;
  }

  #navbar2-mobile .nav li a{
    font-size: 16px;
    font-weight: bolder;
    color:#626262;
    padding: 20px 40px 20px 40px;
  }

  #navbar2-mobile .nav li a.dropdown-toggle:after{
    font-family: 'FontAwesome';
    content: "\f107";
    float: right;
    color:#00326E;
    font-size: 25px;
  }
  #navbar2-mobile .nav .open .dropdown-submenu a.dropdown-toggle:after{
    font-family: 'FontAwesome';
    content: "\f107";
    float: right;
    color:#00326E;
    font-size: 25px;
  }
  #navbar2-mobile .nav .open .dropdown-submenu.open a.dropdown-toggle:after{
    font-family: 'FontAwesome';
    content: "\f106";

  }
  #navbar2-mobile .nav .open .dropdown-submenu.open .dropdown-menu{
    left:0!important;
    margin-top: 24px;
    border: none;

  }
  #navbar2-mobile .nav .open a.dropdown-toggle:after{
    font-family: 'FontAwesome';
    content: "\f106";

  }
  #navbar2-mobile .dropdown-menu{
    background-color: #F5F5F5;
    border-top:1px solid #dddddd;
    width: 100%;
  }
  #navbar2-mobile .dropdown-menu li{
    border:none;
    padding-left:20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #navbar2-mobile .dropdown-menu li a{
    font-weight: normal;
    padding: 0 40px 0 20px;
    background-color: transparent
  }

  #navbar2-mobile .nav .dropdown-submenu>.dropdown-menu{
    border-bottom:1px solid #dddddd;
  }
  #navbar2-mobile .nav .dropdown-submenu>.dropdown-menu>li>a{
    font-size: 12px;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color:#626262!important;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover
  {
    background-color: transparent;
    color:#626262!important;
  }

  #navbar2-mobile .menu-bar-down{
    background-color: #F5F5F5;
  }
  #navbar2-mobile .menu-bar-down ul{
    list-style: none;
  }
  #navbar2-mobile .menu-bar-down ul li{
    border:none;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  #navbar2-mobile .menu-bar-down ul li a, #navbar2-mobile .menu-bar-down ul li a:hover{
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
  }
  .tabs-desktop{
    display: none;
  }
  .panel-default>.panel-heading{
    background-color: #00326E;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }

  .panel-title a{
    color:#ffffff;
    font-weight: bold;
  }
  .social-media-mobile{
    display: inline-flex;
    padding-top: 30px;
  }
  .social-media-mobile li{
    padding:5px;
  }
  .social-media-mobile li a{
    display: block;
    background-color:#FFFFFF;
    color:#00326E;
    border-radius: 50%;
    width: 20px;
    height:20px;
    line-height: 20px;
    text-align: center;
  }
  .social-media-mobile li a span{
    font-size: 14px;
  }
  #actualite .row{
    margin-left: 11%;
  }

  .carousel-caption{

  }
  section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #block-ajoutdubloctouteslesactualites {
    padding-top: 0;
    padding-bottom: 0;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .header-caption {
    top: 9%;
    left: 7%;
    position: absolute;
    text-align: left;
    color: #ffffff;
    width: 48%;
  }
  .header-caption h1{
    padding-top: 0;
  }
  .cadre-bleue{
    border-bottom: 1px solid #ffffff;
  }
  .cadre-bleue:nth-child(1){
    border-left: none;
  }
  .blue-rectangle{
    margin-bottom: 20px;
  }
  #les-chiffres{
    height: 500px;
  }
  .lien-thumb{
    box-shadow: none;
  }
  .titre-thumb{
    font-size: 18px;
    left: 43%;
  }
  .page-node-type-news .main-container .region-content .news {
    width: 100%;
  }
}

@media only screen and (max-width: 1310px) {
  body .carousel-control.right {
    bottom: 15px;
    right: 15px;
    margin-right: 0;
    top: auto;
    height: 30px;
    width: 30px;
    left: auto;
  }
  body .carousel-control.left {
    top: auto;
    bottom: 15px;
    width: 30px;
    height: 30px;
    right: 60px;
    left: auto;
  }
  .cadre-photo-contenu .carousel-control.right {
    bottom: 30px;
    right: 30px;
  }
  .path-frontpage.page-node-type-page .cadre-photo-contenu h2 {
    padding: 0 70px 0 10px;
  }
}

@media only screen and (max-width: 850px) {

  .degrade {
    width: 100%;
    height: 70%;
    bottom: 0;
    top: auto;
  }
  .fondorslider .degrade {
    background: linear-gradient(to top, rgba(200,145,8,1) 35%, rgba(255,255,255,0));
    -webkit-background: linear-gradient(to top, rgba(200,145,8,1) 35%, rgba(255,255,255,0));
    -moz-background: linear-gradient(to top, rgba(200,145,8,1) 35%, rgba(255,255,255,0));
    -o-background: linear-gradient(to top, rgba(200,145,8,1) 35%, rgba(255,255,255,0));
  }
  .fondbleuslider .degrade, .fondblerslider .degrade {
    background: linear-gradient(to top, rgba(119,151,201,1) 35%, rgba(255,255,255,0));
    -webkit-background: linear-gradient(to top, rgba(119,151,201,1) 35%, rgba(255,255,255,0));
    -moz-background: linear-gradient(to top, rgba(119,151,201,1) 35%, rgba(255,255,255,0));
    -o-background: linear-gradient(to top, rgba(119,151,201,1) 35%, rgba(255,255,255,0));
  }
  .fondorangeslider .degrade {
    background: linear-gradient(to top, rgba(229,83,2,1) 35%, rgba(255,255,255,0));
    -webkit-background: linear-gradient(to top, rgba(229,83,2,1) 35%, rgba(255,255,255,0));
    -moz-background: linear-gradient(to top, rgba(229,83,2,1) 35%, rgba(255,255,255,0));
    -o-background: linear-gradient(to top, rgba(229,83,2,1) 35%, rgba(255,255,255,0));
  }
  .fondroseslider .degrade {
    background: linear-gradient(to top, rgba(158,0,93,1) 35%, rgba(255,255,255,0));
    -webkit-background: linear-gradient(to top, rgba(158,0,93,1) 35%, rgba(255,255,255,0));
    -moz-background: linear-gradient(to top, rgba(158,0,93,1) 35%, rgba(255,255,255,0));
    -o-background: linear-gradient(to top, rgba(158,0,93,1) 35%, rgba(255,255,255,0));
  }
  .fondvertslider .degrade {
    background: linear-gradient(to top, rgba(0,169,157,1) 35%, rgba(255,255,255,0));
    -webkit-background: linear-gradient(to top, rgba(0,169,157,1) 35%, rgba(255,255,255,0));
    -moz-background: linear-gradient(to top, rgba(0,169,157,1) 35%, rgba(255,255,255,0));
    -o-background: linear-gradient(to top, rgba(0,169,157,1) 35%, rgba(255,255,255,0));
  }
  html body .carousel-caption {
    width: 90%;
    text-align: left;
    padding-left: 10%;
    transform: none;
    bottom: 0px;
    top: auto;
    font-size: 1.2rem;
  }

}

@media only screen and (max-width: 768px) {
  .page-node-type-page-de-1er-niveau .main-container section .img-header-page {
    margin-bottom: 15px;
    height: auto;
  }
  .page-de-1er-niveau .content h1 {
    padding-left:30px;
  }
  .page-node-type-page-de-1er-niveau .main-container article.page-de-1er-niveau .content .field--name-field-image::after {
    background-image: linear-gradient(to right, rgba(200,145,8,1) ,rgba(200,145,8,1) 25%, rgba(255,255,255,0) 60%);
  }
  .page-node-type-page-de-1er-niveau .main-container section .structured-content .region .breadcrumb {
    padding-left: 30px;
  }
}



@media (max-width: 576px) {


  .carousel-caption, .header-caption {
    text-align: left;
    padding-top: 0;

  }
  .carousel-caption h3, .header-caption h3{
    font-size: 1.5em;
  }
  .carousel-caption h3{
    display: block;
  }
  .header-caption h3{
    padding-top: 0;
  }
  .carousel-caption p, .header-caption p{
    font-size: 0.85em;
  }
  .left{
    margin-left: -30px
  }
  .right{
    margin-right:-30px;
  }

  .header-caption {
    text-align: left;
    left: 10%;
    top: 70px;
    width: 63%;
    padding-top: 0;

  }

  .titre-thumb{
    left:50%;
  }
  .input_field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #95989A;
  }
  .input_field::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #95989A;
  }
  .input_field:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #95989A;
  }
  .input_field:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #95989A;
  }
  .input_label-search{
    width: 20px;
    height: 20px;
  }
  #lien_formation{
    font-size: 14px;
  }
  .cadre{
    padding-left: 50px;
    padding-right: 50px;
  }
  .chiffre, .chiffre p, .chiffre > p, .content .paragraph .chiffre p {
    font-size: 50px;
  }
  .info{
    font-size: 20px;

  }
  #les-chiffres .row .chiffres-wrapper:nth-child(2){
    float:right;
    width: 100%;
    padding-right: 40px;
  }

  #les-chiffres .row .chiffres-wrapper:nth-child(2) .info{
    float:right;
    margin-top: 14px;
    margin-right: 10px;
  }
  .blue-rectangle{
    min-height: 81px;
    height: auto;
    margin-bottom: 20px
  }
  #blue-rectangle .row {
    padding-bottom: 0;
  }
  .sidebar{
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .sidebar-nav-categ{
    display: none;
  }
  .tabs-mobile .panel-default>.panel-heading{
    background-color: #00326E;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }

  .tabs-mobile .panel-title a{
    color:#ffffff;
    font-weight: bold;
  }


  .actualite-colonne img{
    max-width:100%;
  }
  #actualite .row{
    margin-left: 0;
  }
  #footer-bar-mobile .footer-logo{
    width:88px;
  }

  #mini-site .middle-section {
    margin-top: 80px;
  }
  #les-chiffres{
    height: 380px;
  }

  .input_field_white::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 20px;
  }
  .input_field_white::-moz-placeholder { /* Firefox 19+ */
    font-size: 20px;

  }
  .input_field_white:-ms-input-placeholder { /* IE 10+ */
    font-size: 20px;

  }
  .input_field_white:-moz-placeholder { /* Firefox 18- */
    font-size: 20px;

  }
  .search-btn-white{
    right:20px;
  }

  .lien-thumb{
    box-shadow: none;
    padding: 10px 20px 10px 20px!important;
  }
  .titre-thumb{
    font-size: 20px;
  }
  .listedFilters{
    display:block;
  }
  .event.full {
    margin: 0 auto;
    width: 100%;
  }
  .event .tag, .news .tag {
    width: 100%;
  }
  .event .field--type-link {
    margin: 10px auto;
    width: 100%;
  }
}

@media (max-width: 425px) {

  .carousel-caption h3 {
    font-size: 1em;
  }
  .carousel-caption p {
    font-size: 0.85em;
  }
  .header-caption .niveau{
    margin-bottom: 0;
  }
  .header-caption h3{
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .titre-thumb{
    font-size: 12px;
  }
  #je-suis{
    height:78px;
    line-height: 78px;
  }
  .paragraph--type--bp-columns__2col .paragraph--type--bp-simple{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 340px){
  .carousel-inner {
    min-height: 55vw;
  }
  .carousel-indicators {
    bottom: 10vw;
  }
}
