/*
    Feuille de style SCSS
    SMACSS : Base > Base
    Par Ebizproduction
*/
/* Ebizproduction : Général */


@include responsiveShrink();

/* Heading TYPOGRAPHY -- BEGIN */
h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, h6 {
  font-family: $font-second; @include setFont($fontType-bold);
  line-height: 1.2;
}
h1, .h1-style{font-size: rem-calc(100px);}
h2, .h2-style{font-size: rem-calc(45px);}
h3, .h3-style{font-size: rem-calc(30px);}
h4, .h4-style{font-size: rem-calc(20px);}
h5, .h5-style{font-size: rem-calc(18px);}
h6, .h6-style{font-size: rem-calc(16px);}
/* TYPOGRAPHY -- END */

/* TRANSITION -- BEGIN */
.transition-effect{
	@include transitionEffect();
}
.no-transition{
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}
*{@extend .no-transition;}
/* TRANSITION -- END */

/* Ebizproduction : Alignement */
#main{padding-top: rem-calc(100px);}

.txt-align-#{$left}, .txt-#{$left}, .m-txt-#{$left} {text-align: #{$left} !important;}
.txt-align-#{$right}, .txt-#{$right}, .m-txt-#{$right} {text-align: #{$right} !important;}
.txt-align-center, .txt-center,.m-txt-center {text-align: center !important;}

.margin-auto{margin-left: auto; margin-right: auto;}
.no-margin{margin: 0 !important;}

.semi-semi-infos-sep{margin-bottom: rem-calc($fgutter/4);}//8px
.semi-infos-sep{margin-bottom: rem-calc($fgutter/2);}//16px
.block-title-sep{@include responsiveVal(margin-bottom, $gutter*0.5625);} //18px
.semi-field-sep, .semi-field-sep-val{margin-bottom: rem-calc($fgutter*0.75);}//24px
.title-sep, .parag-sep, .infos-sep{margin-bottom: rem-calc($fgutter);} //32px
.field-sep, .title-sep.big{margin-bottom: rem-calc($fgutter*1.5);} //48px
.page-title-sep{@include responsiveVal(margin-bottom, $gutter*1.75);} //56px}
.block-sep{margin-bottom: rem-calc($fgutter*2);} //64px
.section-sep{
  margin-bottom: rem-calc($fgutter*2.5);//80px
  &.small{
    margin-bottom: rem-calc($fgutter*2);//72px
  }
  &.big{
    margin-bottom: rem-calc($fgutter*3); //96px
  }
}
.parag-sep-top{
  margin-top: rem-calc($fgutter);//32px
}
.section-sep-top.big{
  margin-top: rem-calc($fgutter*3);//96px
}
.padding-all{
  &.uneven{
    padding: rem-calc(56px 88px 64px 88px);
  }
}
.padding-top-bottom{
  padding-top: rem-calc($fgutter*1.75); //56px
  padding-bottom: rem-calc($fgutter*1.75); //56px
  &.medium{
    padding: rem-calc(72px 0);
  }
  &.big{
    padding-top: rem-calc(90px);
    padding-bottom: rem-calc(96px);
  }
}

/* Ebizproduction : Alignement END*/

.no-border{border:0;}

ul.list-style {
	li{
		position: relative; #{$padding-left}: rem-calc(24px);
		&:before{
			content: ""; display: block;
			position: absolute; #{$left}: 0;
			width: rem-calc(8px); height: rem-calc(8px);
			border-radius: 100%;
			top: 50%; transform: translateY(-50%);
		}
	}
}
.icon-container{
	//for GUI ==============
	.icons-list &{
		display: inline-block; margin: 4px; border: solid 1px;
	}
	//for GUI END ==============

	//32px
	width: rem-calc($fgutter); height: rem-calc($fgutter);
	font-size: 100%;
	[class*="icon"]{
		@extend .display-flex;
		@extend .display-flex.align-center-middle;
		width: 100%; height: 100%;
		&:before{
			font-size: rem-calc(32px);
		}
	}
}//close icon-container
.full-height-all-children *{
  height: 100%;
  img{object-fit: cover;}
}


.field--type-text-long{
  ul, div:not(.visually-hidden), p, img, embed, picture{
    ~ ul, ~ div, ~ p, ~ h1, ~ h2, ~ h3, ~ h4, ~ h5, ~ img, ~ embed, ~ picture{
      margin-top: rem-calc(56px);
    }
  }
  h1, h2, h3, h4, h5{
    + ul, + div, + p, + h1, + h2, + h3, + h4, + h5, + img, + embed, + picture{
      margin-top: rem-calc(24px);
    }
  }
}
.column-number-2{
  columns: 2;
  column-gap: rem-calc(96px);
}
.m-txt-message, .message{
	@include responsiveVal(padding, $gutter*0.75 $gutter*0.75 $gutter*0.75 $gutter*2);
	@include setFont($fontType-regular); width: 100%;
	font-size: rem-calc(14px); line-height: 1.5;
	position: relative;
	//@include responsiveVal(margin,0 0 $gutter 0);
	@extend .display-flex;
    @extend .display-flex.valign-center;
	*{color: inherit;}

	/*default*/
	@extend .icon;
	@extend .icon-info;
	&:before{
		color: inherit; font-size: rem-calc(20px);
		@include vertical-align(absolute); #{$left}: rem-calc(24px);
	}
	/*default*/

	&:before{
		//padding: rem-calc(0 16px); color: inherit;
	}

	&.valid{
		@extend .icon-thumb-up;
	}

	&.error{
		@extend .icon-ban;
	}

	&.warning{
		@extend .icon-alert;
	}

	a{text-decoration:underline; padding: rem-calc(0 4px);}
}

.section-header-wrapper, .section-content-wrapper, .section-footer-wrapper{
  padding: rem-calc(32px 0); display: block; width: 100%;
}

.section-footer-wrapper {
	text-align: center;
}

.txt-regular, .txt-regular *{@include setFont($fontType-regular);}
.txt-second{font-family: $font-second;}
.txt-bold{@include setFont($fontType-bold);}
.toggler, .hand-cursor{cursor: pointer; cursor:hand;}
.txt-upper-content, .txt-upper{text-transform: uppercase;}
.full-height{height: 100%;}
.full-width, [class*="-inner"]>div{width: 100%;}
.display-block{display: block !important;}
.display-inline{
  display: inline-block !important;
  &+.display-inline{
    @include responsiveVal(#{$margin-left}, $gutter);
  }
}

.txt{
  font-size: rem-calc(18px); line-height: 1.33;
  p{font-size: rem-calc(18px); line-height: 1.33;}
  &.medium{
    font-size: rem-calc(20px);
    p{font-size: rem-calc(20px); line-height: 2;}
  }
  &.big{
    font-size: rem-calc(35px); line-height: 1.4;
  }
}


.relative-wrapper{
	position: relative;
	.absolute-infos{
		position: absolute;
		&.middle{top: 50%; transform: translateY(-50%);}
		&.center{left: 50%; transform: translateX(-50%);}
		&.top{top: 0;}
		&.left{left: 0;}
	}
}


.main-overlay-infos{
  position: absolute; @include responsiveVal(bottom, $gutter*3);
  #{$left}: 0; height: auto; width: 100%;color: $text-white;
  *{color: $text-white;}
  h1{margin: 0;}
}
.overlay-infos{
  position: absolute;;
  width: 100%; height: auto;
  * {color: $white;}
  a:hover{color: $white; text-decoration: none;}
  &.equal-height{
	  flex-wrap: wrap; justify-content: flex-start;
	  padding: 70px 128px; width: 80%;
	}
  &.with-padding{
    padding: rem-calc(80px 126px);
  }
}
.noscroll{overflow: hidden;}

.no-margin-top-bottom{
  margin-top: 0 !important; margin-bottom: 0 !important;
}

.swiper-container:not(#swiper-tiles){
  padding: rem-calc(2px 100px);
  max-width: rem-calc(1400px);
  .swiper-slide{
    height: auto;
    max-width: calc(calc(1200px - 48px) / 3);
  }
  .swiper-button-prev, .swiper-button-next{
    background-image: none; opacity: 1;
    width: rem-calc(98px); height: 100%;
    margin: 0;
    top: 0; @include flexDisplay(); @include flexDisplayAlign('center-middle');
    &:before{font-size: rem-calc(48px);}
    &:focus{outline: none;}
    &.swiper-button-disabled{
      &:before{opacity: 0.35;}
    }
  }
  .swiper-button-prev{#{$left}: 0;}
  .swiper-button-next{#{$right}: 0;}
}

.view-header-color{
  padding: rem-calc(70px 0);
}

.groupeinfo{text-align: center;}
.infos-row-wrapper{
	@include flexDisplay(false, false);
  @extend .semi-semi-infos-sep;
	&> div:not(:last-of-type){
		#{$margin-right}: rem-calc(8px);
	}
	&.space-between{
		@include flexDisplayAlign('space-between');
	}
	&.valign-center{
		@include flexDisplayAlign('vcenter');
	}
	&.wrap{flex-wrap: wrap;}
}

.grow-1{flex: 1 0 auto;}
.same-height{
	@include flexDisplay(); @include flexDisplayAlign('space-between');
  flex-direction: column;
}

.img-container{
	img{width: 100%;}
  .browser-ie &{
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.equal-height{
	> div {height: 100%;}
}
.label-style{
  font-size: rem-calc(22px); line-height: 1.6;
  @include setFont($fontType-bold);
}

.subtitle{
	font-size: rem-calc(16px); line-height: 1.25;
	font-family: $font-second; @include setFont($fontType-lightItalic);
}

.categ-style{
	font-family: $font-second; text-align: center;
  font-size: rem-calc(18px); line-height: 1.2;
  @include setFont($fontType-medium); padding: rem-calc(4px 8px);
  display: inline-block;
}


//Anchor style ==========
.link-style {
  font-size: rem-calc(18px); line-height: 1.3;
  text-decoration: underline; display: inline-block;
  &:hover{
    text-decoration: none;
  }
}

.add-link-style-wrapper a{
  @include setFont($fontType-bold);
}

.field--type-text-long {
  a{
    @extend .link-style;
    font-size: inherit; line-height: inherit;
  }

  .reset-style, h1, h2, h3, h4, h5, h6{
    a{
      font-weight: inherit; text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  li{font-weight: inherit;}
}


//Anchor style END ===========

.date-style, .author{
  font-size: rem-calc(18px); line-height: 1.6;
  font-family: $font-second; @include setFont($fontType-medium);
  min-width: rem-calc(125px);
}

.author{
	@include setFont($fontType-italic); text-transform: uppercase;
	text-align: center;
}

.pager{
  .pager__item{
    text-align: center;
    .button{
      display: inline-block;
      @extend .section-sep;
    }
  }
}
