.views-element-container{
	height: 100%;
	footer{
		align-self: flex-end;
	}
}
.box-content-padding{
	padding: rem-calc(36px 20px);
}
.box-style{
  height: 100%;
  @include flexDisplay();
  flex-direction: column;
	&.auto-height{height: auto;}
	.box-content{
	  padding: rem-calc(36px 20px);
	  //background-color: $light-gray;
	  @include flexDisplay(); @include flexDisplayAlign('space-between');
	  flex: 1 0 auto; flex-direction: column;
	  .title{
	  	font-size:rem-calc(22px); line-height: 1.18;
	  	@include setFont($fontType-bold);
	  	margin-top: 0;
	  }
		// a{
		// 	text-decoration: underline;
		// 	&:hover{
		// 		text-decoration: none;
		// 	}
		// }
		&.paragraph--type--tuile-text-wo-image {
			.link-wrapper{text-align: #{$right};}
		}
		&.social-and-calendar{
			padding: rem-calc(12px 32px);
		}
		.details + .details{
			@extend .parag-sep-top;
		}
		&.paragraph--type--tile-wo-image{
			@include flexDisplayAlign('center-middle');
		}
	}
}
