.views-element-container{
	height: 100%;
	footer{
		align-self: flex-end;
	}
}
.box-style{
  height: 100%;
  @include flexDisplay();
  flex-direction: column;
	.box-content{
	  padding: rem-calc(36px 20px);
	  //background-color: $light-gray;
	  @include flexDisplay(); @include flexDisplayAlign('space-between');
	  flex: 1 0 auto; flex-direction: column;
	  .title{
	  	font-size:rem-calc(24px);
	  	@include setFont($fontType-bold);
	  	margin-top: 0;
	  }
	}
	.img-container{flex: 0 0 auto;}
}

.groupeinfo{text-align: center;}
.inline{
	@include flexDisplay();
	&> div:not(:last-of-type){
		#{$margin-right}: rem-calc(8px);
	}
	&.space-between{
		@include flexDisplayAlign('space-between');
	}
	&.align-center{
		@include flexDisplayAlign('vcenter');
	}
	&.wrap{flex-wrap: wrap;}
}

.grow-1{flex: 1 0 auto;}
.same-height{
  display: flex; justify-content: space-between;
  flex-direction: column;
}

.img-container{
	img{width: 100%;}
}


.label-style{
  font-size: rem-calc(22px); line-height: 1.6;
  @include setFont($fontType-bold);
}

.categ-style{
  padding: rem-calc(8px 16px); line-height: 1.2;
  font-size: rem-calc(18px); display: inline-block;
}


.more-link, .load-more, .add-link{font-size: rem-calc(18px); line-height: 1.3;}
.more-link, .load-more{text-decoration: underline; font-family: $font-second;}
.node-readmore a{
	@extend .more-link;
}

.date-style{
  font-size: rem-calc(18px); line-height: 1.6;
  @include setFont($fontType-bold);
}

.add-link{ @include setFont($fontType-bold);}



/* tabs */
#tabs-style {
	> li{
  		width: calc(100% / 4);
	  	> a{
		  font-size: rem-calc(22px); line-height: 1.18;
		  padding: rem-calc(24px); @extend .hand-cursor;
		  text-transform: uppercase; text-align: center;
		  #{$margin-right}: 0; border-radius: 0; border: 0;
			&:hover{
				text-decoration: none;
			}
		}//close a
		&.is-active a{
		  color: $light-gray; border: 0;
			text-decoration: none;
		  /*&:hover{
			  background-color: #00326E;
			  color: #F6F0ED; border: 0;
			}*/
		}
	}
}//close nav-tabs
