//======================= BASE =================//
hr {
	background: $background-black;
}

::-moz-selection {
	color: $text-white;
  background: $background-black;
}

::selection {
	color: $text-white;
  background: $background-black;
}

h1, h2, h3, h4, h5, h6, .h1-style, .h2-style, .h3-style, .h4-style, .h5-style, .h6-style{
	color: $heading-color;
}

.paris1-bg-blue{
	background-color: $background-main-color;
	*{color: $text-white;}
}
.paris1-bg-soft-grey{background-color: $background-light-gray;}

.mask{
	@include maskBackground($background-main-color, 0.6);
}
.mask-effect{@include maskBackground($background-black);}
.mask-effect2{@include maskBackground($background-black, 0.1, 0.4);}
.mask-effect-3{@include maskBackground($background-black, 0.3);}
.mask-effect-4{@include maskBackground($background-black, 0.4);}
.mask-effect-5{@include maskBackground($background-black, 0.5);}
.mask-effect-7{@include maskBackground($background-black, 0.7);}

.m-txt-message, .message{
	*{color: inherit;}
	background-color: $light-blue;
	&.valid{
		color: $green;
		background-color: $light-green;
	}
	&.error{
		color: $pink;
		background-color: $light-pink;
	}
	&.warning{
		color: $yellow;
		background-color: $light-yellow;
	}
}
ul.list-style {
	li{
		&:before{
			background-color: $background-main-color;
		}
	}
}

.homepage-search-form{
    #edit-submit, #edit-submit--2{
        &:hover{
            color: $text-main-color;
        }
    }
}
tbody{
    background-color: transparent;
    tr, td{background-color: transparent; padding: 0;}
}
.circle{
	@include circleStyle();
}
.facets-widget-checkbox{
  .js-facets-checkbox-links{
    .facet-item{
			label{
				border: 1px solid $text-main-color;
				background-color: transparent;
			}
      input[checked="checked"] + label{
				background-color: $background-main-color;
				color: $text-white;
        &:after{
          color: $background-main-color;
          background-color: $text-white;
          border: 1px solid $background-main-color;
        }
      }
    }
  }
}
#search-toggle{
	// .fa{
	// 	&:before{
	// 		color: $text-white;
	// 	}
	// }
	// .scroll &{
	// 	.fa{
	// 		&:before{
	// 			color: $text-main-color;
	// 		}
	// 	}
	// 	&:hover, &.overlay-show{
	// 		.fa{
	// 			&:before{
	// 				color: $text-white;
	// 			}
	// 		}
	// 	}
	// }
	// &:hover, &.overlay-show{
	// 	.fa{
	// 		&:before{
	// 			color: $text-main-color;
	// 		}
	// 	}
	// }
}
.categ-style{color: $text-white; background-color: $background-main-color;}
.more-link, .load-more{color: $text-main-color;}
.date-style{color: $text-black;}
.author{
	color: $text-main-color;
}
.paragraph--type--bp-view{
  .field--name-field-publication-topics{
    color: $text-main-color;
  }
}
.paragraph--type--section-presentation{
  .paragraph--type--presentation{
    color: $dark-gray2;
    h3{
      color: $dark-gray2;
    }
  }
}
.paragraph--type--bp-simple{
  p{
    color: $dark-gray2;
  }
	&.paris1-bg-blue{
		p{color: $text-white;}
	}
}
.view-header-color{
  background-color: $background-light-gray;
}
.key-figures-section {
  .chiffre{
    color: $text-main-color;
  }
  .legende{
    color: $dark-gray2;
  }
}

button.semi-oval{
  background-color: $background-light-gray; color: $text-main-color;
	border: 1px solid $text-white;
	@include transitionEffect();
  &.is-active, &:hover{
    background-color: $background-main-color; color: $text-white;
  }
}

.swiper-container{
  .swiper-button-prev, .swiper-button-next{
		background-color: $white;
    &:before{
      color: $text-black;
    }
		&.swiper-button-disabled{
			background-color: transparent;
		}
  }
}
.accordion-wrapper{
  .accordion {
		> li{
			border: 2px solid $text-main-color; @include box-shadow(0.25, 0, 0, 4px, $text-black);
			.accordion-title{
	      color: $text-main-color; background-color: $background-white;
                &:hover{color: $text-main-color; background-color: $background-white;}
	    }
			&.is-active{
				.accordion-title{color: $text-main-color; background-color: $background-white;}
			}
		}
  }
}

.overlay-infos, .main-overlay-infos{
	color: $text-white;
  * {color: $text-white;}
  a:hover{color: $text-white;}
}
//====================FIN BASE ==================//


// ================ FORM =======================//
.site-content-wrapper input[type="submit"]:not(.reset-btn){
  border: 3px solid $background-main-color;
}
.centres-up1-form, .center-wrapper {
  .map-centre {
    .overlay-infos{
      .form-item{
        label{
          color: $text-white !important;
        }
      }
    }
  }
}
textarea,
.chosen-container-single .chosen-single,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"]:not(.reset-btn),
input[type="number"],
input[type="button"],
input[type="password"],
input[type="url"],
input[type="file"],
input[type="search"], .form-date,
.file-widget {
  @include inputStyle();
}
.form-item:not(.form-item-centre-name), .chosen-container-single{
	&:before{
		background-color: $text-main-color;
	}
}
.chosen-container-single{
  .chosen-single{
    &:after{
      color: $text-main-color;
    }
    span{
      color: $dark-gray3;
    }
  }
  .chosen-drop{
    .chosen-search{
      color: $text-main-color;
    }
    ul.chosen-results{
      li{
				background-color: $background-white;
        color: $text-main-color;
				&.highlighted, &.result-selected{
					background-color: $background-main-color;
					color: $text-white;
				}
      }
    }
  }
	.chosen-container-active.chosen-with-drop{
		border: 3px solid $background-main-color !important;
	}
}
.user-is-tabbing{
  textarea, select,
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="button"],
  input[type="password"],
  input[type="url"],
  input[type="file"],
  input[type="search"],
  [type="submit"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="time"],
  [type="color"],
  .file-widget{
    &:focus{
      //border: 2px solid $gray;
			outline: 0;
    }
  }
}


 //==== CHECKBOXES et RADIO====
 .form-type-radio, .form-type-checkbox,
 [class*="form-type-checkbox"], [class*="form-type-radio"]{
   input{
     &:checked + label{
       span{
         &:before{background-color:$background-main-color;}
         &:after{background-color:$text-white;}
       }
     }

     &:focus + label{
       .user-is-tabbing &{
         border: solid 2px $text-black;
				 outline: 0;
       }
     }
   }//close input

   label, .label-style{
     &.disabled{
       background-color: transparent !important;
       color: $medium-gray;
     }
     &:hover{
       color: $text-black;
       span{
         &:before{
           background-color: $light-blue;
         }
         &:after{
           background-color: $background-main-color;
         }
       }
     }
     span{
       &:before {
         background-color: $medium-gray;
       }
       &:after{
         //background-color: $background-black;
       }
     }
   }//close label / label-style
 }//close .form-type-radio, .form-type-checkbox

 [class*="form-type-checkbox"]{
	 input{
		 &:checked + label, &:hover + label{
			 span{
				 &:after{background-color:transparent;}
			 }
		 }
	 }
 }

 //CSS label
 label, .label-style{
   color: $text-black;
 }

 // ================== SELECT STYLE =================== //
 .form-type-select, .select-wrapper{
   &.focus, &:focus{
     &:before{color:$text-black;}
     select{
       color:$text-black;
     }
   }
   &:hover{
     color:$text-black;
     select{color:$text-black;}
   }
   select{
     background-color: $background-white;
     &.horaires-select{
       background-color:$gray;
       border-color:$gray;
       &:hover{
         //background-color: $medium-gray;
         //background-color: $background-white;
       }
     }
   }
 }
 // ======== SELECT STYLE END ======== //
// ================= FIN FORM ==================//

//================== RESET ==================//
mark {
	background: #ff0;
	color: #000;
}

fieldset {
	border: 1px solid #c0c0c0;
}


.password-strength__meter{background-color: $medium-gray;}
.password-strength__indicator{background-color: $background-main-color;}
//=============== FIN RESET ================ //

//=============== TABLE =================== //
.responsive-card-table {
thead tr{
  background-color: $medium-gray;
  th {
    font-weight: normal; line-height: 1.43;
  }
}

tbody tr{
  background-color: $light-blue;
  td {
    @extend .txt-black;
  }
}
tr{
  border: 1px solid $text-white;
}
  /*@media screen and (max-width: $responsive-card-table-stack-point) {
    td {
      &:before {
        color: $gray;
      }
      &:after {
        background: $medium-gray;
      }
    }
  }*/
}
//=============== FIN TABLE ================ //

//================ FOOTER =================== //
.footer{
  .footer-wrapper{
		background-color: $background-white;
    .cell{
      &:not(:last-child){
        &:after{
          background-color: $gold;
        }
      }
    }
    .two-columns{
			a{color: $text-main-color;}
      &:after{
        background-color: $gold;
      }
    }
		.logo-footer{
			svg{
				fill: $gold;
				*{fill: inherit;}
			}
		}
		.block-title{
			color: $text-main-color;
		}
  }

}//close .foooter

#region-footer{
	.footer-center-inner{
		li{
			a{
				&:hover{
					color:$text-white;
					&:before{
						background-color: $background-white;
					}
				}
			}
		}
	}
	.footer-right-inner{
		ul{
			li{
				a{
					&:hover{color:$text-white;}
				}
			}
		}
	}
}
//================ FIN FOOTER =============== //

//================ HEADER =================== //
#navbar{
	.anchor-header{
		a{
			&:focus{color: $text-white;}
		}
	}
	#top-header {
		background-color: $background-white;
		@include box-shadow(0.25, 3px, 0, $background-black);
		svg{
			fill: $gold;
			*{fill: $gold;}
		}

	}//close top header

	.icon-menu{
		span.toggle-container{
			>span{
				background-color: $text-main-color;
			}
		}
	}//close icon-menu


	//.header-right
	.header-right{
		.language-switcher-language-url {
			ul {
				background-color: $background-white; @include box-shadow();
				&:before{
					border-bottom: solid rem-calc(6px) $background-white;
				}
			}
		}
		.block-up1-ent-search-block{
			nav {
				ul {
					#ent{
						a{
							@include box-border(1px, $text-main-color);
							color: $text-main-color;
							.fa{color: $text-main-color;}
							&:hover{
								background-color: $background-main-color;
								color: $text-white;
								.fa{color: $text-white;}
							}
						}
					}
				}
			}
		}
	}//close header-right
	.block-views-exposed-filter-blockrecherche-de-contenu-page-1{
		background-color: $background-white;
		@include box-shadow(0.25, 2px, 0, $background-black);
		#views-exposed-form-recherche-de-contenu-page-1{
			// .form-item{
			// 	input{
			// 		border-bottom: 2px solid $text-light-gray;
			// 	}
			// }
		}
	}
	.accessibility-wrapper{
		#accessibility-toggle{
			@include circleStyle();
			&:before{
				background-color: $text-main-color;
			}
		}
		&:hover, &.overlay-show{
			#accessibility-toggle{border: 1px solid $text-main-color; }
		}
		.accessibility-mode &{
			&:hover, &.overlay-show{
				#accessibility-toggle{border: none;}
			}
		}
	  #accessibility-container{
	    background-color: $background-white;
			@include box-shadow();
			span{color: $text-black;}
			&:before{
				border-bottom: solid rem-calc(6px) $background-white;
			}
	  }
		&.overlay-show, &:hover{
			#accessibility-toggle{
				background-color: $background-main-color;
				&:before{background-color: $text-white;}
			}
		}
	}
}//close navbar

//open navbar in transparent mode
.transparent:not(.scroll) #navbar{
	#top-header{
		background-color: transparent;
		box-shadow: none;
		svg{
			fill: $text-white;
			*{fill: inherit;}
		}
	}

	.icon-menu{
		span.toggle-container{
			>span{
				background-color: $text-white;
			}
		}
	}
	.header-right{
		.block-up1-ent-search-block{
			nav {
				ul {
					#ent{
						a{
							@include box-border(1px, $text-white);
							color: $text-white;
							.fa{
								color: $text-white;
							}
							&:hover{
								background-color: $text-white;
								color: $background-main-color;
								.fa{color: $background-main-color;}
							}
						}
					}
				}
			}
		}
	}//close header-right
	.accessibility-wrapper{
		#accessibility-toggle{
			&:before{
				background-color: $text-white;
			}
			 &:hover{
				 &:before{
 					background-color: $background-main-color;
 				 }
			 }
		}
		&.overlay-show{
			#accessibility-toggle{
				@include box-border(1px, $text-main-color);
				background-color: $text-white; color: $background-main-color;
				*{color: $text-main-color;}
				&:before{
					background-color: $background-main-color;
				}
			}
		}
	}
	.circle, #accessibility-toggle{
		&:not(.white){
			@include box-border(1px, $text-white);
			color: $text-white;
			*{color: $text-white;}
			&.overlay-show, &:hover{
				@include box-border(1px, $text-main-color);
				background-color: $text-white; color: $background-main-color;
				*{color: $background-main-color;}
			}
		}
	}
}// close transparent body

#region-header {
  background-color: $background-white;
	.header-right{
		.header-right-inner{
			#block-headerrightmenu{
				>ul {
					>li{
						span, a{color: $text-main-color;}
						ul{
							background-color: $background-white;
							li{
								a{
									&:hover{background-color: $background-light-gray;}
								}
								&:not(:last-of-type){
									border-bottom: 1px solid $medium-gray;
								}
							}
						}
					}
				}
			}
		}
	}
	#block-mainnavigation{
		> .menu{
			> li {
				span , a{
					color: $text-main-color;
				}
				.li-menu-wrapper{
					> span, > a{
						&:hover:not([class*="icon-"]){
							color: $text-main-color;
						}
					}
				}
				> span, > a{
					&:hover:not([class*="icon-"]){
						color: $text-main-color;
					}
				}
				&.has-children{
					ul{
							background-color: $background-white;
						li{
							a{
								&:hover{
									background-color: $background-light-gray;
								}
							}
							&:not(:last-of-type){
								border-bottom: 1px solid $medium-gray;
							}
						}
					}
				}
			}
    }
	}
	border-bottom:2px solid $medium-gray;
}//close region header
#navbar-header{
  background-color: $background-main-color;
  .navigation-left-region{
    background-color: $background-white;
    ul{
      li{
        a{
          color: $text-black;
        }
      }
    }
  }
  .navigation-region{
     ul {
       li {
        a,span{
          color: $text-white;
        }
      }
     }
    }
}
//================ FIN HEADER ================ //

// =============== MAIN ================= //
.pager a.button{
    background-color: $background-white;
    border: 1px solid $text-main-color;
    color: $text-main-color;
    &:hover{
        background-color: $background-main-color;
        color: $text-white;
    }
}
.pagination{
	.pager__item{
	    background-color: transparent;
	    a, a:hover{
    	  background-color: transparent;
		    color: $text-black;
	    }
	    &.is-active{
	    	a{background-color: transparent;}
	    }
	    &.current{
	    	a{color: $gray;}
	    }
	    &:hover{
	    	a{
		    	&:after{
				    background-color: $light-blue;
		    	}
	    	}
	    }
	    &.pager__item--previous, &.pager__item--next{
	    	&:hover{
	    		span:after{color: $text-white;}
	    		a:after{
	    			background-color: $background-main-color;
	    		}
	    	}
	    }
	    &.pager__item--first,&.pager__item--last{
	    	&:hover{
	    		span:after{color: $text-white;}
	    		a{
	    			color:$text-white;
	    			&:after{
		    			background-color: $background-main-color;
		    		}
	    		}
	    	}
	    }
	}
}

.breadcrumbs{
	a{
		&:before{
			background-color: #212529;
		}
	}
}
.event {
  .field-add-to-cal{
    color: $dark-gray2;
    a{
      color: $dark-gray2;
    }
  }
  .social-and-calendar {
    .field-add-to-cal{
      #{$border-right}: 1px solid $dark-gray3;
    }
  }
  .social-buttons-links{
    li{
      a{
        color: $text-main-color;
      }
    }
  }
}

// ================ FIN MAIN ============ //

// ============= BTN ================ //
.site-content-wrapper{
    .btn, .button--primary,
    button:not(.reset-btn):not(.trigger):not(.link-style):not(.icon-container):not(.toolbar-item):not(.toolbar-icon),
    input[type="submit"].button {
        color: $text-main-color; background-color: $background-white; border-color: $text-main-color;
        &:hover{color: $text-white; background-color: $background-main-color;}

        &.outline{
        	border-color: $text-white; color: $text-white; background-color: transparent;
        	&:hover{
        		background-color: $background-white; color: $text-main-color;
				*{color: $text-main-color;}
        	}
        }
    }//close btn
}//close .site-content-wrapper


//_box-style.scss ====================
.box-style{
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	&.no-shadow{box-shadow: none;}
	.box-content{
	  background-color: $background-light-gray;
		h2{
			color: $dark-gray2;
			*{color: $dark-gray2;}
		}
		&.white{
			background-color: $background-white;
		}
        .field--name-field-event-date{
          .event-date, .end-date{
              i{
                color: $text-main-color;
              }
          }
      }
	}
}

//social media footer
.block-system-menu-blockreseaux-sociaux{
  li{
    a{
      color: $text-main-color;
    }
  }
}

/* tabs */
.nav-tabs {
	> li{
	  	> a{
		  color: $text-main-color; background: $background-light-gray;
			&:hover{
			  background-color: $background-main-color;
			  color: #light-gray;
			}
		}//close a
		&.active a{
		 // background-color: $background-main-color;
		  color: $text-light-gray;
		}
	}
}//close nav-tabs
//_box-style.scss END ====================
.txt-main{color: $text-main-color;}
.link-style, button.link-style{
  color: $text-main-color;
	.paris1-bg-blue &{
		color: $text-white;
	}
}//close link-style
.add-link-style-wrapper a{
  color: $text-black;
	.paris1-bg-blue &{
		color: $text-white;
	}
}
.field--type-text-long {
  a{
    color: $background-main-color;
		.paris1-bg-blue &{
			color: $text-white;
		}
  }
}
#tabs-style, .tabs, .accordion-tabs {
	> li{
	  	> a{
		  color: $text-main-color; background-color: $background-light-gray;
			&:hover{
			  background-color: $background-main-color; color: $text-light-gray;
			}
		}//close a
		&.is-active > a{
		  background-color: $background-main-color;
		  color: $text-light-gray;
		}
	}
}//close nav-tabs
// ============= FIN BTN ============//

//=========== PAGER ============ //
.pager {
  .is-active a{background-color: $background-black;}
  a{
    background-color: $light-blue;
    &:hover{
      color: $text-white;
    }
  }
}
//========== FIN PAGER =========//

//==========  RESPONSIVE =========== //
@include breakpoint($large - 1 down) {

	#navbar{
		.block-views-exposed-filter-blockrecherche-de-contenu-page-1{
			background-color: $background-main-color;
			#views-exposed-form-recherche-de-contenu-page-1{
				.form-item{
					input{
						border: 1px solid $text-white; color: $text-white;
						&::-webkit-input-placeholder {
							color: $text-white;
						}
						&:-moz-placeholder { /* Firefox 18- */
							color: $text-white;
						}
						&::-moz-placeholder {  /* Firefox 19+ */
							color: $text-white;
						}
						&:-ms-input-placeholder {
							color: $text-white;
						}
					}
				}
			}
		}
	}

    	/* tabs */
	#tabs-style, .tabs, .accordion-tabs {
		> li{
		  	> a{
            box-shadow: 0 1px 1px 1px rgba($text-black, 0.35);
			}
		}
	}//close nav-tabs

	#swiper-tiles{
		background-color: $background-main-color;
		.swiper-pagination{
			background-color: $background-main-color;
		}
	}//close #swiper-tiles

	.box-mobile{
		background-color: $background-main-color; color: $text-white;
	}

	.reset-mask-mobile{
		.overlay-infos{
			h2{color: $text-main-color;}
			.btn.outline.fa{
				color: $text-main-color; border-color: $text-main-color;
				&:before{color: $text-main-color;}
			}
		}
	}

	.key-figures-section {
	  .chiffre, .legende{
			color: $text-white;
	  }
	}

	.paragraph--type--section-presentation{
	  .paragraph--type--presentation{
	    h3{
				color: $text-white; margin-bottom: 0;
	    }
	  }
	}

	#navbar-header{
		.navigation-left-region{
			background-color: $background-main-color;
			 ul.menu.large-vertical {
				 li {
					a,span{
						padding: 0; color: $text-white;
					}
				}
			 }
		 }
		 //=============== menu mini site ==========//
		 .site--type--mini-site &{
			 .block > ul{
				 > li{
					 > a, > span{
						 color: $text-white;
					 }
					 ul{
						 li{
							 a{
								 color: $text-white;
							 }
						 }
					 }
				 }
			 }
		 }
		 //=============== fin menu mini site ==========//
	}
}//close media - large
//============= FIN RESPONSIVE =========//
