.facets-widget-checkbox{
  .js-facets-checkbox-links{
    .facet-item{
      input[type="checkbox"]{display: none;}
      label{
        padding: rem-calc(0 24px);
        &:after{display: none;}
        font-size: rem-calc(18px); line-height: 1.22;
      }
      input[checked="checked"] + label{
        position: relative;
        &:after{
          content: "⨉";
          display: block;
          position: absolute;
          border-radius: 100%;
          width: rem-calc(17px); height: rem-calc(17px);
        }
      }
    }
  }
}
