/*
    Feuille de style SCSS
    SMACSS : Responsive > Form
    Par Ebizproduction
*/

/* Ebizproduction : Input */

form{
  width: 100%;
  > div {width: 100%;}
}

textarea,
select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="button"],
input[type="password"],
input[type="url"],
input[type="file"],
input[type="search"], .form-date,
.file-widget {
  -webkit-appearance: none; display: block;
  font-family: $font-regular;
  @extend .hand-cursor;
  width: 100%; max-height: $fgutter*2;
  margin: 0; box-shadow: none; max-width: 100%;
  font-size: rem-calc(18px); line-height: 1.78;
  height: auto;
  @include responsiveVal(padding, $gutter/2 $gutter*0.75);
  ::-webkit-input-placeholder {
    opacity: 1; line-height: 1.6;
    font-size: rem-calc(20px);
  }
  :-moz-placeholder { /* Firefox 18- */
    opacity: 1; line-height: 1.6;
    font-size: rem-calc(20px);
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    opacity: 1; line-height: 1.6;
    font-size: rem-calc(20px);
  }
  :-ms-input-placeholder {
    opacity: 1; line-height: 1.6;
    font-size: rem-calc(20px);
  }
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"]{
 cursor: text;
}


textarea{max-height: 100%;}


.form-actions{
  //@extend .btn-arrow;
  input[type="submit"]{
    width: 100%; display: block;
    border: none;
    -webkit-appearance: none;
  }
}


.form-item.js-form-type-checkbox{
  position: relative;
  @extend .hand-cursor;
}

.fieldset-wrapper{
  //pour edit user martm
  .form-item.inline{
    margin-bottom: 0;
    &:not(:last-child){
      @include responsiveVal(#{$margin-right}, $gutter/1.5);
    }
  }
  label{display:none;}
}

fieldset{
  border:0 none;
  padding:0;
  margin: 0;
}
.form-checkboxes{
  .fieldset-wrapper{
    @extend .display-flex;
    @extend .display-flex.space-between;
    @extend .flex-wrap-fix;
  }
}


.form-type-hidden-wrapper {display:none;}


//==== CHECKBOXES et RADIO====
.radio-optimize-wrapper{
  @extend .display-flex;
  .form-type-radio{
    label{height:100%; @extend .centered-vh;}
  }
}
.form-type-radio, .form-type-checkbox,
[class*="form-type-checkbox"], [class*="form-type-radio"]{
  @include clear; display: inline-block;
  .form-item{width: 100%;}
  /*a{
    @include linkUnderline();
  }*/

  input{
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px; width: 1px;
    word-wrap: normal;
  }//close input

  label, .label-style{
    span{
      display: inline-block; cursor: pointer;
      position: relative; #{$padding-left} : rem-calc(48px);
      &:before {
        content: "";
        display: inline-block;
        width: rem-calc(32px); height: rem-calc(32px);
        border-radius: 100%;
        position: absolute; top:0; left: 0;
      }

      &:after{
        content: "";
        display: inline-block;
        width: rem-calc(16px); height: rem-calc(16px);
        border-radius: 100%;
        position:absolute; top:8px; left: 8px;
      }
    }
  }//close label / label-style

  &.small{
    label, .label-style{
      font-size: rem-calc(16px); line-height: 1.5;
      span{
        #{$padding-left} : rem-calc(40px);
        &:before {
          width: rem-calc(24px); height: rem-calc(24px);
        }

        &:after{
          width: rem-calc(12px); height: rem-calc(12px);
          top:6px; left: 6px;
        }
      }//close span
    }
  }
}//close .form-type-radio, .form-type-checkbox


.form-type-radio,
[class*="form-type-radio"]{display:block;}

.form-type-checkbox,
[class*="form-type-checkbox"]{
  //checked
  input{
    display: none;
    &:checked + label{
      span{
        &:before{
          content: "";
        }
        &:after{
          color: $white; background-color: transparent;
        }
      }//close span
    }
  }

  //DEFAULT
  label, .label-style{
    width: 100%; height: 100%; display: block;
    span{
      @extend .icon-after;
      &:before { content: ""; }
      &:after{
        content: '\e92a'; font-size: rem-calc(13px);
        background-color: transparent ;
        top:10px; left: 10px;
      }
    }//span

    &:hover{
      span{
        &:after{
          background-color: transparent;
        }
      }
    }//close hover
    &.small{
      span{
        &:after{
          font-size: rem-calc(11px);
        }
      }
    }
  }//close label-style
}//close .form-type-checkbox
//==== CHECKBOXES et RADIO END====




//CSS label
label, .label-style{
  line-height:1.78; font-size: rem-calc(18px);
  span{
    &:before{
      font-size:rem-calc(11px);
      //#{$margin-right}: rem-calc(21px);
    }
  }

  &[class*="-sep"]{display: block;}

  &.small{
    line-height:2; font-size: rem-calc(12px);
    text-transform: uppercase; letter-spacing: 1px;
  }
}

// ================== SELECT STYLE =================== //


[class*="form-type-select"], .select-wrapper{
  @extend .icon;
  @extend .icon-navigation-down;
  &:before{
    @include vertical-align(absolute);
    right:rem-calc(24px);
  }
}
.form-type-select, .select-wrapper{
  position: relative; @extend .hand-cursor;
  @extend .icon;

  &.focus, &:focus{
    select{
      cursor:pointer;
      position: relative; z-index: 1;
      @extend .hand-cursor;
      option{
        position: relative; z-index: 1;
      }
    }
  }
  select{
    display: block; width: 100%; line-height: 1;
    z-index: 0; @extend .hand-cursor;
    border-radius: 0;
    background-image:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    //IE SUPPORT ----
    text-indent: 0.01px;
    text-overflow: "";
     &::-ms-expand{
      display: none;
    }
    //IE SUPPORT END ----
    &>option{
      border:0; outline:0;
      @extend .hand-cursor;
    }
  }//close select
  &:before{
    font-size: rem-calc(11px);
    @include vertical-align(absolute);
    @include responsiveVal(#{$right},$gutter/2);
    pointer-events: none; z-index:2;
  }
}
// ======== SELECT STYLE END ======== //

.centres-up1-form {
  .overlay-infos{
    padding: rem-calc(70px 122px);
    @include flexDisplay(); align-items: flex-end;
    @include flexDisplayAlign('space-between');
    .form-item{
      flex: 0 0 80%;
      max-width: 80%;
      label{
        @extend .h2-style; @extend .title-sep;
        color: $white !important;
      }
    }
  }
}

.chosen-container-single .chosen-single{
  border-radius: 0; background-image: none;
  background-color: $white; padding: rem-calc(24px);
  @include box-shadow(1, 2px, 0, $background-main-color);
  &:before{
    content: "";
    width: 3px; height: 80%;
    top: 50%; transform: translateY(-50%);
    background-color: $background-main-color;
    position: absolute;
  }
  span{
    font-family: $font-second; font-style: italic;
    font-size: rem-calc(20px);
    line-height: 1.3; color: $dark-gray3;
  }
}
