/*
    Feuille de style SCSS
    SMACSS : Responsive > Reset
    Par Ebizproduction
*/

/* Ebizproduction : Reset */

article, aside, figcaption, figure,
footer, hgroup, nav, section{
	display: block;
}
p, ul { margin: 0; padding: 0;}
i{ @include setFont($fontType-italic); }
dfn {font-style: italic;}
pre {white-space: pre-wrap;}
q {quotes: "\201C" "\201D" "\2018" "\2019";}
sub,sup {
	font-size: 75%; line-height: 0;
	position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
figure {margin: 0;}
legend {border: 0; padding: 0;}
button, input,
select, textarea {
	font-family: inherit;
	font-size: 100%; line-height: normal;
}
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
input[type="search"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}


// ========= FLEX SCSS ======== //
.display-flex{
    @include flexDisplay();
    &.flex-start{
	  	@include flexDisplayAlign('start');
    }
    &.flex-end{
	  	@include flexDisplayAlign('end');
    }
    &.space-between{
	  	@include flexDisplayAlign('space-between');
    }
    &.space-around{
	  	@include flexDisplayAlign('space-around');
    }
    &.flex-align-top{
    	@include flexDisplayAlign('vstart');
    }
    &.flex-align-bottom{
    	@include flexDisplayAlign('vend');
    }
    &.vspace-between{
    	@include flexDisplayAlign('vspace-between');
    }
    &.valign-center{
    	@include flexDisplayAlign('vcenter');
    }
    &.flex-align-items-top{
    	@include flexDisplayAlign('vstart-items');
    }
    &.flex-align-items-bottom{
    	@include flexDisplayAlign('vend-items');
    }
    &.flex-stretch{
    	@include flexDisplayAlign('stretch');
    }
    &.flex-nowrap{
    	flex-wrap:nowrap;
    }
    &.flex-column{
    	flex-direction: column;
    }
    &.align-center-middle{
	  	@include flexDisplayAlign('center-middle');
    }
}
.flex-grow{flex-grow:1;}

.display-inline-flex{
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
}

.flex-safari-fix{
	@include flexDisplay(false, true, 'column');
	&>div{-webkit-flex-grow: 1; flex-grow:1;}
}

.flex-wrap-fix{
  width: 100%;
  @include responsiveVal(margin-top, ($gutter/1.5) * -1);
  @include responsiveVal(#{$margin-left}, ($gutter/4) * -1);
  &>div{
    @include responsiveVal(margin-top, $gutter/1.5);
    @include responsiveVal(#{$margin-left}, $gutter/4);
  }
}

.centered-vh{
	@extend .display-inline-flex;
	justify-content:center; align-items:center;
}


// ======= END FLEX ======= //
.no-objectfit {
  .img-container {

    picture {
      background-position:50% 50%;
      background-size:cover;
      background-repeat:no-repeat;
    }

    img {
      visibility:hidden;
    }
  }
}

.fa{
	font-family: inherit !important; 
	&:before{
		font: normal normal normal 14px/1 FontAwesome;
	}
}
