/* tabs */
#tabs-style, .tabs, .accordion-tabs {
	border: 0;
	.tabs-content{border: 0;}
	> li{
  		width: calc(100% / 4);
	  	> a{
			font-family: $font-second;
		  font-size: rem-calc(22px); line-height: 1.18;
		  padding: rem-calc(24px); @extend .hand-cursor;
		  text-transform: uppercase; text-align: center;
		  #{$margin-right}: 0; border-radius: 0; border: 0;
			@include flexDisplay(); @include flexDisplayAlign('center-middle');
			&:hover{
				text-decoration: none;
			}
		}//close a
		&.is-active > a{
		  border: 0;
			text-decoration: none;
		}
		&.accordion-item{
			width: 100%;
			> a{text-align: #{$left};}
		}
	}
}//close nav-tabs
.tabs{
	@include flexDisplay();
	li{
		display: inline-flex; justify-content: center;
		a{
			@include flexDisplay(); @include flexDisplayAlign('center');
			width: 100%;
		}
	}
}
