{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}

{# <iframe allow="autoplay" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/{{ item.content }}?autoplay=1&loop=1&mute=1&origin=https://OurWebsiteDomain" title="" height="278" data-ytbridge="vidSurrogate2" style="width: 100%;"></iframe> #}
{% for item in items %}

{% set myString = item.content|raw %}
{% set myStringReplaced = myString|replace({ "oembed?": "oembed?autoplay=1&loop=1&"  }) %}
VARIABLE: {{ myString }}
IFRAME:
  {{ myStringReplaced}}
  {# <div id="background-video" class="loaded">
    <div id="ytplayer-container1605098738082">
        <iframe allow="autoplay" frameborder="0" allowfullscreen="" src="{{ item.content }}&autoplay=1&loop=1&mute=1&origin=https://OurWebsiteDomain" title="" height="278" data-ytbridge="vidSurrogate2" style="width: 100%;"></iframe>
    </div>
    <div id="ytplayer-shield" class="ytplayer-shield"></div>
  </div> #}
{% endfor %}
