.publications-hal  {
  width: 80vw;
  margin: 2rem auto;
  box-shadow: 0 3px 6px #00000029;
  padding: 2rem;
}
.publication-hal {
  border-bottom: 1px solid #eee;
  padding-top: 2rem;
  padding-bottom:2rem;
}
.publication-hal-doctype {
  font-size: .825rem;
  line-height: 1.2;
  font-weight: 500;
  padding: 0.25rem .75rem;
  margin: .5rem 2rem;
  color: #fff;
  display: inline-block;
  background: #ed9b27;
  border-radius: 50rem;
}
.publication-hal-authors {
  font-weight: bold;
}
