/*
    Feuille de style SCSS
    SMACSS : Responsive > Footer
    Par Ebizproduction
*/

#region-footer{
	padding: rem-calc($fgutter 0);
	font-size: rem-calc(14px); line-height: 2.29;
	#region-footer-first, #region-footer-second{
		padding: rem-calc($fgutter*2.5 0);
	}
}

.logo-footer {
  width: 250px;
}
footer .region {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form#centres-up1-form {
  background: rgba(0, 50, 110, .7);
  width: 33%;
  height: inherit;
  z-index: 1000;
}

//social media
.block-system-menu-blockreseaux-sociaux{
  .block-title{
    margin-bottom: rem-calc(24px);
  }
  li{
    display: inline-block;
    &:not(:last-child){
      //#{$margin-right}:rem-calc(16px);
    }
    a{
      height: rem-calc(32px); width: rem-calc(32px);
      @include flexDisplay(); @include flexDisplayAlign('center-middle');
      
      font-size: rem-calc(24px); color: $main-color;
    }
  }
}