/*
    Feuille de style SCSS
    SMACSS : Responsive > Footer
    Par Ebizproduction
*/

/*#region-footer{
	padding: rem-calc($fgutter 0);
	font-size: rem-calc(14px); line-height: 2.29;
	#region-footer-first, #region-footer-second{
		padding: rem-calc($fgutter*2.5 0);
	}
}

.logo-footer {
  width: 250px;
}
footer .region {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form#centres-up1-form {
  background: rgba(0, 50, 110, .7);
  width: 33%;
  height: inherit;
  z-index: 1000;
}
*/

.two-columns{
  columns: 2;
  column-rule: solid;
  column-rule-width: 1px;
  column-rule-color: $gold-p1ps;
}

.footer{
  background-color: $background-light-gray;
  padding: rem-calc(120px 0);
  .footer-wrapper{
    a{
      display: block;
      font-size: rem-calc(18px);
      line-height: 1.15;
      margin-bottom: rem-calc(4px);
      @include setFont($fontType-medium);
    }
    .cell{
      // padding-top: rem-calc(24px); padding-bottom: rem-calc(24px);
      text-align: center;
      &:not(:last-child){
        position: relative;
        &:after{
          content:""; width: 1px; height: rem-calc(238px);
          position: absolute; top: 50%;
          #{$right}: -($fgutter/2); transform: translateY(-50%);
        }
      }
      &:not(:first-child) {
        ul li:not(:last-child) {
          margin-bottom: rem-calc(20px);
        }
      }
      > div {
        height: 100%; @include flexDisplay(); @include flexDisplayAlign('center-middle');
        &.logo-footer,
        &.logo-footer + div {
          height: auto;
        }
      }
    }

    .two-columns{
      position: relative;
      column-rule: none;
      &:after{
        content:""; width: 1px; height: rem-calc(238px);
        position: absolute; top: 50%;
        #{$right}: 49.5%; transform: translateY(-50%);
      }
    }

    //social media footer
    .block-system-menu-blockreseaux-sociaux{
      max-width: rem-calc(256px);
      .block-title{
        margin-bottom: rem-calc(24px);
        @include setFont($fontType-bold);
      }
      li{
        display: inline-block;
        &:not(:last-child){
          //#{$margin-right}:rem-calc(16px);
        }
        a{
          height: rem-calc(32px); width: rem-calc(32px);
          @include flexDisplay(); @include flexDisplayAlign('center-middle');
          font-size: rem-calc(24px);
          &:hover{
            opacity: 0.8; text-decoration: none;
          }
          &:before{font-size: rem-calc(24px);}
        }
      }
    }
    .two-columns-wrapper{
      .two-columns{
        width: 100%;
        ul{
          margin: 0 auto;
          li{
            margin: rem-calc(0 24px);
            a{
              @include setFont($fontType-medium);
            }
          }
        }
      }
    }
    .logo-footer{text-align: center;}
  }

}//close .foooter
