#top-header {
	position: fixed; top: 0; left: 0;
	width: 100%; padding: rem-calc(40px 120px);

	.scroll &{
		background-color: $white;
	}

	&.transparent {
		svg{
			color: $white;
			*{color: inherit;}
		}
	}

}//close top header