/*
    Feuille de style SCSS
    SMACSS : Responsive > Nav
    Par Ebizproduction
*/
/* Ebizproduction : Navigation */

#navbar-header{
  width: 100%; @include transitionEffect(350ms);
  transform: translateX(-150%); z-index: 402;
  position: fixed; @include flexDisplay();
  top: rem-calc(114px); left: rem-calc(-24px);
  opacity: 0; height: calc(100vh - 114px);
  overflow: hidden;
  .navigation-right-region, .navigation-region{
    display: inline-flex; align-items: center;
    nav > ul{display: block;}
  }
  .navigation-region{
    justify-content: center;
    ul{
      li{
        a{
          text-transform: uppercase; font-family: $font-second;
          font-size: rem-calc(18px); line-height: 1.2;
          @include setFont($fontType-bold);
        }
        &:not(:last-of-type){
          margin-bottom: rem-calc(8px);
        }
      }
    }
  }
  .navigation-right-region{
    padding: rem-calc(72px 116px);
    > div {width: 100%;}
     ul.menu.large-vertical {
       position: relative;
      > li {
         //@include flexDisplay();
         position: unset;
         //align-items: center;
        a,span{
          font-size: rem-calc(20px); line-height: 1.2;
          @include setFont($fontType-bold); padding: 0;
          @extend .hand-cursor;
        }
        > a, > span{
          max-width: 25%;
          font-family: $font-second;
        }
        // .fa:before{
        //   #{$margin-left} : rem-calc(12px);
        // }
        &.opens-right{
          ul.is-dropdown-submenu{
            left: 30% !important;
            // /position: absolute; left: 25%; top: 0;
            //z-index: 401; opacity: 0; visibility: hidden;
            // /@include transitionEffect();
            li{
              &:not(:last-of-type){
                margin-bottom: rem-calc(6px);
              }
              a{
                @include setFont($fontType-regular);
                font-family: $font-second;
              //  pointer-events: none;
              }
            }
          }
        }

        &:not(:last-of-type){margin-bottom: rem-calc(12px);}
        // &.expanded{
        //   text-decoration: underline;
        //   ul{
        //     opacity: 1; visibility: visible; z-index: 1;
        //     a{pointer-events: auto;}
        //   }
        // }
      }
     }
    }
    &.overlay-show{
      transform: translateX(0);
      left: 0; opacity: 1;
    }
}
