/*
    Feuille de style SCSS
    SMACSS : Responsive > Nav
    Par Ebizproduction
*/
/* Ebizproduction : Navigation */

#navbar-header{
  width: 0; @include transitionEffect(350ms);
  position: absolute; @include flexDisplay();
  top: rem-calc(114px); left: rem-calc(-24px);
  opacity: 0; max-height: rem-calc(492px);
  overflow: hidden;
  background-color: $blue;
  .navigation-right-region{
    display: inline-flex; justify-content: center; align-items: center;
    flex: 0 0 22%; max-width: 22%; background-color: $white;
    ul{
      li{
        a{
          text-transform: uppercase; color: $black;
          font-size: rem-calc(18px); line-height: 1.2;
          @include setFont($fontType-bold);
        }
        &:not(:last-of-type){
          margin-bottom: rem-calc(8px);
        }
      }
    }
  }
  .navigation-region{
    flex: 0 0 78%; max-width: 78%;
    padding: rem-calc(72px 116px);
     ul {
       li {
         @include flexDisplay(); position: relative;
         align-items: center;
        a,span{
          font-size: rem-calc(20px); line-height: 1.2;
          color: $white; @include setFont($fontType-bold);
          @extend .hand-cursor;
        }
        .fa:before{
          #{$margin-left} : rem-calc(12px);
        }
        ul{
          position: absolute; left: 25%;
          z-index: -1; opacity: 0; visibility: hidden;
          @include transitionEffect();
          li{
            a{
              @include setFont($fontType-regular);
              font-family: $font-second;
              pointer-events: none;
            }
          }
        }
        &:not(:last-of-type){margin-bottom: rem-calc(12px);}
        &.expanded{
          text-decoration: underline;
          ul{
            opacity: 1; visibility: visible; z-index: 2;
            a{pointer-events: auto;}
          }
        }
      }
     }
    }
    &.overlay-show{
      max-width: rem-calc(2500px); z-index: 2;
      width: 100%; left: 0; opacity: 1;
    }
}
