.form-item-search-person.form-item:not(.form-item-centre-name) label {
  display: block;
}
.up1-pages-persos-search-page-perso {
  margin: 4rem 0 2rem;
}
.ui-menu-item {
  padding: .5rem 0 0 .5rem;
}
.ui-menu .ui-menu-item-wrapper {
  padding: 0;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: 0;
}
li.ui-menu-item:nth-child(even) {
  background: #f6f0ed;
}
.ui-menu-item .userItem .match {
  font-weight: 700;
}
.ui-menu-item .userItem .details {
  display: block;
  font-size: .9rem;
}
.ui-menu-item .ui-state-active, .ui-widget-content .ui-menu-item .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none;
  background: none;
  color: #00386e;
}