.up1-pages-persos-search-page-perso {
  margin: 4rem 0 2rem;
}
.ui-menu {
  columns:2;
}
.ui-menu-item {
  padding: 1rem 0 .5rem .5rem;
}
.ui-menu-item .userItem .match {
  font-weight: 700;
}
.ui-menu-item .userItem .details {
  font-size: .9rem;
}
.ui-menu-item .ui-state-active, .ui-widget-content .ui-menu-item .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none;
  background: none;
  color: #00386e;
}