/*
    Feuille de style SCSS
    SMACSS : Style - Fichier principal
    Par Ebizproduction
*/

.accessibility-mode{
  /* Ebizproduction : Outils et fonctions */
  $global-text-direction: ltr;

  @import "tools/toolsAccessibilite";
  @import "tools/typography";
  @import "foundation/settings";

  @import "tools/mixins";

  @import "base/colors";
  .mask{
    @include maskBackground($background-main-color, 0.75);
  }
  body{
    color: $text-black;
    [class*="paris1-bg"]{
      color: $text-white;
    }
  }
}
