.call {
  margin: 1rem auto;
}
article {
  position: relative;
}
.call-content {
  display: none;
}
.call-content.callFR {
  display: block;
}
.check {
  position: relative;
  width: 30px;
  cursor: pointer;
}
.check:checked ~ .call-content.callFR {
  display: none;
}
.check:checked ~ .call-content.callEN {
  display: block;
}
.fr.h5-style, .en.h5-style {
  font-weight: 800;
}
.call-toggle {
  text-align: right;
  margin-top: 2rem;
}
.call .box-style .box-content {
  padding: 2.25rem .5rem;
}
.call .content section {
  margin: 0 auto;
}
.call .content section h3 {
  margin: 2rem 0;
}
.call .content aside h3 {
  margin-top: .5rem;
}
aside {
  margin: 3rem .75rem;
}
.call-details {
  text-align: center;
  padding: 0 .625rem .625rem;
  border: 2px solid #d1d1d1;
  font-size: 1em;
  border-radius: 10px;
  margin-top: 3.125rem;
}
.call-details .fas {
  color: #fff;
  background-color: #d1d1d1;
  font-size: 2em;
  border: 2px solid #d1d1d1;
  border-radius: 50%;
  text-align: center;
  margin-top: -2.8125rem;
  padding: .9375rem;
}
.call.teaser span.fas:hover {
    cursor: help;
}
.field--type-list-string .field--items, .call-details .link-wrapper {
  list-style-type: disc; 
  text-align: left;
}
.field--type-list-string .field--items {
  padding-left: 20px; 
}
.call-details .link-wrapper {
  padding-left: 10px; 
}
.field--type-list-string .field--items .field--item,
.call-details .link-wrapper {
  position: relative; 
  margin-bottom: 5px; /
}

.field--type-list-string .field--items .field--item::before,
.call-details .link-wrapper:before {
  content: "•"; 
  position: absolute;
  top: 0; 
  font-size: 1.15em; 
  color: #000; 
}
.field--type-list-string .field--items .field--item::before {
  left: -13px; 
}

.call-details .link-wrapper:before {
  left: -3px; 
}
.main_objectives_wrapper {
    display: flex;
}
.main_objectives_wrapper .fas, .main_objectives_wrapper .far {
  margin: 25px 10px 0;
}
.medium-size {
  font-size: 2rem;
}
#views-exposed-form-appels-a-projets-block-1 .form-item:not(.form-item-centre-name) label {
  display: block;
  padding-bottom: 1rem;
}
#views-exposed-form-appels-a-projets-block-1  .form-actions {
  margin-top: 3rem;
}
.bg-green-call {
  background-color: #7a7b0d!important;
  color: #fff!important;
}
.bg-red-call {
  background-color: #973812!important;
  color: #fff!important;
}
.bg-gold-call {
  background-color: #b66008!important;
  color: #fff!important;
}
.border-green-call {
  border-color: #7a7b0d!important;
}
.border-red-call {
  border-color: #973812!important;
}
.border-gold-call {
  border-color: #b66008!important;
}
.border-blue {
  border-color: #00386e!important;
}