/* correction position placeholder */

textarea::placeholder, .chosen-container-single .chosen-single::placeholder, input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, input[type="submit"]:not(.reset-btn)::placeholder, input[type="number"]::placeholder, input[type="button"]::placeholder, input[type="password"]::placeholder, input[type="url"]::placeholder, input[type="file"]::placeholder, input[type="search"]::placeholder, .form-date::placeholder, select.form-select .file-widget::placeholder {
    opacity: 1;
    line-height: 2.5rem;
    color: #a1a1a1;
    font-size: 1.25rem;
    font-style: italic;
}

/* cacher les champs de login standard */
.user-login-form .form-item-name, .user-login-form .form-item-pass, .user-login-form .form-actions {
    display: none;
}
/* affichage puce sur les listes à puces */
#block-p1ps2019-content article .paragraph .grid-container .field ul {
    list-style-type: disc;
}
.paragraph ul, ol, dl {
    list-style-position: inside;
}
#block-p1ps2019-content article .paragraph .grid-container .field ul li ul {
    list-style-type: circle;
}
#block-p1ps2019-content article .paragraph .grid-container .field ul li ul li ul {
    list-style-type: square;
}
/* Ajout texte menu au burger menu **/
#navbar #top-header .icon-menu::after {
    content:"MENU";
    display: block;
    width:auto;
    color:#FFF;
    font-size:0.6rem;
    margin-top:0.2rem;
    font-weight:bold;
}
.scroll #navbar #top-header .icon-menu::after, .node--type-second-level-pages.page-mini-site #navbar #top-header .icon-menu::after, .path-node #navbar #top-header .icon-menu::after, .path-resultats-recherche #navbar #top-header .icon-menu::after, .path-publications #navbar #top-header .icon-menu::after, .path-actualites #navbar #top-header .icon-menu::after, .path-evenements #navbar #top-header .icon-menu::after, .path-soutenances #navbar #top-header .icon-menu::after {
    color:#00326e;
}
/* label node type dans la recherche */
.node-type-search {
  display: block;
  margin-bottom: 1rem;
  text-align: right;
  color: #00326e;
  font-size: 1.25rem;
  font-weight: 700;
}
/* corriger retour à la ligne sur certaines catégorie d'événement dans le bloc actualité&évenement */
.paragraph--type--news-events .box-content .top-infos .infos-row-wrapper .categ-wrapper.semi-semi-infos-sep {
    white-space: nowrap;
}
/* correction zone de saisie recherche masqué */
.site--type--mini-site #navbar .block-views-exposed-filter-blockrecherche-de-contenu-page-1,
.site--type--mini-site #navbar .block-views-exposed-filter-blockrecherche-db-page-1 {
    top: 13.5rem;
}
.site--type--mini-site.path-resultats-recherche #navbar .block-views-exposed-filter-blockrecherche-de-contenu-page-1,
.site--type--mini-site.path-resultats-recherche #navbar .block-views-exposed-filter-blockrecherche-db-page-1 {
    top: 7rem;
}
/* Correction du code Ebizproduction : Responsive > Phablette */
@media screen and (max-width: 63.9375em) {
	#navbar-header .navigation-left-region ul.menu.large-vertical li ul li a {
    pointer-events: auto;
	}
}
/* Correction car en mobile le bouton du bloc palmares était en blanc sur blanc */
@media screen and (max-width: 63.9375em) {
	.site-content-wrapper .paragraph--type--hit-list .btn.outline {
    border-color: #00326F;
    color: #00326F;
}
}
/** Correction pour le module webform **/
.webform-submission-form .fieldset-legend {
    color: #333;
    font-size: 1.25rem;
    font-family: "Montserrat";
    font-weight: 700;
}
.webform-submission-form .form-type-radio input, .webform-submission-form .form-type-checkbox input, .webform-submission-form [class*="form-type-checkbox"] input, .webform-submission-form [class*="form-type-radio"] input {
    clip: auto;
    display: inline !important;
    overflow: visible;
    height: 2rem;
    width: 2rem;
}
.webform-submission-form [type='checkbox'] + label, .webform-submission-form [type='radio'] + label {
    margin-left: 2.5rem;
}
.webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [type='checkbox'] + label, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [type='radio'] + label {
    margin-left: 0.1rem;
}
.webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper .form-type-radio input, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper .form-type-checkbox input, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [class*="form-type-checkbox"] input, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [class*="form-type-radio"] input {
    display: none !important;
    overflow: hidden;
    height: 1px;
    width: 1px;
}
.field--type-webform .webform-required .form-required::after, .field--type-webform .form-required::after {
    content: "*";
    color: red;
    display: inline;
    width: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left:0.5rem;
}
.paris1-bg-blue .webform-submission-form .fieldset-legend {
    color: #fff;
}
.paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) textarea, .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) .chosen-container-single .chosen-single, .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="text"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="email"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="tel"], .field--type-webform .form-item:not(.form-item-centre-name) input[type="submit"]:not(.reset-btn), .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="number"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="button"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="password"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="url"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="file"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="search"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) .form-date, .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) select.form-select .file-widget {
    color: #000;
}
.paragraph--type--content-block .views-element-container .flex-grow .cell {
	margin-bottom: 2rem;
}
/** correction Bouton pour bloc partenaire **/
.site-content-wrapper .partenaires .btn.outline {
    color: #00326e;
    background-color: #fff;
    border-color: #00326e;
    margin-top: 0.5rem;
}
.large-2 .partenaires .top-infos .semi-field-sep {
    margin-bottom: 0;
    color: #00326e;
    font-size: 1rem;
	text-align: center;
	padding: 0.5rem 0;
}
.large-2 .partenaires .top-infos .txt.medium p {
    font-size: 0.85rem;
    line-height: 1;
}
.large-2 .partenaires .bottom-infos .btn {
    font-size: 0.8rem;
}

.paragraph--type--partenaire-section .grid-margin-y > .small-10, .paragraph--type--partenaire-section .grid-margin-y > .small-8 {
    margin: 0.75rem auto;
}
.sm-teaser .sm-teaser__img-link .field--name-field-legende {
	position: absolute;
	color: #fff;
	text-align: right;
	width: 100%;
	padding: 5px 10px;
	font-size: 12px;
}
/** correction border des publications qui apparaissent sur bloc partenaire **/
#block-p1ps2019-content .paragraph .partenaires .sm-teaser__img-link img {
    border: 0 none;
}
#block-p1ps2019-content .paragraph--type--partenaire-section .sm-teaser {
    border-bottom: 0 none;
}
/** correction affichage page domaine expertise **/
.path-domaines-expertise .content-left .form-item:not(.form-item-centre-name)::before, .path-domaines-expertise  .chosen-container-single::before {
    top: auto;
    transform: none;
    position: relative;
    left: 0;
    width: 0;
    height: unset;
    z-index: 1;
    background-color: transparent;
}
.path-domaines-expertise .content-left [type="checkbox"] {
    margin: 0;
}
.path-domaines-expertise .content-left .views-exposed-form .form-item:not(.form-actions) {
    width: 100%;
}
/** Ajustement photo des pages perso **/
.page-personnelle .page_personnelle .right-mov-content .colonnedroite .userImg {
    padding-top: 0 !important;
}
.page-personnelle .page_personnelle .right-mov-content .colonnedroite .socialinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.page-personnelle .page_personnelle .right-mov-content .colonnedroite .userImg img {
    position: relative !important;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: 100%;
    margin-top: 0 !important;
}
.page-personnelle .cnu {
    font-weight: bold;
    color:#c89108;
    font-size:1.2rem;
}
@media screen and (max-width: 420px) {
.page-personnelle .page_personnelle { margin-top: 0; }
.page-personnelle .page_personnelle .page_personnelle-name { position: inherit; }
.page-personnelle .cnu { font-size:1rem; }
}
/** Ajustement page perso largeur contenu colonne droite **/
.page-personnelle .page_personnelle .right-mov-content .colonnedroite .cell {
    margin: 0 0 2rem;
    max-width: 100%;
}
/** Ajustement page perso pour que le bloc recherche passe au 1er plan **/
.page-personnelle .page_personnelle .page_personnelle-name {
z-index: 1 !important;
}
/** Ajustement page perso pour ajouter marge sur le h3 et h4 **/
.page_personnelle .colonnecentrale h3 {
    margin-top:1rem;
    margin-bottom: 1rem;
}
.page_personnelle .colonnecentrale h4 {
    margin-top:0.5rem;
    margin-bottom: 0.25rem;
}
/** Ajustement page perso pour puce à double liste **/
.page-personnelle .colonnecentrale ul ul {
    list-style-type: circle;
    list-style-position: inside;
}

/*** NODE PREVIEW ***/
.node-preview-container.container-inline {
  width: 100vw;
  background: #00326e;
  position: fixed;
}
.node-preview-form-select {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.node-preview-backlink {
  color: #fff;
  margin-right: 1.5rem;
}
.node-preview-backlink:hover, .node-preview-backlink:focus {
  color: #fff;
  text-decoration: underline;
}
.node-preview-form-select .chosen-container-single:before, .node-preview-form-select .form-item:before {
  background: none;
  content: none;
}
.node-preview-form-select input#edit-submit {
  display: none;
}
.node-preview-form-select a.chosen-single {
  padding: 0 .5rem;
}
.node-preview-form-select .chosen-container-single .chosen-single:after {
  right: .5rem;
}
/** Node publication **/
.publication-label {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}
.node--type-publication .site-content-wrapper .btn {
  margin-top: 0;
}
.node--type-publication .site-content-wrapper .publisher a, .node--type-publication .site-content-wrapper .collection a {
  text-decoration: underline;
}
.view-message.padding-top {
  padding-top: 1.5rem;
}
.accordion .paragraph--type--bp-simple .grid-container {
  padding: 30px 15px;
  margin: 0 20px;
}
.categ-style a,.categ-style a:hover {
  color:  #fff;
}
.categ-style a {
  text-decoration: none;
}
.paragraph--type--medias .grid-container {
  justify-content: center;
}
.publication .grid-container aside.large-3 {
  position: relative;
}
.publication .grid-container aside.large-3 .field--name-field-credits {
  bottom: unset;
  top: 22rem;
  right: 0;
}
/** Changement logo pour les 50 ans **/
.footer .footer-wrapper .logo-wrapper .logo-footer svg {
	display: none;
}
.footer .footer-wrapper .logo-wrapper {
	background-image: url('https://com-web.univ-paris1.fr/logos/logo-univ-paris1.fr.svg');
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.transparent:not(.scroll) #navbar #top-header svg {
    fill: transparent !important;
    background-image: url('https://com-web.univ-paris1.fr/logos/21-153-50ans-BlocP1PS-bouton_site_V2-blanc.svg');
    display: block;
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.scroll #navbar #top-header svg {
    fill: transparent !important;
    background-image: url('https://com-web.univ-paris1.fr/logos/21-153-50ans-BlocP1PS-bouton_site_V2_bleu_or.svg');
    display: block;
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.path-node #navbar #top-header svg, .path-resultats-recherche #navbar #top-header svg, .path-publications #navbar #top-header svg, .path-actualites #navbar #top-header svg, .path-evenements #navbar #top-header svg, .path-soutenances #navbar #top-header svg {
    fill: transparent !important;
    background-image: url('https://com-web.univ-paris1.fr/logos/21-153-50ans-BlocP1PS-bouton_site_V2_bleu_or.svg');
    display: block;
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.scroll #navbar #top-header svg *, .path-node #navbar #top-header svg *, .path-resultats-recherche #navbar #top-header svg *, .path-publications #navbar #top-header svg *, .path-actualites #navbar #top-header svg *,  .path-evenements #navbar #top-header svg *,  .path-soutenances #navbar #top-header svg * {
    fill: transparent !important;
}

/* Responsive > Phablette portrait */
@media screen and (max-width: 1024px) {
.transparent:not(.scroll) #navbar #top-header .header-center #block-p1ps2019-branding svg {
    max-width: 30vw;
}
.site--entity #navbar .header-center {
    top: 50%;
}
}
/* Responsive > Phablette */
@media screen and (max-width: 63.9375em) {
.site--entity #navbar .header-center {
    top: 80%;
}
.transparent:not(.scroll) #navbar #top-header .header-center #block-p1ps2019-branding svg {
    max-width: 30vw;
    background-position: bottom;
}
}

/* Responsive > Mobile */
@media screen and (max-width: 46.1875em) {
.page-personnelle .page_personnelle .content {
      padding: 0 0.5rem;
}
.page-personnelle .page_personnelle .right-mov-content .colonnecentrale .new-section.about .infos-sep .btn {
      margin-bottom: 0.5rem;
}
.transparent:not(.scroll) #navbar #top-header .header-center #block-p1ps2019-branding svg {
    max-width: 30vw;
    background-position: center;
}
.footer .footer-wrapper .logo-wrapper {
	display: none;
}
.footer .footer-wrapper .block-system-menu-blockreseaux-sociaux::before {
    background-image: url('https://com-web.univ-paris1.fr/logos/logo-univ-paris1.fr.svg');
    display: block;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer .footer-wrapper .block-system-menu-blockreseaux-sociaux {
	display: block !important;
}
.footer .footer-wrapper .block-system-menu-blockreseaux-sociaux .block-title {
    text-align: center;
    margin-bottom: 0;
}
.footer .footer-wrapper .block-system-menu-blockreseaux-sociaux ul {
	text-align: center;
}
.footer .footer-wrapper .cell > div {
    width: 100%;
}
}
/* Responsive > Mobile */
@media screen and (max-height: 420px) {
.path-frontpage h1, .h1-style {
    font-size: 1.3rem;
    line-height: 1;
}
}
/** Correction Taille police sur H2 sur Actualité **/
#block-p1ps2019-content .news .paragraph h2 {
    font-size: 1.875rem;
}
.page-personnelle.search-index .skills a {
  color: #fff;
  background-color: #00326e;
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  display: inline-block;
  margin: 1rem 1rem 0 0;
}
/** affichage menu droite en mode mobile sur site www **/
@media screen and (max-width: 63.9375em) {
#navbar-header .navigation-region {
    display: block;
    background-color:#FFF;
}
#navbar-header .navigation-region ul li a, #navbar-header .navigation-region ul li span {
    color: #00326E;
}
#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut #block-p1ps2019-menuliensutileshaut-menu.visually-hidden  {
    display: block;
    position: relative !important;
    color: #c89108;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
    background-color: #FFF;
    margin-top: -1rem;
    padding: 0.5rem;
    border: 1px dashed #c89108;
    margin-bottom: 1.5rem;
}
}
/**** Micro-site header - social media icons ****/
.header-micro .micro-right .icon-rs {
  content:'';
  height: 24px;
  width:24px;
  display:block;
}
.transparent:not(.scroll) .header-micro .micro-right .up1-hypotheses, .page_personnelle .socialinks .up1-hypotheses {
  background: url('https://com-web.univ-paris1.fr/logos/logo-hypotheses-blanc.svg') no-repeat;
}
.header-micro .micro-right .up1-hypotheses {
  background: url('https://com-web.univ-paris1.fr/logos/logo-hypotheses-noir.svg') no-repeat;
}
.transparent:not(.scroll) .header-micro .micro-right .up1-hal, .page_personnelle .socialinks .up1-hal {
  background: url('https://com-web.univ-paris1.fr/logos/logo-hal-texte-blanc.svg') no-repeat;
}
.header-micro .micro-right .up1-hal {
  background: url('https://com-web.univ-paris1.fr/logos/logo-hal-texte-noir.svg') no-repeat;
  margin-top: 5px;
  width: 52px;
}
.page-personnelle .socialinks .hal img {
  width: 62px;
}
.page_personnelle .socialinks {
  margin-top: 2rem;
}
.header-micro .micro-right .up1-hal,.page_personnelle .socialinks .epi {
  height: 32px;
  display: block;
  content: "";
}
.page_personnelle .socialinks .epi {
  width: 32px;
  background: url('https://com-web.univ-paris1.fr/logos/logo_epi_bleu.svg') no-repeat;
}
/*** Correction affichage bloc media file dans 2 columns uneven ****/
#block-p1ps2019-content .bp-columns-two-uneven .grid-container .column-uneven-wrapper .paragraph--type--medias .grid-container {
    padding: 0;
	max-width: 100%;
}
#block-p1ps2019-content .bp-columns-two-uneven .grid-container .column-uneven-wrapper .paragraph--type--medias .grid-container .paragraph--type--files-media {
    margin: 0;
	max-width: 300px;
    width:100%;
}
@media print, screen and (min-width: 46.25em) {
#block-p1ps2019-content .bp-columns-two-uneven .grid-container .column-uneven-wrapper .medium-3 {
    max-width: 60%;
}
}
/** idem pour 2 columns equal **/
#block-p1ps2019-content .paragraph--type--bp-accordion .paragraph.paragraph--type--medias {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#block-p1ps2019-content .paragraph--type--bp-accordion .paragraph.paragraph--type--medias .paragraph--type--video-media {
    padding: 0;
}

#block-p1ps2019-content .paragraph--type--bp-columns .equal-height .paragraph--type--medias  .grid-container .paragraph--type--files-media {
    margin: 0;
    max-width: 300px;
    width: 100%;
    padding-bottom: 4.5rem !important;
}
@media screen and (max-height: 740px) {
#block-p1ps2019-content .paragraph--type--bp-accordion .grid-margin-y > .cell {
    margin-top: 2rem !important;
}
}
.margin-archives {
	margin: 3rem auto;
}
/*** ajout habillage pour en-tête des tableaux ***/
#block-p1ps2019-content .paragraph--type--bp-simple table thead {
    background: #00326E;
    color: #fff;
}
/*** lien dans accordeon si fond en bleu **/
#block-p1ps2019-content .paris1-bg-blue .accordion .accordion-content p a {
    color:#00326E;
}

.paragraph.medium.paragraph--type--button-grid-item {
    margin:  3rem 0;
}
/*** habillage page 404 ***/
.error-page #breadcrumbs {
    display:none;
}
.error-page #page-content {
    background-color: #e5eefb;
}
.error-page #block-p1ps2019-content {
    background-image: url('https://com-web.univ-paris1.fr/background/page-404.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    display: block;
    background-position: center;
    margin: 0 auto;
}
.error-page #block-p1ps2019-content .views-element-container {
    width: 50%;
	display: block;
	max-width: 50%;
	margin-left: 23%;
	margin-top: 5rem;
	margin-bottom: 25vw;
}
.error-page #block-p1ps2019-content .views-element-container .field--name-field-404-subtitle {
    color: #3d53a3;
    font-size:5rem !important;
    font-family: 'brandon grotesque', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}
.error-page #block-p1ps2019-content .views-element-container .field--name-field-404-title {
    color: #3d53a3;
    font-size:10.5rem !important;
    font-family: 'brandon grotesque', sans-serif;
    line-height: 7rem;
    font-weight: bolder;
}
.error-page #block-p1ps2019-content .views-element-container .field--name-body {
    margin: 1rem 0;
    color: #00326e;
    display: block;
	position: relative;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform {
    position: relative;
    display: block;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform form {
    display: flex;
    align-items: center;
    position: relative;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform .form-item:not(.form-item-centre-name) {
    margin: 1rem 0 1rem 0;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform .form-item, .error-page #block-p1ps2019-content .views-element-container .field--type-webform .form-actions {
    margin-left: 0;
    display: inline-block;
    position: relative;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform .form-text {
	border-right: none;
    display: inline-block;
	position: relative;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform .webform-button--submit {
	border-left: none;
    display: inline-block;
	position: absolute;
	bottom: -40px;
}
@media screen and (max-width: 63.9375em) {
.error-page #block-p1ps2019-content .views-element-container {
    width: calc(100% - 2rem);
	display: block;
	max-width: 100%;
	margin: 2rem;
}
.error-page #block-p1ps2019-content .views-element-container .field--name-field-404-subtitle {
    font-size:3rem !important;
}
.error-page #block-p1ps2019-content .views-element-container .field--name-field-404-title {
    font-size:5rem !important;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform .form-item, .error-page #block-p1ps2019-content .views-element-container .field--type-webform .form-actions {
    margin: 0;
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform .form-text {
    margin: 0 !important;
    width: calc(100% - 1rem);
}
.error-page #block-p1ps2019-content .views-element-container .field--type-webform .webform-button--submit {
	bottom: -38px;
  right: 1rem;
}
}

/************ PAGE ANNUAIRE SITES PARIS1 ************/
.path-annuaire-sites-paris1 .overlay-desc {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    font-size: .9rem;
    padding: 0 1rem;
    font-style: italic;
    bottom: 10%;
    color: #fff;
    transform: translateY(20px);
}
.path-annuaire-sites-paris1 .overlay-infos {
    text-align: center;
    padding: 0 1rem;
}
.link-style:hover, .field--type-text-long a:hover {
  text-decoration: underline;
  color: #A16C0D;
 }

  /*** correction RGAA ***/
.view-patimmo .form-item-patrimoine-id #edit-patrimoine-id ul {
  display: inline-flex;
}
.view-patimmo .form-item-patrimoine-id #edit-patrimoine-id ul li {
  padding-right: 1rem;
}
.view-patimmo .form-item-patrimoine-id::before {
  background-color: transparent;
}
.view-patimmo .mask.hover:after, .list-patimmo .mask.hover:after {
  background-color:	rgba(0, 50, 110, 0);
}
.view-patimmo .mask .overlay-infos, .list-patimmo .mask .overlay-infos {
  display:none;
}
.view-patimmo .mask:hover:after, .list-patimmo .mask:hover:after {
  background-color:	rgba(0, 50, 110, 0.6);
}
.view-patimmo .mask:hover .overlay-infos, .list-patimmo .mask:hover .overlay-infos {
  display:block;
}
.view-patimmo .views-field-field-thumbnail-patrimoine .overlay-infos, .list-patimmo .mask .overlay-infos {
  top: 85%;
  left: 5%;
}
.list-patimmo, .list-patimmo a.mask {
  width: 100%;
}
.list-patimmo li {
  width: 49%;
  display: inline-flex;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 0.4%;
}
  /*** correction RGAA ***/
.link-style:hover, .field--type-text-long a:hover {
  text-decoration: underline;
  color: #A16C0D;
}
.paris1-bg-blue .link-style:hover, .paris1-bg-blue .field--type-text-long a:hover {
  color: #C89201;
}
.page-personnelle .page_personnelle .right-mov-content .colonnecentrale .new-section.publications #res_script .SousRubrique {
	text-transform: unset!important;
	font-weight: bold;
}
/** ACCESSIBILITY **/
.accessibility-mode .page-personnelle .cnu {
  color: #000;
}
.accessibility-mode .site-content-wrapper .btn a {
  color: #fff;
  border-color: #000;
}
.accessibility-mode .path-node #navbar #top-header svg, .accessibility-mode .path-resultats-recherche #navbar #top-header svg, .accessibility-mode .path-publications #navbar #top-header svg, .accessibility-mode .path-actualites #navbar #top-header svg, .accessibility-mode .path-evenements #navbar #top-header svg, .accessibility-mode .path-soutenances #navbar #top-header svg {
  background-image: url('https://com-web.univ-paris1.fr/logos/21-153-50ans-BlocP1PS-bouton_site_V2-blanc.svg');
}
.accessibility-mode .footer .footer-wrapper .logo-wrapper {
  background-image: url('https://com-web.univ-paris1.fr/logos/logo_paris1_tout-blanc.svg');
}
.accessibility-mode .scroll #navbar #top-header .icon-menu::after,
.accessibility-mode .node--type-second-level-pages.page-mini-site #navbar #top-header .icon-menu::after,
.accessibility-mode .path-node #navbar #top-header .icon-menu::after,
.accessibility-mode .path-resultats-recherche #navbar #top-header .icon-menu::after,
.accessibility-mode .path-publications #navbar #top-header .icon-menu::after, .accessibility-mode .path-actualites #navbar #top-header .icon-menu::after,
.accessibility-mode .path-evenements #navbar #top-header .icon-menu::after, .accessibility-mode .path-soutenances #navbar #top-header .icon-menu::after,
.accessibility-mode .footer .footer-wrapper a {
  color: #FFF;
}
