/* correction position placeholder */

textarea::placeholder, .chosen-container-single .chosen-single::placeholder, input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, input[type="submit"]:not(.reset-btn)::placeholder, input[type="number"]::placeholder, input[type="button"]::placeholder, input[type="password"]::placeholder, input[type="url"]::placeholder, input[type="file"]::placeholder, input[type="search"]::placeholder, .form-date::placeholder, select.form-select .file-widget::placeholder {
    opacity: 1;
    line-height: 2.5rem;
    color: #a1a1a1;
    font-size: 1.25rem;
    font-style: italic;
}

/* cacher les champs de login standard */
.user-login-form .form-item-name, .user-login-form .form-item-pass, .user-login-form .form-actions {
    display: none;
}

/* label node type dans la recherche */
.node-type-search {
  display: block;
  margin-bottom: 1rem;
  text-align: right;
  color: #00326e;
  font-size: 1.25rem;
  font-weight: 700;
}
