/* correction position placeholder */

textarea::placeholder, .chosen-container-single .chosen-single::placeholder, input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, input[type="submit"]:not(.reset-btn)::placeholder, input[type="number"]::placeholder, input[type="button"]::placeholder, input[type="password"]::placeholder, input[type="url"]::placeholder, input[type="file"]::placeholder, input[type="search"]::placeholder, .form-date::placeholder, select.form-select .file-widget::placeholder {
    opacity: 1;
    line-height: 2.5rem;
    color: #a1a1a1;
    font-size: 1.25rem;
    font-style: italic;
}

/* cacher les champs de login standard */
.user-login-form .form-item-name, .user-login-form .form-item-pass, .user-login-form .form-actions {
    display: none;
}
/* affichage puce sur les listes à puces */
#block-p1ps2019-content article .paragraph .grid-container .field ul {
    list-style-type: disc;
}
.paragraph ul, ol, dl {
    list-style-position: inside;
}
#block-p1ps2019-content article .paragraph .grid-container .field ul li ul {
    list-style-type: circle;
}
#block-p1ps2019-content article .paragraph .grid-container .field ul li ul li ul {
    list-style-type: square;
}
/* Ajout texte menu au burger menu **/
#navbar #top-header .icon-menu::after {
    content:"MENU";
    display: block;
    width:auto;
    color:#FFF;
    font-size:0.6rem;
    margin-top:0.2rem;
    font-weight:bold;
}
.scroll #navbar #top-header .icon-menu::after, .node--type-second-level-pages.page-mini-site #navbar #top-header .icon-menu::after, .path-node #navbar #top-header .icon-menu::after {
    color:#00326E;
}
/** Ajout acces direct en version mobile sur www **/
/* Responsive > Phablette */
@media screen and (max-width: 63.9375em) {
#navbar-header .navigation-region {
display: block;
}
#navbar-header .navigation-region {
padding: 1rem;
}
#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut h2 {
position: relative !important;
overflow: visible;
clip: auto;
width: 100%;
height: auto;
color: #fff;
text-align: center;
margin: 0 auto 1rem;
font-weight: normal;
background-color: #c89108;
}

#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut ul {
text-align: right;
margin-bottom: 2rem;
}
#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut ul li {
width: max-content;
display: inline-block;
padding: 1rem 0.5rem;
border: 1px solid #fff;
margin: 0.5rem 0.25rem;
}
#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut ul li a {
font-size:0.75rem;
}
}
/* Responsive > Mobile */
@media screen and (max-width: 46.1875em) {
#navbar-header .navigation-region {
display: block;
}
#navbar-header .navigation-region {
padding: 1rem;
}
#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut h2 {
position: relative !important;
overflow: visible;
clip: auto;
width: 100%;
height: auto;
color: #fff;
text-align: center;
margin: 0 auto 1rem;
font-weight: normal;
background-color: #c89108;
}

#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut ul {
text-align: right;
margin-bottom: 2rem;
}
#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut ul li {
width: max-content;
display: inline-block;
padding: 1rem 0.5rem;
border: 1px solid #fff;
margin: 0.5rem 0.25rem;
}
#navbar-header .navigation-region #block-p1ps2019-menuliensutileshaut ul li a {
font-size:0.75rem;
}
}
/* label node type dans la recherche */
.node-type-search {
  display: block;
  margin-bottom: 1rem;
  text-align: right;
  color: #00326e;
  font-size: 1.25rem;
  font-weight: 700;
}
/* corriger retour à la ligne sur certaines catégorie d'événement dans le bloc actualité&évenement */
.paragraph--type--news-events .box-content .top-infos .infos-row-wrapper .categ-wrapper.semi-semi-infos-sep {
    white-space: nowrap;
}
/* correction zone de saisie recherche masqué */
.site--type--mini-site #navbar .block-views-exposed-filter-blockrecherche-de-contenu-page-1 {
    top: 13.5rem;
}
.site--type--mini-site.path-resultats-recherche #navbar .block-views-exposed-filter-blockrecherche-de-contenu-page-1 {
    top: 7rem;
}
.accordion-content.txt .paris1-bg-soft-grey,.accordion-content.txt .paris1-bg-blue {
    padding : 20px 25px;
}
/* Correction du code Ebizproduction : Responsive > Phablette */
@media screen and (max-width: 63.9375em) {
	#navbar-header .navigation-left-region ul.menu.large-vertical li ul li a {
        pointer-events: auto;
	}
    /* Correction : le bouton du bloc palmares était en blanc sur blanc */
	.site-content-wrapper .paragraph--type--hit-list .btn.outline {
        border-color: #00326F;
        color: #00326F;
    }
}
/** Correction pour le module webform **/
.webform-submission-form .fieldset-legend {
    color: #333;
    font-size: 1.25rem;
    font-family: "Montserrat";
    font-weight: 700;
}
.webform-submission-form .form-type-radio input, .webform-submission-form .form-type-checkbox input, .webform-submission-form [class*="form-type-checkbox"] input, .webform-submission-form [class*="form-type-radio"] input {
    clip: auto;
    display: inline !important;
    overflow: visible;
    height: 2rem;
    width: 2rem;
}
.webform-submission-form [type='checkbox'] + label, .webform-submission-form [type='radio'] + label {
    margin-left: 2.5rem;
}
.webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [type='checkbox'] + label, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [type='radio'] + label {
    margin-left: 0.1rem;
}
.webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper .form-type-radio input, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper .form-type-checkbox input, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [class*="form-type-checkbox"] input, .webform-submission-form .webform-options-display-buttons .webform-options-display-buttons-wrapper [class*="form-type-radio"] input {
    display: none !important;
    overflow: hidden;
    height: 1px;
    width: 1px;
}
.field--type-webform .webform-required .form-required::after, .field--type-webform .form-required::after {
    content: "*";
    color: red;
    display: inline;
    width: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left:0.5rem;
}
.paris1-bg-blue .webform-submission-form .fieldset-legend {
    color: #fff;
}
.paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) textarea, .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) .chosen-container-single .chosen-single, .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="text"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="email"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="tel"], .field--type-webform .form-item:not(.form-item-centre-name) input[type="submit"]:not(.reset-btn), .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="number"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="button"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="password"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="url"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="file"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) input[type="search"], .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) .form-date, .paris1-bg-blue .field--type-webform .form-item:not(.form-item-centre-name) select.form-select .file-widget {
    color: #000;
}
.paragraph--type--content-block .views-element-container .flex-grow .cell {
	margin-bottom: 2rem;
}
/** correction Bouton pour bloc partenaire **/
.site-content-wrapper .partenaires .btn.outline {
    color: #00326e;
    background-color: #fff;
    border-color: #00326e;
    margin-top: 0.5rem;
}
.large-2 .partenaires .top-infos .semi-field-sep {
    margin-bottom: 0;
    color: #00326e;
    font-size: 1rem;
	text-align: center;
	padding: 0.5rem 0;
}
.large-2 .partenaires .top-infos .txt.medium p {
    font-size: 0.85rem;
    line-height: 1;
}
.large-2 .partenaires .bottom-infos .btn {
    font-size: 0.8rem;
}

.paragraph--type--partenaire-section .grid-margin-y > .small-10, .paragraph--type--partenaire-section .grid-margin-y > .small-8 {
    margin: 0.75rem auto;
}
.sm-teaser .sm-teaser__img-link .field--name-field-legende {
	position: absolute;
	color: #fff;
	text-align: right;
	width: 100%;
	padding: 5px 10px;
	font-size: 12px;
}
/** correction affichage page domaine expertise **/
.path-domaines-expertise .content-left .form-item:not(.form-item-centre-name)::before, .path-domaines-expertise  .chosen-container-single::before {
    top: auto;
    transform: none;
    position: relative;
    left: 0;
    width: 0;
    height: unset;
    z-index: 1;
    background-color: transparent;
}
.path-domaines-expertise .content-left [type="checkbox"] {
    margin: 0;
}
.path-domaines-expertise .content-left .views-exposed-form .form-item:not(.form-actions) {
    width: 100%;
}
/** Ajustement photo des pages perso **/
.page-personnelle .page_personnelle .right-mov-content .colonnedroite .userImg {
    padding-top: 0 !important;
}
.page-personnelle .page_personnelle .right-mov-content .colonnedroite .userImg img {
    position: relative !important;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: 100%;
    margin-top: 0 !important;
}
@media screen and (max-width: 420px) {
.page-personnelle .page_personnelle { margin-top: 0; }
.page-personnelle .page_personnelle .page_personnelle-name { position: inherit; }
}
/** Ajustement page perso largeur contenu colonne droite **/
.page-personnelle .page_personnelle .right-mov-content .colonnedroite .cell {
    margin: 0 0 2rem;
    max-width: 100%;
}
/** Ajustement page perso pour que le bloc recherche passe au 1er plan **/
.page-personnelle .page_personnelle .page_personnelle-name {
z-index: 1 !important;
}
/** Ajustement page perso pour ajouter marge sur le h3 et h4 **/
.page_personnelle .colonnecentrale h3 {
    margin-top:1rem;
    margin-bottom: 1rem;
}
.page_personnelle .colonnecentrale h4 {
    margin-top:0.5rem;
    margin-bottom: 0.25rem;
}
/** Ajustement page perso pour puce à double liste **/
.page-personnelle .colonnecentrale ul ul {
    list-style-type: circle;
    list-style-position: inside;
}
