.form-item-theme-general-theme > .option {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.231em;
}

.form-item-theme-general-theme > input {
  display: inline-block;
  vertical-align: middle;
}

.form-item-theme-general-theme > .option > .theme > .screenshot {
  width: 294px;
  margin: 0 20px 0 0;
}

.form-item-theme-general-theme > .option > .theme > .theme-name {
  display: inline-block;
  vertical-align: top;
}

