/** Chiffres-Clés **/
.key-figures-section {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 40px;
}
.key-figures-section h2 {
  position: relative;
  width: 100%;
  margin: 40px 0;
  font-size: 3em;
  line-height: 3.1em;
  text-transform: uppercase;
  color: #00326E;
}
.key-figures-section .chiffre p {
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  color: #00326E;
  margin: 0;
  line-height: 60px;
}
.key-figures-section .legende p {
  font-size: 1.2em;
  text-align: center;
  color: #171717;
  text-transform: uppercase;
  font-weight: 900;
}

.paragraph.rich-content {
  display: flex;
}
.paragraph.rich-content.row-position {
  flex-direction: row;
}
.paragraph.rich-content.row-reverse-position {
  flex-direction: row-reverse;
}
.paragraph.rich-content.column-position {
  flex-direction: column;
}
.paragraph.rich-content.column-reverse-position {
  flex-direction: column-reverse;
}

/** Couleurs Paris 1 **/


/** Icones **/
  /* Positions */
.icon-top-left {
  background-position: left top;
}
.icon-left {
  background-position: left center;
}
.icon-bottom-left {
  background-position: left bottom;
}
.icon-top-center {
  background-position: center top;
}
.icon-center {
  background-position: center bottom;
}
.icon-top-right {
  background-position: right top;
}
.icon-right {
  background-position: right center;
}
.icon-bottom-right {
  background-position: right bottom;
}
.icon-presentation {
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}
  /* svg */
.icon-argent {
  background-image: url('../images/icons/argent.svg');
}
.icon-etablissement {
  background-image: url('../images/icons/etablissement.svg');
}
.icon-arts {
  background-image: url('../images/icons/arts.svg');
}
.icon-certificat {
  background-image: url('../images/icons/certificat.svg');
}
.icon-diplome {
  background-image: url('../images/icons/diplome.svg');
}
.icon-doctorant {
  background-image: url('../images/icons/doctorant.svg');
}
.icon-droit {
  background-image: url('../images/icons/droit.svg');
}
.icon-eco {
  background-image: url('../images/icons/eco.svg');
}
.icon-etudiants {
  background-image: url('../images/icons/etudiants.svg');
}
.icon-livres {
  background-image: url('../images/icons/livres.svg');
}
.icon-pantheon {
  background-image: url('../images/icons/pantheon.svg');
}
.icon-recherche {
  background-image: url('../images/icons/recherche.svg');
}
