/** Chiffres-Clés **/

//set spacing between parags
// .paragraph{
//   ~ .paragraph{
//     padding-top: rem-calc(72px);
//     &[class*="bg"]{
//       margin-top: rem-calc(72px);
//     }
//   }
// }
.paragraph{
  &:not(.paragraph--type--hit-list):not(.tiles-full):not(.paragraph--type--rich-content):not(.paragraph--type--tuile-text-wo-image):not(.paragraph--type--tile-wo-image):not(.paragraph--type--key-figure):not(.paragraph--type--presentation):not(.paragraph--type--bp-columns){
    padding-bottom: rem-calc(72px);
    padding-top: rem-calc(72px);
    &:not([class*='paris1-bg']){
      + .paragraph:not([class*='paris1-bg']){
        padding-top: 0;
      }
    }

    &.paragraph--type--bp-view{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .no-padding-top-bottom &, .node--type-event &, .paragraph--type--bp-columns &{
    padding-top: 0 !important; padding-bottom: 0 !important;
  }
}

.key-figures-section {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  font-family: $font-second;
  h2 {
    position: relative;
    width: 100%;
  }
  .chiffre, .legende{
    text-align: center;
    @include setFont($fontType-bold);
  }
  .chiffre{
    font-size: rem-calc(70px);
    margin: 0; line-height: 1.12;
    p{line-height: 1;}
  }
  .legende{
    font-size: rem-calc(18px);
    text-transform: uppercase;
  }
}//close .key-figures-section

.paragraph--type--bp-column-wrapper{
  .field-paragraph--field-title{
    margin-left: 0; margin-right: 0;
  }
}

.paragraph--type--bp-view{
  > .large-4 {
    .views-row:first-of-type{
      @extend .semi-field-sep;
    }
  }
  .field--name-field-publication-topics{
    font-style: rem-calc(18px); line-height: 1.33;
  }
}

.paragraph--type--tuile-text-wo-image, .paragraph--type--tile-wo-image{
  //a{@extend .link-underline;}
}
.paragraph--type--hit-list{
  .paragraph__column{
    .paragraph__column{
      font-size: rem-calc(20px); line-height: 1.2;
      font-family: $font-second; position: relative;
      @include setFont($fontType-bold);
      *{
        font-size: rem-calc(20px); line-height: 1.2;
        font-family: $font-second;
        @include setFont($fontType-bold);
      }
     }
     .field--name-field-subtitle{
       @include setFont($fontType-regular);
       *{
         @include setFont($fontType-regular);
       }
     }
  }
}//close .paragraph--type--hit-list

.paragraph--type--section-presentation{
  h2{margin-bottom: rem-calc($fgutter*1.875);}
  .paragraph--type--presentation{
    width: 80%;
    h3{
      font-size: rem-calc(40px); line-height: 1.325;
        font-family: $font-regular;
    }
    p{font-size: rem-calc(20px); line-height: 1.35;}
  }
}//close .paragraph--type--section-presentation

.paragraph--type--key-figures-section{
  h2{
    margin-bottom: rem-calc($fgutter*2.1875);
  }
}

.paragraph--type--tiles.paragraph{
  .paragraph__column{
    h2{margin-bottom: rem-calc($fgutter*1.75);}
    .title{
      width: 100%; height: 100%; margin: 0;
      a{
        width: 100%; height: 100%; @include flexDisplay(); @include flexDisplayAlign('center-middle');
        span{
          max-width: rem-calc(425px); text-align: center;
          display: block; line-height: 1.23;
        }
      }
    }
  }
  &.tiles-full{
    .paragraph__column{
      .tiles-layout{
        margin: 0;
        .cell{
          max-width: calc(50% - 16px);
          width: calc(50% - 16px);
          &:nth-child(odd){
            #{$margin-right}: rem-calc(16px);
            #{$margin-left}: 0;
          }
          &:nth-child(even){
            #{$margin-left}: rem-calc(16px);
            #{$margin-right}: 0;
          }
          &:nth-child(n+3){
            margin-bottom: 0;
          }
        }
        &.two-elements{
          .cell{
            margin-bottom: 0; margin-top: 0;
            max-width: calc(50% - 2px);
            width: calc(50% - 2px);
            &:nth-child(odd){
              #{$margin-right}: rem-calc(2px);
            }
            &:nth-child(even){
              #{$margin-left}: rem-calc(2px);
            }
          }
        }
      }
    }
  }
}//close paragraph--type--tiles
.swiper-container{
   ul.swiper-wrapper{
     #{$margin-left}: 0;
   }
}
#swiper-tiles{
  .swiper-wrapper{
    box-sizing: border-box;
    .swiper-slide{
      > div {height: 100%;}
      .tuile-avec-texte{
        min-height: rem-calc(565px); height: 100%;
        padding: rem-calc(80px 126px);
        background-repeat: no-repeat; background-size: cover;
        .infos{
          max-width: 80%; color: $text-white;
          position: relative; z-index: 2;
        *{color: $text-white;}
        }
      }
    }
  }
  .swiper-pagination{
    bottom: rem-calc(32px);
    .swiper-pagination-bullet{
      width: rem-calc(12px); height: rem-calc(12px);
      border: 2px solid $text-white;
      &.swiper-pagination-bullet-active{
        background: $background-white;
      }
    }
  }
}//close #swiper-tiles

.paragraph--type--files-media{
  @include flex(); @include flex-align(null, middle);
  span.fa{
    margin-right: rem-calc(16px);
    &:before{font-size: rem-calc(18px);}
  }
}

//flex directions
.paragraph.rich-content {
  display: flex;
  img{
    max-height: rem-calc(854px);
  }
}
.paragraph.rich-content.row-position {
  flex-direction: row;
}
.paragraph.rich-content.row-reverse-position {
  flex-direction: row-reverse;
}
.paragraph.rich-content.column-position {
  flex-direction: column;
}
.paragraph.rich-content.column-reverse-position {
  flex-direction: column-reverse;
}

/** Couleurs Paris 1 **/


/** Icones **/
  /* Positions */
.icon-top-left {
  background-position: left top;
}
.icon-left {
  background-position: left center;
}
.icon-bottom-left {
  background-position: left bottom;
}
.icon-top-center {
  background-position: center top;
}
.icon-center {
  background-position: center bottom;
}
.icon-top-right {
  background-position: right top;
}
.icon-right {
  background-position: right center;
}
.icon-bottom-right {
  background-position: right bottom;
}
.icon-presentation {
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: auto;
  &:not(.paragraph--type--presentation){
    padding: rem-calc(48px 0);
  }
    &.paragraph--type--presentation{
        background-size: rem-calc(130px);
    }
}
  /* svg */
.icon-argent {
  background-image: url('../svg/icons/argent.svg');
}
.icon-etablissement {
  background-image: url('../svg/icons/etablissement.svg');
}
.icon-arts {
  background-image: url('../svg/icons/arts.svg');
}
.icon-certificat {
  background-image: url('../svg/icons/certificat.svg');
}
.icon-diplome {
  background-image: url('../svg/icons/diplome.svg');
}
.icon-doctorant {
  background-image: url('../svg/icons/doctorant.svg');
}
.icon-droit {
  background-image: url('../svg/icons/droit.svg');
}
.icon-eco {
  background-image: url('../svg/icons/eco.svg');
}
.icon-etudiants {
  background-image: url('../svg/icons/etudiants.svg');
}
.icon-livres {
  background-image: url('../svg/icons/livres.svg');
}
.icon-pantheon {
  background-image: url('../svg/icons/pantheon.svg');
}
.icon-recherche {
  background-image: url('../svg/icons/recherche.svg');
}
