/** Chiffres-Clés **/
.key-figures-section {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  h2 {
    position: relative;
    width: 100%;
  }
  .chiffre, .legende{
    text-align: center;
    @include setFont($fontType-bold);
  }
  .chiffre{
    font-size: rem-calc(70px);
    margin: 0; line-height: 60px;
    color: $blue;
    p{line-height: 1;}
  }
  .legende{
    font-size: rem-calc(18px);
    color: $dark-gray2;
    text-transform: uppercase;
  }
}

.paragraph.rich-content {
  display: flex;
}
.paragraph.rich-content.row-position {
  flex-direction: row;
}
.paragraph.rich-content.row-reverse-position {
  flex-direction: row-reverse;
}
.paragraph.rich-content.column-position {
  flex-direction: column;
}
.paragraph.rich-content.column-reverse-position {
  flex-direction: column-reverse;
}

/** Couleurs Paris 1 **/


/** Icones **/
  /* Positions */
.icon-top-left {
  background-position: left top;
}
.icon-left {
  background-position: left center;
}
.icon-bottom-left {
  background-position: left bottom;
}
.icon-top-center {
  background-position: center top;
}
.icon-center {
  background-position: center bottom;
}
.icon-top-right {
  background-position: right top;
}
.icon-right {
  background-position: right center;
}
.icon-bottom-right {
  background-position: right bottom;
}
.icon-presentation {
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: auto;
  &:not(.paragraph--type--presentation){
    padding: rem-calc(48px 0);
  }
}
  /* svg */
.icon-argent {
  background-image: url('../svg/icons/argent.svg');
}
.icon-etablissement {
  background-image: url('../svg/icons/etablissement.svg');
}
.icon-arts {
  background-image: url('../svg/icons/arts.svg');
}
.icon-certificat {
  background-image: url('../svg/icons/certificat.svg');
}
.icon-diplome {
  background-image: url('../svg/icons/diplome.svg');
}
.icon-doctorant {
  background-image: url('../svg/icons/doctorant.svg');
}
.icon-droit {
  background-image: url('../svg/icons/droit.svg');
}
.icon-eco {
  background-image: url('../svg/icons/eco.svg');
}
.icon-etudiants {
  background-image: url('../svg/icons/etudiants.svg');
}
.icon-livres {
  background-image: url('../svg/icons/livres.svg');
}
.icon-pantheon {
  background-image: url('../svg/icons/pantheon.svg');
}
.icon-recherche {
  background-image: url('../svg/icons/recherche.svg');
}
