@charset "UTF-8";

/*
    Feuille de style SCSS
    SMACSS : Responsive > Tools
    Par Ebizproduction
*/



/* Ebizproduction : Couleurs */
$blue: #00326e;
$background-main-color: $blue;
$text-main-color: $blue;
$main-color-darken: darken($text-main-color, 10%);

$pink: #D6336C;
$red: #ff0000;
$green: #0CA678;
$yellow: #D69D33;

$gold: #BE8719;

$light-pink: #FFF0F6;
$light-blue: #F8F9FA;
$light-green: #E6FCF5;
$light-yellow: #FFF9DB;

/* Foundation vars colors */
$medium-gray: #f1f3f5;
$gray: #CCC;
$light-gray: #f6f0ed;
$light-gray2: $light-gray;
$gray1: $gray;
$gray2: $gray;
$dark-gray: #00326E;
$dark-gray2: #171717;

$black:#333;
$white: #fff;
$shadow: #504f60;

$marine: #336CD6;
$facebook-color: #3B5998;
$twitter-color: #1DA1F2;
$linkedin-color: #0077B5;


$txt-disabled: $light-blue;
