@charset "UTF-8";

/*
    Feuille de style SCSS
    SMACSS : Responsive > Tools
    Par Ebizproduction
*/

//$main-color : $black;
$white: #fff;
$text-black: #000;
$background-black: #000;
$text-white: #fff;
$background-white: #868483;
$blue: $background-black;
$background-main-color: $background-black;
$text-main-color: $text-white;
$light-pink: $background-black;
$gold-p1ps: $text-black;
//$main-color-darken: $background-black;
//$main-color-darken: darken($background-black, 10%);
$heading-color: $text-black;

$red: $background-black;
$green: $background-black;
$pink:$background-black;
$yellow: $background-black;
$dark-gray2: $text-black;
$dark-gray3:$text-black;
$light-blue: $background-black;
$light-green: $background-black;
$light-yellow: $background-black;
$gold: $text-main-color;
$light-gray1: $background-black;

/* Foundation vars colors */
$medium-gray: $background-black;
$gray: $background-black;
$gray2: $background-black;
$text-light-gray: $text-white;
$background-light-gray: #868483;

$facebook-color: $background-black;
$twitter-color: $background-black;
$linkedin-color: $background-black;

$back-office: $background-black;
