@charset "UTF-8";

/*
    Feuille de style SCSS
    SMACSS : Responsive > Tools
    Par Ebizproduction
*/

//$main-color : $black;
$black: #000;
$white: #fff;
$blue: $black;
$background-main-color: $blue;
$text-main-color: $white;
$light-pink: $black;
//$main-color-darken: $black;
$main-color-darken: darken($black, 10%);


$red: $black;
$green: $black;
$pink:$black;
$yellow: $black;
$dark-gray2: $black;
$dark-gray3:$black;
$light-blue: $black;
$light-green: $black;
$light-yellow: $black;
$gold: $text-main-color;
/* Foundation vars colors */
$medium-gray: $black;
$gray: $black;
$gray1: $black;
$gray2: $black;
$dark-gray: $black;
$light-gray: $black;
$light-gray2: $black;


$facebook-color: $black;
$twitter-color: $black;
$linkedin-color: $black;
