$padding-left:    padding-left;
$padding-right:   padding-right;
$margin-left:     margin-left;
$margin-right:    margin-right;
$border-right:    border-right;
$left:            left;
$right:           right;
$border-left:     border-left;
$border-right:    border-right;
$right-arrow: '"\F142"';
$left-arrow:'"\F141"';

@if $global-text-direction == rtl {
  $padding-left:  padding-right;
  $padding-right: padding-left;
  $margin-left:   margin-right;
  $margin-right:  margin-left;
  $border-right:  border-left;
  $left:          right;
  $right:         left;
  $border-left:   border-right;
  $border-right:  border-left;
  $right-arrow: '"\F141"';
  $left-arrow: '"\F142"';
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/brandon_grotesque.eot?') format('eot'),
  url('fonts/brandon_grotesque.otf') format('truetype'),
  url('fonts/brandon_grotesque.woff') format('woff'),
  url('fonts/brandon_grotesque.svg#BrandonGrotesque') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/brandon_grotesque_bold.eot?') format('eot'),
  url('fonts/brandon_grotesque_bold.otf') format('truetype'),
  url('fonts/brandon_grotesque_bold.woff') format('woff'),
  url('fonts/brandon_grotesque_bold.svg#BrandonGrotesqueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$font-regular: 'Brandon Grotesque';
$font-second: 'Montserrat';
$font-icon : 'iconsFont';

$fontType-regular: 'normal';
$fontType-bold: 'bold';
$fontType-medium: 'medium';
$fontType-light: 'light';
$fontType-italic: 'italic';
$fontType-boldItalic: 'boldItalic';
$fontType-mediumItalic: 'mediumItalic';
$fontType-lightItalic: 'lightItalic';

$bold: 700;
$mediumfont: 600;
$regular: 400;
$light: 300;
$italic: italic;
$normal: normal;

$foundation-palette: (
  primary: $red,
  secondary: $black,
  success: $green,
  warning: $yellow,
  alert: $red,
);

$small : 0;
$medium : 640px;
$large : 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;
$xxxlarge: 1600px;

/* Ebizproduction : Animations */
$gutter: 1;
$fgutter: 32px !default;
$easing: ease-in-out;

$vcarousel-width: 96px;

/* Ebizproduction : Divers */
$transition: .3s;
$button-size : 2em;

$base-font-size-value: 16;
$base-font-size: 16px;
$base-line-height: 24px;

.icon:before, .icon-after:after,
[class*="icon-"]:before, [class*="-after"]:after {
  font-family: $font-icon !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
