footer {
  background-color: $secondary;
  padding: 4rem 0;
  color: white;
  .nav {
    .nav-item {
      .nav-link {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        line-height: 25px;
        color: white;
        text-decoration: none;
      }

      &.social-nav-item {
        .nav-link {
          font-size: 18px;
        }
      }
    }
  }

  .footer_menu_wrapper, .footer_partners {
    text-align: center;

    .nav-link {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .fa-facebook-square {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    &:before {
      content: "\ea91";
    }
  }
  .fa-twitter {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    &:before {
      //content: "\ea96";
      content: "\e900";
    }
  }
  .fa-youtube {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    &:before {
      content: "\ea9d";
    }
  }
  .fa-linkedin-square {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    &:before {
      content: "\eac9";
    }
  }
  .fa-instagram {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    &:before {
      content: "\ea92";
    }
  }

  .fa-youtube-play {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    &:before {
      content: "\ea9e";
    }
  }

  .fa-viadeo {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    &:before {
      content: "\e901";
    }
  }


}