.sorbonnetv-page-form {
	background-color: $light;
	color: $dark;

	.page-title.bullet-title {
		.title-bullet {
			background-color: $primary;
		}
	}

	#site-main {
		@include stv-form-styles();
	}
}