#section_hp {
  background-image: url('/themes/custom/sorbonne_tv_lmc/assets/img/fond-cercle-jaune-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  padding-top: 30px;
  padding-bottom: 42px;

  @include media-breakpoint-up(md) {
    background-position: bottom right;
  }

  & > .container {
    position: relative;
  }

  .home_player_left, .home_player_right {
    padding: 0 20px;
    img {
      margin: 5px 0;
    }
  }
  .home_player_right {
    display: none;
    position: absolute;
    left: calc(100% + 10px);
    padding: 0;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .w-embed{
    //width: 1320px;
    width: 100%;
    @include video-player-ratio();

    .home_bg_white{
      .home_player_embed {
        padding-top: 0;
        border-radius: 24px;

        @include media-breakpoint-up(lg) {
          padding-bottom: 38%;
          background: $black;
        }

        video {
          border-radius: 24px;
        }
      }
    }
  }

}

#home_select_month{

  padding-top: 0;

  .tag-collection{
    position: absolute;
    background-color: $secondary;
    color: white;
    border-radius: 100px;
    padding: 5px 15px;
    margin-top: 20px;
    right: 20px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
  }

  .cartouche1 {
    background-image: url('/themes/custom/sorbonne_tv_lmc/assets/img/cartouche-1.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    .ps-custom{
      padding-left: 60px;
      position: relative;
      p{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        color: #506278;
      }
    }
  }
  .cartouche2 {
    background-image: url('/themes/custom/sorbonne_tv_lmc/assets/img/cartouche-2.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    .ps-custom{
      padding-left: 60px;
      position: relative;
      p{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        color: #506278;
      }
    }
  }
  .cartouche3 {
    background-image: url('/themes/custom/sorbonne_tv_lmc/assets/img/cartouche-3.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    .ps-custom{
      padding-left: 60px;
      position: relative;
      p{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        color: #506278;
      }
    }
  }

  h4{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    line-height: 12px;
    color: #506278;
  }

  .date{
    padding-left: 20px;
    background-size: contain;
    background-image: url('/themes/custom/sorbonne_tv_lmc/assets/img/dropdown-item-programme.png');
    background-repeat: no-repeat;
  }

  h3{
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    color: #00326E;
  }

  .focus-month{
    background-color: rgba(255, 215, 0, 0.24);
    background-image: url('/themes/custom/sorbonne_tv_lmc/assets/img/fond-cercle-jaune-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    border-radius: 16px;
    padding: 2rem;
    margin-top: 2rem;
    h5{
      font-family: "Expletus Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      line-height: 33px;
      color: #00326E;
    }
    p{
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      color: #00326E;
    }
  }
}


#home_select_news{
  background-color: #F1F4F6;
}


