.maintenance-page {
	#site {
		.section_wrapper {
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
		}

		#logo {
			max-width: 250px;
			margin-left: auto;
			margin-right: auto;
		}

		#main_content_area {
			max-width: none;
			padding: 0;
			margin: 0;
			
			#content_area {
				width: auto;
				float: none;
				margin: 0;
				padding: 0;
			}
		}
	}
}