#message_box {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 16px;
	border-radius: 16px;

	&.error-msg {
		background-color: $danger;
		color: $white;

		a {
			&:hover {
				color: $dark;
			}
		}
	}
	&.status-msg {
		background-color: $success;
		color: $white;
	}
	&.warning-msg {
		background-color: $warning;
		color: $white;
	}
}
