.user-login-page, .user-password-page, .user-register-page, .access-denied-page {
	#site-main {
    min-height: 400px;

		form {
			@include default-form-styles();
			max-width: 800px;
			margin: 0 auto;
			
			label {
				margin-bottom: 10px;
				display: block;
			}
      .form-item {
        &:not(:first-child) {
          margin-top: 25px;
        }
      }
			.form-actions {
				display: flex;
				justify-content: center;
				padding-top: 25px;

        .form-submit {
          background-position: center left calc(50% - 60px);
          padding-left: 45px;
        }
			}
		}

	}
}