<div class="homepage-search-keywords block-sep">
  <div class="hp-search-form">
    {{ search }}
  </div>
  <div class="keywords cell">
    {% for keyword in keywords %}
      <a href="{{ keyword.uri }}" title=" {{ keyword.title }}">{{ keyword.title }}</a>
    {% endfor %}
  </div>
</div>
