ul.user {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul.lone_user {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

div.pager {
  display: inline-block;
  text-align: center;
  width: 100%;
}