/*
    Feuille de style SCSS
    SMACSS : Responsive > Footer
    Par Ebizproduction
*/

#region-footer{
	padding: rem-calc($fgutter 0);
	font-size: rem-calc(14px); line-height: 2.29;
	#region-footer-first, #region-footer-second{
		padding: rem-calc($fgutter*2.5 0);
	}
}
