.paragraph--type--hit-list{
  .paragraph__column{
    .paragraph__column{
      background-color: $white;
      height: 100%;
      padding: rem-calc(40px) !important;
      text-align: center;
    }
    .btn-wrapper {
      background-color: $gold-p1ps;
      a {
        height: 100%;
        padding: rem-calc(40px);
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
}

.key-figures-section {
  .legende{
    p {
      line-height: 1.4;
    }
  }
}