.paragraph--type--hit-list{
  .paragraph__column{
    .paragraph__column{
      background-color: $white;
      height: 100%;
      padding: rem-calc(40px) !important;
      text-align: center;
    }
    .btn-wrapper {
      background-color: $gold-p1ps;
      a {
        height: 100%;
        padding: rem-calc(40px);
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
}

.key-figures-section {
  .legende{
    p {
      line-height: 1.4;
    }
  }
}


.site-content-wrapper {
  .btn,
  .button--primary,
  button:not(.reset-btn):not(.trigger):not(.link-style):not(.icon-container):not(.toolbar-item):not(.toolbar-icon),
  input[type="submit"].button {
    color: $text-white;
    background-color: $background-main-color;
    border-color: $text-main-color;
    &:hover{
      color: $text-main-color;
      background-color: transparent;
    }
    &.outline{
      border-color: $text-main-color;
      color: $text-main-color;
      background-color: transparent;
      &:hover{
        background-color: $background-main-color;
        color: $text-white;
        *{color: $text-white;}
      }
    }
  }
}


