.paragraph--type--card-horizontal {
  > div {
    > div {
      margin: 0;
      background-color: $background-light-gray;
      .col-media {
        margin-left: 0;
      }
      .col-content {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: rem-calc(16px 0);
      }
    }
  }
}