.sm-teaser__img-link {
  justify-content: center;
}
.sm-teaser__block {
  .sm-teaser__title {
    h2 {
      font-size: rem-calc(24px);
      line-height: 1.25;
      margin-bottom: rem-calc(24px);
      a {
        &:link,
        &:visited {
          color: $text-main-color;
        }
      }
    }
    p {
      color: $text-main-color;
      font-size: rem-calc(13px);
    }
  }
  .author_wrapper {
    display: flex;
    margin-top: rem-calc(18px);
    margin-bottom: rem-calc(18px);
    &:before {
      content: "";
      width: 22px;
      height: 24px;
      background: url("../images/p1ps2022/picto-author.svg") no-repeat center center / 100% auto;
      flex-shrink: 0;
      margin-right: rem-calc(10px);
    }
    .sm-teaser__title--author {
      margin-top: 0;
    }
  }
}



