.path-resultats-de-recherche {
  .main-container {
    .col-filters {
      .infos-sep {
        display: none;
      }
      h2 {
        color: $heading-color;
        margin-bottom: rem-calc(10px);
      }
      .block-facets-ajax {
        .facets-widget-checkbox .js-facets-checkbox-links .facet-item {
          label {
            border: 1px solid $gray2;
            border-radius: 50rem;
            font-size: rem-calc(13px);
          }
          input[checked=checked]+label {
            border-color: $gold-p1ps;
            background-color: $gold-p1ps;
            padding-right: 2rem;
            &:after {
              top: 50%;
              right: 0.5rem;
              transform: translateY(-50%);
            }
          }
          &:not(:last-of-type) {
            margin-bottom: 0.5rem;
          }
        } 
      }
    }

    .col-results {
      article {
        margin-bottom: 1.5rem;
        &.search-index {
          background-color: $background-light-gray;
          display: flex;
          .si-image {
            width: 200px;
            flex-shrink: 0;
            > div {
              height: 100%;
              display: flex;
              picture,
              img {
                width: 100%;

              }
            }
            &.si-picto-event {
              background-color: rgba($gold-p1ps, 0.5);
              svg {
                width: 70px;
                height: auto;
                fill: $gold-p1ps;
              }
            }
          }
          .si-info {
            padding: 1.5rem;
            h2 {
              @extend .h4-style;
            }
          }
        }
      }
    }
  }
}