.path-resultats-de-recherche {
  .main-container {
    .col-filters {
      .infos-sep {
        display: none;
      }
    }
    .col-results {
      article {
        &.search-index {
          background-color: $background-light-gray;
          display: flex
        }
      }
    }
  }
}