#numberkey {
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	background: #F6F0ED;
    padding-bottom: 40px;
}
#numberkey h2 {
	position: relative;
	width: 100%;
	margin: 40px 0;
	font-family: Gotham;
	font-size: 3em;
	line-height: 3.1em;
	text-transform: uppercase;
	color: #00326E;
}
#numberkey .groupeinfo {
	min-height: 146px;
    background-image: url('../img/icon-numberkey/etudiants.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
#numberkey .groupeinfo .chiffre p {
	font-family: Gotham, sans-serif;
	font-size: 6em;
	text-align: center;
	text-transform: uppercase;
	color: #00326E;
    margin: 0;
    line-height: 60px;
}
#numberkey .groupeinfo .legende p {
	font-family: Gotham, sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: #171717;
    text-transform: uppercase;
    font-weight: 900;
}
