{#{{ devel_breakpoint() }}#}
<div class="field field--name-field-media-oembed-video">
  <iframe
    class="media-oembed-content"
    src="{{ url }}?is_iframe=true&autoplay=true&loop=true"
    title="{{ title }}"
    size="240"
    width="640"
    height="360"
    style="padding: 0; margin: 0; border:0" allowfullscreen >
  </iframe>
</div>
