@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/brandon_grotesque.eot?') format('eot'),
  url('fonts/brandon_grotesque.otf') format('truetype'),
  url('fonts/brandon_grotesque.woff') format('woff'),
  url('fonts/brandon_grotesque.svg#BrandonGrotesque') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: url('fonts/brandon_grotesque_bold.eot?') format('eot'),
  url('fonts/brandon_grotesque_bold.otf') format('truetype'),
  url('fonts/brandon_grotesque_bold.woff') format('woff'),
  url('fonts/brandon_grotesque_bold.svg#BrandonGrotesqueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
#block-blocmedias2019  .field.field--name-field-block-medias-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    position: absolute;
    z-index: 10;
    width: 50vw;
    font-weight: 700;
    top: 369px;
    left: 243px;
}
#block-blocmedias2019 .field--name-field-media-image {
    background-color: #00326e;
    max-width: 1920px;
}
#block-blocmedias2019 .field--name-field-media-image .img-responsive {
    opacity: 0.5;
}
.paris1-bg-soft-grey {
  background-color: #f6f0ed;
}
.paris1-soft-grey {
  color: #f6f0ed;
}
.navbar-header {
  width: 100%;
}
.navbar-header .region {
  display: flex;
}
.region-navigation a.logo {
  width: 100%;
  text-align: center;
}
.region-navigation a.logo img {
  max-width: 100px;
}
.event.bootstrap-cards {
  width: 465px;
  background-color: #f6f0ed;
  margin: 10px 0;
}
.event.bootstrap-cards h2 {
  font-size: 20px;
}
.event.bootstrap-cards .event-image {
  height: 300px;
}
.logo-footer {
  width: 250px;
}
footer .region {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form#centres-up1-form {
  background: rgba(0, 50, 110, .7);
  width: 33%;
  height: inherit;
}
.map-centre {
  width: 100%;
  background: url('../images/bg-map.png') 0 0 transparent;
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: row-reverse;
}
.centre-up1 {
  height: inherit;
  color: #fff;
  padding: 15px;
}

/** Node Event **/
.event {
  font-family: 'Brandon Grotesque';
}
.event .social-and-calendar {
  background: #f6f0ed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event .field-add-to-cal, .event .field-add-to-cal a {
  color: #171717;
}
.event .field-add-to-cal a {
  font-family: font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.event .field-add-to-cal .fa-plus {
}
.event .social-buttons .links {
  margin: 0;
}
.event .social-buttons-links a {
  background: transparent;
  font-size: 2rem;
}
.event .social-buttons-links .facebook a {
  color: #3b5998;
}
.event .social-buttons-links .twitter a {
  color: #55acee;
}
.event .social-buttons-links .linkedin a {
  color: #0274b3;
}
