.paris1-bg-soft-grey {
  background-color: #f6f0ed;
}
.paris1-soft-grey {
  color: #f6f0ed;
}

.navbar-header {
  width: 100%;
}
.navbar-header .region {
  display: flex;
}
.region-navigation a.logo {
  width: 100%;
  text-align: center;
}
.region-navigation a.logo img {
  max-width: 100px;
}