.results__list {
 margin-bottom:24px;
}
.results__list > li {
 display:none;
 width:50%;
 clear:right;
 float:left;
 padding-left:0;
 padding-right:20px;
}
@media (min-width:750px) {
 .results__list > li {
  width:16.57143%;
  clear:right;
  float:left;
  padding-left:0;
  padding-right:20px;
 }
}
.results__list li.results__default {
 display:block;
}
@media (min-width:750px) {
 .results__list {
  margin-bottom:0;
 }
}
.results__list--simple {
 margin-bottom:24px;
}
.results__list--simple a:link,
.results__list--simple a:visited {
 border-bottom:0;
 color:#000;
}
.results__list--simple a:active,
.results__list--simple a:focus,
.results__list--simple a:hover {
 color:#000;
 text-decoration:underline;
}
.results__list--simple li {
 display:none;
}
.results__list--simple.is-active li,
.results__list--simple li.results__default {
 display:block;
}
@media (min-width:750px) {
 .results__list--simple {
  margin-bottom:0;
 }
}

.sm-teaser {
 padding-bottom:8px;
 border-bottom:1px solid #929497;
 margin-bottom:20px;
}
@media (min-width:750px) {
 .sm-teaser {
  margin-bottom:0;
  margin-top:20px;
 }
 .is-listed .sm-teaser {
  display:block;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:stretch;
  -ms-flex-align:stretch;
  align-items:stretch;
  border-bottom:0;
  border-top:1px solid #929497;
  padding:20px 0;
 }
 .is-listed .sm-teaser--author .sm-teaser {
  -webkit-box-align:start;
  -ms-flex-align:start;
  -ms-grid-row-align:flex-start;
  align-items:flex-start;
 }
}
.rail .sm-teaser {
 max-width:150px;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__block {
  width:57.14286%;
 }
}
@media (min-width:750px) {
 .is-listed .sm-teaser--author .sm-teaser__block,
 .is-listed .sm-teaser--podcast .sm-teaser__block,
 .is-listed .sm-teaser__block {
  display:block;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  clear:right;
  float:left;
  padding-left:11px;
  padding-right:11px;
 }
 .is-listed .sm-teaser--author .sm-teaser__block,
 .is-listed .sm-teaser--podcast .sm-teaser__block {
  width:71.42857%;
 }
}
.sm-teaser__block--secondary {
 display:none;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__block--secondary {
  display:block;
  width:28.57143%;
  clear:right;
  float:left;
  padding-right:0;
  padding-bottom:45px;
  position:relative;
 }
}
.sm-teaser--no-border {
 border-bottom:0;
}
.sm-teaser__img-link {
 position:relative;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:end;
 -ms-flex-align:end;
 align-items:flex-end;
 border-bottom:0;
}
.sm-teaser__img-link:active,
.sm-teaser__img-link:focus,
.sm-teaser__img-link:hover {
 border-bottom:0;
}
.sm-teaser__img-link:active>svg,
.sm-teaser__img-link:focus>svg,
.sm-teaser__img-link:hover>svg {
 background-color:#0aeba5;
}
.sm-teaser__img-link:focus img {
 outline:1px solid #0aeba5;
}
.sm-teaser__img-link img {
 width:100%;
}
.sm-teaser__img-link img {
 border:1px solid #d0d2d3;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__img-link {
  display:block;
  width:14.28571%;
  clear:right;
  float:left;
  padding-right:11px;
  padding-left:0;
 }
 .is-listed .sm-teaser__img-link .sm-teaser__podcast-img,
 .is-listed .sm-teaser__img-link>img {
  width:80%;
 }
}
.sm-teaser__podcast-img {
 display:block;
 position:relative;
}
.sm-teaser__podcast-img svg {
 position:absolute;
 display:inline-block;
 top:calc(50% - 25px);
 left:calc(50% - 25px);
 padding:5px;
 border:3px solid #fff;
 background-color:rgba(0,0,0,.5);
 height:50px;
 width:50px;
 fill:#fff;
}

.sm-teaser__title {
 margin-top:18px;
 margin-bottom:12px;
}
.sm-teaser__title h2 {
 font-size: 1.25rem;
 line-height: 1.7;
}
.sm-teaser__title h2 a:link,
.sm-teaser__title h2 a:visited {
 border-bottom:0;
 color:#000;
 text-decoration:none;
}
.sm-teaser__title h2 a:active,
.sm-teaser__title h2 a:focus,
.sm-teaser__title h2 a:hover {
 border-bottom:0;
 text-decoration:underline;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__title {
  font-size:35px;
  line-height:38px;
  margin-top:0;
  margin-bottom:4px;
 }
}
.sm-teaser__subtitle {
 display:none;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__subtitle {
  display:block;
  font-size:18px;
  line-height:20px;
  margin-bottom:0;
 }
}
.sm-teaser__title--author {
 margin-top:18px;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__title--author {
  font-size:35px;
  line-height:38px;
  margin-top:0;
  margin-bottom:8px;
 }
}
.sm-teaser__meta {
 display:block;
 color:#6d6e71;
 margin-bottom:4px;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__meta {
  display:block;
  font-size:18px;
  line-height:20px;
  margin-bottom:0;
  margin-top:5px;
 }
}
.is-listed .sm-teaser__meta.sm-teaser__meta--first {
 margin-top:24px;
 margin-top:auto;
}
.sm-teaser__desc {
 display:none;
}
@media (min-width:750px) {
 .is-listed .sm-teaser__desc {
  display:block;
  margin-top:12px;
 }
}
.sm-teaser__pricing {
 list-style:none;
 margin:0;
 padding:0;
}
.sm-teaser__pricing-item {
 display:inline-block;
 margin-right:10px;
 margin-bottom:5px;
 color:#000;
}
.sm-teaser__pricing-item span {
 display:block;
}
.sm-teaser__icons {
 list-style:none;
 margin:0;
 padding:0;
 position:absolute;
 bottom:0
}
.sm-teaser__icon,
.sm-teaser__icon a {
 display:inline-block
}
.sm-teaser__icon a:active,
.sm-teaser__icon a:focus,
.sm-teaser__icon a:hover,
.sm-teaser__icon a:link,
.sm-teaser__icon a:visited {
 border-bottom:0
}
.sm-teaser__icon a:active svg,
.sm-teaser__icon a:focus svg,
.sm-teaser__icon a:hover svg {
 fill:#0aeba5;
}
.sm-teaser__icon svg {
 width:36px;
 height:24px;
 margin:10px 10px 0 0;
}
.sm-teaser__icon svg .st0 {
 fill:transparent;
}
.sm-teaser__icon.is-saved svg .st0 {
 fill:#0aeba5;
 fill:#000;
}
