/*
    Feuille de style SCSS
    SMACSS : Responsive > Content
    Par Ebizproduction
*/

/* Ebizproduction : content */
body{
  &:not(.transparent){
    padding-top: rem-calc(114px);
  }
}

.sidebar-map{
  .geolocation-map-container{
    height: rem-calc(298px) !important;
    .leaflet-popup-pane{display: none;}
  }
}

.infos-entry + .infos-entry{
  margin-top: rem-calc(8px);
}
