/*
    Feuille de style SCSS
    SMACSS : Responsive > Content
    Par Ebizproduction
*/

/* Ebizproduction : content */
body{
  &:not(.transparent){
    padding-top: rem-calc(120px);
  }
  &.adminimal-admin-toolbar {
    #admin-toolbar-search-tab {
      .form-item.js-form-type-textfield {
        &:before {
          background: none !important;
        }
        input#admin-toolbar-search-input {
          height: 2rem !important;
          font-size: rem-calc(13px) !important;
          &::-webkit-input-placeholder {
            font-size: rem-calc(13px);
          }

          &:-moz-placeholder { /* Firefox 18- */
            font-size: rem-calc(13px);
          }

          &::-moz-placeholder { /* Firefox 19+ */
            font-size: rem-calc(13px);
          }

          &:-ms-input-placeholder {
            font-size: rem-calc(13px);
          }
        }
      }
    }
  }
}

.sidebar-map{
  .geolocation-map-container{
    height: rem-calc(298px) !important;
    .leaflet-popup-pane{display: none;}
  }
}

.infos-entry + .infos-entry{
  margin-top: rem-calc(8px);
}

.block-up1-keywords{
  h2{@extend .field-sep;}
}

.keywords{
  color: $text-main-color;
  .keywords-title{
    @include font-bold();
    font-family: $font-main;
  }
  *{
    width: 33%; display: inline-block;
  }
  .path-frontpage &{
    *{width: 47%;}
  }
  a{
    font-size: rem-calc(15px);
  }
}

.header-img{
  img{
    width: 100%; height: 100%;
    object-fit: cover;
  }
}
#block-p1ps2019-motsclessaisonniers{
  @extend .section-sep-top.big;
}
.block-local-tasks-block{
  @include flex(); @include flex-align(center,middle);
  position: fixed; bottom: 0; width: 100%; z-index: 1000;
  ul{
    li{
      float: left;
      &:not(:last-of-type){
        margin-right: rem-calc(16px);
        &:after{
          content: "|"; padding-left: rem-calc(16px);
        }
      }
      a{text-decoration: none;}
    }
  }
}
.event{
  h1 {
    font-size: rem-calc(45px);
  }
  .fa-map-signs::before{
    font-size: 1.25rem;
    padding: rem-calc(0 12px);
  }
  &.bootstrap-cards {
    .categ-style {
      width: 125px;
      font-size: rem-calc(16px);
    }
    .date-style {
      font-size: rem-calc(16px);
    }
    h2 {
      font-size: rem-calc(20px);
    }
  }
}
.news, .news2018 {
  h1 {
    font-size: rem-calc(45px);
  }
  &.teaser {
    .box-content {
      padding: 2.25rem 1.25rem .5rem;
      .title {
        font-size: 1.25rem;
      }
      .categ-style {
        margin: 0;
      }
      .txt.medium {
        font-size: rem-calc(18px);
        margin: 1.25rem 0rem;
      }
    }
  }
}
//============ Offer ============
//Full
.offre-emploi {
  #event-content {
    ul {
      margin-top: 0.5rem;

      li::before {
        font-size: 3em;
        line-height: 0em;
        vertical-align: middle;
        padding-bottom: rem-calc(10px);
      }
    }
    h2, h3 {
      margin-top: 2rem;
    }
    h4 {
      margin: 1rem 0 2rem;
    }
    .field {
      p {
        margin-top: 1rem;
      }
    }
  }
  #event-sidebar {
    .field--item {
      font-weight: 800;
    }
    .field--label-inline {
      display: inline-flex;

      .field--label {
        display: block;
        width: 100%;
      }

      .field--item {
        padding-left: rem-calc(5px);
      }
    }
    .jobinfo, .toapp, .location {
      text-align: center;
      padding: 0 rem-calc(10px) rem-calc(10px);
      border: 2px solid #D1D1D1;
      font-size: 1.2em;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-top: rem-calc(50px);
    }
    .fa, .fas{
      color: #fff;
      background-color:#D1D1D1;
      font-size: 3em;
      border: 2px solid #fff;
      border-radius: 50%;
      text-align: center;
      margin-top: rem-calc(-45px);
      padding: rem-calc(15px);

      &::before {
        font: inherit;
      }
    }
  }
}

//Teaser
.offer {
  .blue-box {
    .categ-style {
      border: 1px solid #fff;
    }
    .title {
      color: #fff;
    }
  }
}

article{
  .paragraph, .paragraph-color {
    .field--type-text-long {
      ul{
        list-style-type: disc;
        list-style-position:inside;
      }
    }
  }
}

//Special events : Viva / Soutenances de these

.viva {
  h2.title.semi-infos-sep {
    margin-top: rem-calc(1rem);
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
  }

  .box-content {
    padding: rem-calc(32px 20px);
    .top-infos {
      /*padding: rem-calc(0 15px);
      margin-top: rem-calc(15px);*/
    }

    .viva-title {
      width: auto;
      display: block;
      text-transform: capitalize;
      padding: rem-calc(8px);
      background-color: #08366A;
      color: #fff;
      font-weight: bold;
      margin-top: rem-calc(-15px);
      font-size: 1.25em;
    }

    .thesis-direction {
      width: 100%;
      display: block;
      color: #000;
      margin-bottom: rem-calc(15px);
    }

    .direction-name {
      text-transform: capitalize;
    }

    .edo {
      margin: rem-calc(32px 0);
    }

    div.date-style {
      font-size: 1rem;
      margin-bottom: rem-calc(16px);
    }

    .event-details {
      margin-bottom: rem-calc(16px);
    }

    .field-add-to-cal {
      max-width: none;
      width: 100%;
    }
  }
}

.page-personnelle {
  a.social-link {
    &:hover {
      color: #BE8719;
      text-decoration: none;
    }
  }
  .resume {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fa-file-pdf::before {
    font-size: rem-calc(48px);
  }
  .mediafichierlien {
    width: 95%;
    display: block;
    font-size: 1.5em;
    color: #fff;
    border-top: 1px solid #FFF;
    margin-top: 0.9375rem;
    border-bottom: 1px solid #fff;
    margin-bottom: 0.9375rem;
    font-weight: bold;
    text-align: center;
  }
}
