.event {
  font-family: 'Brandon Grotesque';
  .bottom-infos{
    @include flexDisplay();
    @include flexDisplayAlign('space-between');
  }
  .social-and-calendar {
    background: #f6f0ed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .field-add-to-cal{
    color: $dark-gray2; @include setFont($fontType-bold);
    max-width: 50%; text-align: right;
    a{
      color: $dark-gray2;
      font-family: $font-second;
      font-size: rem-calc(18px); line-height: 1.22;
    }
  }
  .social-buttons{
    flex: 0 0 50%;
    @include flexDisplay(); @include flexDisplayAlign('center-middle');
    .links {
      margin: 0;
      a{
        background: transparent;
      }
    }
  }
  .social-buttons-links{
    @include flexDisplay();
    .facebook, .twitter, .linkedin{
      a{
        color: $text-main-color;
      }
    }
  }
  &.bootstrap-cards{
    .box-content{
      padding: rem-calc(20px 24px 24px 24px);
      h2{
        font-size: rem-calc(20px); line-height: 1.2;
        *{font-size: rem-calc(20px); line-height: 1.2;}
      }
      .field--name-field-event-date{
        text-align: right;
        .date-day-entry{
          display: inline-block;
        }
        >div:last-child{#{$margin-left}: rem-calc(6px);}
      }
    }
  }
}
