.page-personnelle {
  :target {
    display: block;
    position: relative;
    top: -236px;
    visibility: hidden;
  }
  .page_personnelle {
    margin-top: 2rem;
    ul {
      list-style-type: initial;
      margin-left: 1rem;
    }
    .left-fix-aside {
      margin-top: 2rem;
      .progress {
        position: relative;
        float: none;
        text-align: center;
        width: 100%;
        display: block;
        margin: 0;
        background-color: transparent;
        border-radius: unset;
        height: auto;
        .wrapper {
          position: absolute;
          width: 16vw;
          margin-left: 1rem;
          border: 1px solid $main-color-darken;
          &.affix {
            position: fixed;
            top: 205px;
            left: 1rem;
            width: 14vw;
          }
          .link-wrapper {
            padding: 1rem 0;
            &:hover {
              background: $gray-menu;
            }
            .nav-link {
              font-size: 1.125rem;
            }
          }
        }
        .bar {
          position: relative;
          display: block;
          width: 100%;
          height: 40px;
          margin-bottom: 10px;
          background-color: #fff;
          text-align: center;
          border: 1px solid #08366a;
          padding: 0 1rem;

          span {
            margin-left: -1rem;
            position: absolute;
            display: block;
            top: 0;
            height: 40px;
            z-index: 0;
            background-color: #08366a;
          }

          a {
            line-height: 40px;
            position: relative;
            z-index: 1;
            color: #fff;
            mix-blend-mode: exclusion;
            text-transform: uppercase;
          }

          i {
            position: absolute;
            right: -30px;
            height: 40px;
            line-height: 40px;
            color: #36a7f3;

            -webkit-transition: color .3s;
            transition: color .3s;
          }
        }
      }
    }
    .right-mov-content {
      .page_personnelle-name {
        width: 100%;
        h1 {
          font-size: 2.5rem;
          margin: 1rem 0;
        }
      }
      .colonnecentrale {
        h2 {
          font-size: 1.875rem;
        }
        .sm-teaser__title {
          h2 {
            font-size: rem-calc(18px);
          }
        }
        h3 {
          font-size: 1.25rem;
        }

        h4 {
          font-size: 1.1rem;
        }

        .new-section {
          margin: 2rem 0;
        }
        .new-section.about {
          .infos-sep {
            .btn {
              display: inline-block;
              text-transform: initial;
              margin-top: 0.5rem;
              font-size: 1rem;
              &:hover {
                a {
                  color: #fff;
                  text-decoration: none;
                }
              }
            }
          }
        }

        ul.publications-list {
          font-size: 1rem;
          font-family: "Montserrat";
        }

        .accordion-item {
          margin: 1rem 0;
        }

        .new-section.publications {
          .pub-title {
            color: #00326e;
            font-size: 1.1rem;
          }
          .pub-author {}

          #res_script {
            font-family: Montserrat;

            .Rubrique {
              font-weight: bold;
              color: #00326e;
              padding-top: 1rem;
              border-bottom: 1px solid #00326e;
            }

            .SousRubrique {
              border-bottom: 1px solid grey;
              margin: 0 1.1rem;
              padding: 1rem 0;
              text-transform: uppercase;
            }

            .NoticeRes {
              padding-left: 2rem;
            }

            .NoticeRes::before {
              content: "- ";
              font-weight: bold;
            }

            .ValeurRes {
              display: inline;
            }

            .ChampRes {
              display: none;
            }

            .LienBibtex {
              display: none;
            }

            .Type_de_document {
              display: none;
            }

            .Fichier_joint {
              display: none;
            }
          }
        }
      }

      .colonnedroite {
        a {
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
        .userImg {
          width: 100%;
          padding-top: 100%;
          position: relative;
          margin-top: 0;
          overflow: hidden;
          margin-bottom: 0;
          z-index: -1;

          img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            margin-top: -25%;
          }
        }
        .infos-sep {
          .details {
            text-align: center;
            .display-inline {
              margin-left: 0;
              margin-top: 1rem;
              border: 1px solid #fff;
            }
            .fa-3x {
              font-size: 2.5rem;
            }
            .social-link {
              padding: 0 5px;
            }
          }
        }
        .details {
          a {
            &:hover {
              text-decoration: none;
            }
          }
          .img-svg {
            width: 32px;
          }
          .epi {
            img {
              margin-top: -0.4rem;
              margin-left: -2rem;
            }
          }
          .academia {
            img {
              margin-top: -0.4rem;
            }
          }
        }
        .field--name-field-resume {
          border: 1px solid #005bc3;
          text-align: center;
          display: block;
          background-color:#08366A;
          color:#fff;
          padding: 4.5rem rem-calc(15px);

          span.fa::before {
            font-size: 3.125rem;
            color:#fff;
          }
          span.fa {
            width: 100%;
            color: #fff;
          }
          .mediafichierlien {
            width: 100%;
            display: block;
            font-size: 1.5em;
            color:#fff;
            border-top: 1px solid #FFF;
            margin-top: rem-calc(15px);
            border-bottom: 1px solid #fff;
            margin-bottom: rem-calc(15px);
            font-weight: bold;
          }
          .mediafichiertype {
            display: block;
          }
          .mediafichierpoids {
            display: block ruby;
          }

        }

        .cell {
          width: 100%;
          margin: 0;
          padding-top: 100%; /* 1:1 Aspect Ratio */
          position: relative;

          &.resume {
            padding-top: 0;
          }

          .cv {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }
        .fa-file-pdf::before {
          font-size: 3vw;
        }
        .paragraph--type--medias {
          padding:.5rem 0 1.5rem !important;
          .paragraph--type--audio-media, .paragraph--type--video-media {
            padding:.5rem 0 1.5rem !important;
          }
          .cell {
            padding-top: 0;
          }
        }
        .results__list {
          margin-left: 0;
          margin-bottom: 30px;
          .results__default.cell {
            padding-top: 0;
            a:hover {
              color: $background-main-color;
            }
          }
        }
      }
    }

    .content {
      float: left;
      margin-bottom: 3rem;
      padding: 0 2rem;
    }
  }
}

@media screen and (max-width: 1023px) {
  .page_personnelle {
    .left-fix-aside {
      display: none;
    }
    .page_personnelle-name {
      top: 60px;
      position: absolute;
    }
  }
}
