/*
    Feuille de style SCSS
    SMACSS : Responsive > Content
    Par Ebizproduction
*/

/* Ebizproduction : user */

#edit-cas-login-link {
  padding: 0.5625rem 1.5rem;
  transition: all 150ms ease 0s;
  font-size: 0.9375rem;
  line-height: 1.46;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 1.5rem;
  display: inline-block;
  box-shadow: 0 0 0 1px #00326e inset;
  color: #00326e;
  text-decoration: none;
  margin: 50px 0;
}

#edit-cas-login-link:hover {
  background-color: #00326e;
  color: #fff;
}
